<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.itrip.prj.langcd.mapper.LangCdMapper">

<select id="langCdList" resultType="co.itrip.prj.langcd.service.LangCdVO">
	select * from cmmncd
</select>
</mapper>