<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.itrip.prj.review.mapper.ReviewMapper">

	<!-- 리뷰 리스트, 별아이콘 뿌리기, 평점평균 [박은지] -->
	<select id="reviewList" resultType="co.itrip.prj.review.service.ReviewVO">
		SELECT REVIEW_NO,
			   GUIDE_ID,
			   NICK,
			   CONTENT,
			   DT,
			   CTGRY,
			   MEMBER_ID,
			   STAR,
			   NO
		FROM REVIEW
		WHERE GUIDE_ID = #{guideId}	   
			
	</select>
	
	<!-- 상담 리뷰 등록 [박은지] -->
	<insert id="reviewConsultInsert">
	<selectKey keyProperty="reviewNo" order="BEFORE" resultType="int">
		SELECT 
		   CASE WHEN MAX(REVIEW_NO) IS NULL THEN 1 
		   ELSE MAX(REVIEW_NO)+1 
		   END 
			 FROM REVIEW
	</selectKey> 
	INSERT INTO REVIEW VALUES (#{reviewNo},'enji','소라미',#{content}, sysdate, 'CONSULT', #{memberId}, #{star}, 88 )
	</insert>
	
	<insert id="classReviewInsert">
		<selectKey keyProperty="reviewNo" order="BEFORE" resultType="int">
			SELECT 
			   CASE WHEN MAX(REVIEW_NO) IS NULL THEN 1 
			   ELSE MAX(REVIEW_NO)+1 
			   END 
			 FROM REVIEW
		</selectKey>
			INSERT INTO REVIEW VALUES (#{reviewNo}, #{guideId}, #{nick}, #{content}, sysdate, 'CLASS', #{memberId}, #{star}, #{no} )
	</insert>
	
	<select id="classReviewSelect" resultType="co.itrip.prj.review.service.ReviewVO">
		select re.review_no, re.guide_id, re.nick, re.content, re.dt, re.ctgry, re.member_id, re.star, re.no  
		from review re, payform pay
		where re.no = pay.no
		and re.member_id = pay.member_id
		and pay.category = 'CLASS'
		and pay.member_id = #{memberId}
		and pay.no = #{no}
	</select>
	
		<select id="consultReviewSelect" resultType="co.itrip.prj.review.service.ReviewVO">
		select re.review_no, re.guide_id, re.nick, re.content, re.dt, re.ctgry, re.member_id, re.star, re.no  
		from review re, payform pay
		where re.no = pay.no
		and re.member_id = pay.member_id
		and pay.category = 'CONSULT'
		and pay.member_id = #{memberId}
		and pay.no = #{no}
	</select>
	
	<delete id="deleteReview">
		 delete review 
   		 where review_no = #{reviewNo}
	</delete>
	
</mapper>