<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.itrip.prj.cbtUser.mapper.CbtUserMapper">


<select id="cbtUserList" resultType="co.itrip.prj.cbtUser.service.CbtUserVO"
 						parameterType="co.itrip.prj.cbtUser.service.CbtUserVO">
	select cbt_no, ques, lang_cd, cnsr, ex1, ex2,
			ex3, ex4, attach, attach_dir, cnsr_cnt, call,
			explna, utp_cd, lang_cd, member_id 
		 	from cbt_user where lang_cd = #{langCd}
</select>

<insert id="cbtUserInsert">
	<selectKey keyProperty="cbtNo" order="BEFORE" resultType="int">
		SELECT CASE WHEN MAX(cbt_no) IS NULL THEN 1 
			ELSE  MAX(cbt_no)+1 END ID 
		    FROM cbt_user
	</selectKey>
		insert into cbt_user values(#{cbtNo},#{ques},#{cnsr},#{ex1},#{ex2},#{ex3},#{ex4},
#{attach},#{attachDir},0,0,#{explna},#{utpCd},#{langCd},#{memberId})
</insert>

<select id="cbtUserSelectOne" parameterType="co.itrip.prj.cbtUser.service.CbtUserVO"
	resultType="co.itrip.prj.cbtUser.service.CbtUserVO">
	SELECT U.cbt_no,U.ques,U.lang_cd, U.cnsr, U.ex1, U.ex2,
			U.ex3, U.ex4, U.attach, U.attach_dir, U.cnsr_cnt, U.call,
			U.explna, U.utp_cd, U.member_id ,C.cd_name
FROM (SELECT ROWNUM, 
cbt_no, ques, lang_cd, cnsr, ex1, ex2,
			ex3, ex4, attach, attach_dir, cnsr_cnt, call,
			explna, utp_cd, member_id  FROM cbt_user where lang_cd=#{langCd}) U,cmmncd C
WHERE C.cd_ini = 'L' 
and C.cd_no = U.lang_cd 
and rownum = #{rownum}


</select>

<select id="ajaxQuestion" parameterType="co.itrip.prj.cbtUser.service.CbtUserVO"
	resultType="co.itrip.prj.cbtUser.service.CbtUserVO">
SELECT U.cbt_no,U.ques,U.lang_cd, U.cnsr, U.ex1, U.ex2,
			U.ex3, U.ex4, U.attach, U.attach_dir, U.cnsr_cnt, U.call,
			U.explna, U.utp_cd, U.member_id ,C.cd_name
FROM (SELECT ROWNUM AS rowno, 
cbt_no, ques, lang_cd, cnsr, ex1, ex2,
			ex3, ex4, attach, attach_dir, cnsr_cnt, call,
			explna, utp_cd, member_id  FROM cbt_user where lang_cd=#{langCd}) U,cmmncd C 
WHERE C.cd_ini = 'L' 
and C.cd_no = U.lang_cd 
and U.rowno = #{rownum}

</select>
<!-- ORDER BY DBMS_RANDOM.VALUE  <![CDATA[AND ROWNUM <= 1]]> -->
 
 
 	<select id="cbtUserMyList" parameterType="co.itrip.prj.cbtUser.service.CbtUserVO" resultType="co.itrip.prj.cbtUser.service.CbtUserVO">
		SELECT CBT_NO,
	           CASE WHEN LENGTH(QUES) > 30 THEN SUBSTR(QUES,0,30)||'..'
	                ELSE SUBSTR(QUES,0,30)
	           END AS QUES, 
	           CNSR , CNSR_CNT, CALL,
	           UTP_CD,
	           LANG_CD
	    FROM CBT_USER 
	    WHERE MEMBER_ID = #{memberId}
        ORDER BY CBT_NO
	</select>
	
	<select id="cbtUserMyOne" parameterType="co.itrip.prj.cbtUser.service.CbtUserVO" resultType="co.itrip.prj.cbtUser.service.CbtUserVO">
		  SELECT * FROM CBT_USER WHERE CBT_NO = ${cbtNo}
	</select>
	
	
	<update id="cbtUserMyUpdate">
		update cbt_user
		<set>
			<if test="ques != null">ques = #{ques},</if>
			<if test="utpCd != null">utp_cd = #{utpCd},</if>
			<if test="langCd != null">lang_cd = #{langCd},</if>
			<if test="ex1 != null">ex1 = #{ex1},</if>
			<if test="ex2 != null">ex2 = #{ex2},</if>
			<if test="ex3 != null">ex3 = #{ex3},</if>
			<if test="ex4 != null">ex4 = #{ex4},</if>
			<if test="cnsr != null">cnsr = #{cnsr},</if>
			<if test="explna != null">explna = #{explna},</if>
			<if test="attach != null">attach = #{attach},</if>
			<if test="attachDir != null">attach_dir = #{attachDir}</if>
		</set>
		where CBT_NO = #{cbtNo}
	</update> 
	
	<delete id="cbtUserMyDelete">
		delete from cbt_user where cbt_no = #{cbtNo}
	</delete>
</mapper>