<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>즐겨찾기</title>
<style type="text/css">
.content { /*컨텐츠 넓이지정*/
	margin: 0 auto;
	height: 750px;
	width: 80%;
	text-align: center;
}

.card-content {
	margin: 10px;
	overflow: auto;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<section class="section">
			<div class="card">
				<div class="card-header">
					<h3>즐겨찾기</h3>
					<br>
					<h6>등록한 즐겨찾기를 확인 할 수 있습니다.</h6>
					<hr>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12 bmCdPram">
						<!--탭 -->
							<ul class="nav nav-tabs" id="myTab" role="tablist" >
								<li class="nav-item" role="presentation">
								    <a class="nav-link active " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
									 aria-selected="true"> <i data-feather="star"></i> 중요한 문제  </a>
								</li>
								<li class="nav-item" role="presentation" onclick="bmparam(2)">
								    <a class="nav-link " id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="bm2"
									 aria-selected="false"><i data-feather="star"></i> 개념이 부족한 문제 </a>
								</li>
								<li class="nav-item" role="presentation">
								    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
									 aria-selected="false"><i data-feather="star"></i> 실수  </a>
								</li>
							</ul>
							<br>
							<!--탭끝-->
							<!-- 탭 1-->
							<div class="tab-content" id="myTabContent">
							
								<div id="bookmark1"> 
							        <div th:if="${#lists.isEmpty(bookmark)}">
								        <div class="content">
									        <div class="card-content">
										       <h4 class="form-check" style="padding: 50px;"> 즐겨찾기한 문제가 업습니다</h4>
									        </div>
								        </div>
							        </div>

									<div th:unless="${#lists.isEmpty(bookmark)}"> 
									<div >
											<section id="content-types">
												<div class="row">
													<div class="col-md-3 col-sm-8" th:each="bm:${bookmark}" >
														<div class="card">
															<div class="card-content">
																<div class="card-body">
																	<h4 class="card-title">문제 <span th:text="${bm.cbtNo}"></span></h4>
																	<b class="card-text" th:text="${bm.ques}"></b>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
										<div>
									</div>
								</div>
							    <!-- 탭내용1 끝 -->
							    
							    <!-- 탭내용2-->
							     <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...2</div>
							     
							     <!--탭내용3-->
  							     <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">..3.</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>
<script>
    $(document).ready(function() {
			bmCdPram();
	})
		
    $('.bookmark').on("click","li",function(e) {})
    
</script>
</div>
</body>
</html>