<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.itrip.prj.payform.mapper.PayFormMapper">

<select id="payCount" resultType="int">
	SELECT NVL(COUNT(*),1)
	 FROM PAYFORM
</select>

<insert id="clPayformInsert" parameterType="co.itrip.prj.payform.service.PayformVO">
	INSERT INTO PAYFORM VALUES(#{merchantUid},#{name},#{amount},#{member_id},'CLASS',#{no},sysdate, to_date(#{conday}, 'yyyy-MM-dd'), #{beginTime},#{beginTime})
</insert>

<insert id="coPayformInsert">
	INSERT INTO PAYFORM VALUES(#{merchantUid},#{name},#{amount},#{member_id}, #{category} ,#{no},sysdate, to_date(#{conday}, 'yyyy-MM-dd'), #{beginTime},#{beginTime})
</insert>
</mapper>
