<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Class 강의장</title>
<style>
iframe {
	min-height: 1000px;
}

#btn {
	text-align: center;
}

#chkBtn {
	display: inline-block;
}
</style>
</head>
<body>
	<!-- 메타버스 1형 -->
	<div layout:fragment="content" th:object="${chat}">
		<div class="divider">
			<div class="divider-text">강의실</div>
			<input type="hidden" id="classNo" class="form-control" name="classNo" th:value=${chat.classNo} readonly="readonly">
			<input type="hidden" id="memberId" class="form-control" name="memberId" th:value=${#authentication.principal.member.memberId} readonly="readonly">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		</div>
		
		<iframe
			th:src="|https://www.vchatcloud.com/chat-demo/iframe/iframe_metaverse/type_1/index.html?channelKey=${chat.chatLink}|"
			allow="camera *;microphone *;display-capture *" frameborder='no'
			scrolling='no' marginwidth='0' marginheight='0' width='100%'
			height='100%'></iframe>
		<hr>
		
		<div id="btn">
			<button id="chkBtn" class="btn btn-primary btn-md mb-0">출석체크</button>
			<button id="classList" class="btn btn-outline-primary btn-md mb-0">목록으로</button>
		</div>
		<script>
			//출석체크
			$("#chkBtn").on("click", function(){
				let classNo = $("#classNo").val(); //클래스번호
				let memberId = $("#memberId").val(); //수강자 이름(현재 로그인한 사람)
				let csrfHeaderName = "${_csrf.headerName}";
				let csrfToken=$("input[name=_csrf]").val();
				//ajax 처리 : 클릭하면 해당유저의 attend의 attend_cnt + 1 / 만약 해당 class의 class_cnt와 비교해서 같으면 수료버튼 or 수료상태로...update
				$.ajax({ 
					url : "/classChk.do",
					type : "post",
					data : {'classNo' : classNo, 'memberId' : memberId},
					beforeSend: function(xhr){
						xhr.setRequestHeader("AJAX", true);
					    xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken);
					},
					success : function(data){
						if(data == 1){
							alert("출석체크가 완료되었습니다.");
							$("#chkBtn").attr("disabled", true);

							    ClassAttend(data);

						}
					}
				})
			})
			

			// 수업회차랑 출석 수 비교
			function ClassAttend(data) {
				console.log(data);
			}
			

			//클래스 리스트로 이동
			$("#classList").on("click", function(){
				location.href="/mClass";
			})
			
			//수료 : update하고 class_cnt와 비교해서 같으면 수료하기...(수정)
			
		</script>
	</div>
</body>
</html>