<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<script src="js/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="bootstrap/voler/assets/css/bootstrap.css">
<link rel="stylesheet"
	href="bootstrap/voler/assets/vendors/simple-datatables/style.css">
<link rel="stylesheet"
	href="bootstrap/voler/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet" href="bootstrap/voler/assets/css/app.css">
<link rel="shortcut icon"
	href="bootstrap/voler/assets/images/favicon.svg" type="image/x-icon">
<style>
.table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 80%;
}
.card {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 80%;
}
</style>
</head>
<body>
	<div class="table-responsive" layout:fragment="content">
		<div th:each="com: ${pageInfo.list}">
			<div class="card">
				<div class="card-content">
					<div class="card-body">
						<h6 class="card-title" th:text=${com.title}>글제목</h6>
					</div>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">글작성자(카테고리: 스터디면 보이고 자유면 안보임)</li>
					<li class="list-group-item">글내용</li>
					<li class="list-group-item">작성일자</li>
				</ul>
			</div>
		</div>
		<br>
		<!-- 페이지네이션 / hasNextPage 버튼 나중에 보고 수정 -->
		<nav aria-label="Page navigation example">
			<ul class="pagination pagination-info  justify-content-center" th:if="${pageInfo.hasNextPage}">
				<li class="page-item" th:if="${pageInfo.hasNextPage}">
					<a class="page-link" th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|" rel="next">더보기</a>
				</li>
			</ul>
		</nav>
		
		<script>
			function gopage(p) {
				location.href = '/pageTest.do?pageNum=' + p;
			}
			$("#comList").on("click", function(e) {
				let comNo = $(e.target).prev().html();
				location.href = "/selectCommunity.do?comNo=" + comNo;
			})
		</script>
	</div>
</body>
</html>