<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<script src="js/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="bootstrap/voler/assets/css/bootstrap.css">
<link rel="stylesheet"
	href="bootstrap/voler/assets/vendors/simple-datatables/style.css">
<link rel="stylesheet"
	href="bootstrap/voler/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet" href="bootstrap/voler/assets/css/app.css">
<link rel="shortcut icon"
	href="bootstrap/voler/assets/images/favicon.svg" type="image/x-icon">
<style>
.table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 80%;
}
</style>
</head>
<body>
	<!-- 카드 템플릿 찾아서 옮기기 -->
	<div class="table-responsive" layout:fragment="content">
		[[${pageInfo.hasNextPage}]]
		<h4>전체 게시글</h4>
		<!-- page 수(total) -->
		<table class="table mb-0">
			<thead>
				<tr>
					<th>글번호</th>
					<th>글제목</th>
					<th>작성자</th>
					<th>작성일자</th>
					<th>조회수</th>
				</tr>
			</thead>
			<tbody id="comList">
				<tr th:each="com : ${pageInfo.list}">
					<td th:text="${com.comNo}" class="text-bold-500"></td>
					<td th:text="${com.title}" class="text-bold-500"></td>
					<td th:text="${com.memberId}" class="text-bold-500"></td>
					<td th:text="${com.dt}" class="text-bold-500"></td>
					<td th:text="${com.hit}" class="text-bold-500"></td>
				</tr>
			</tbody>
		</table>
		<br>
		<!-- 페이지네이션 / hasNextPage 버튼 나중에 보고 수정 -->
		<nav aria-label="Page navigation example">
			<ul class="pagination pagination-info  justify-content-center">
				<li class="page-item disabled" th:if="${pageInfo.isIsFirstPage()}"><span
					class="page-link">«</span></li>
				<li class="page-item"
					th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
					class="page-link"
					th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
					rel="prev">«</a></li>
				<li
					th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
					th:each="page:${pageInfo.navigatepageNums}"><span
					class="page-link" th:if="${pageInfo.pageNum eq page}"
					th:text="${page}"></span> <a class="page-link"
					th:unless="${pageInfo.pageNum eq page}"
					th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
						}}</a></li>
				<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
					class="page-link"
					th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
					rel="next">»</a></li>
				<li class="page-item disabled" th:unless="${pageInfo.hasNextPage}"><span
					class="page-link">»</span></li>
			</ul>
		</nav>
		<script>
			function gopage(p) {
				location.href = '/pageTest.do?pageNum=' + p;
			}
			$("#comList").on("click", function(e) {
				let comNo = $(e.target).prev().html();
				location.href = "/selectCommunity.do?comNo=" + comNo;
			})
		</script>
	</div>
</body>
</html>