<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<script src="js/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="bootstrap/voler/assets/css/bootstrap.css">
<link rel="stylesheet"
	href="bootstrap/voler/assets/vendors/simple-datatables/style.css">
<link rel="stylesheet"
	href="bootstrap/voler/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet" href="bootstrap/voler/assets/css/app.css">
<link rel="shortcut icon"
	href="bootstrap/voler/assets/images/favicon.svg" type="image/x-icon">
<style>
.table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
}

.card {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
}

.js-load {
	display: none;
}

.js-load.active {
	display: block;
}

.is_comp.js-load:after {
	display: none;
}

.btn-wrap, .lists, .main {
	display: block;
}

.main {
	max-width: 640px;
	margin: 0 auto;
}

.lists {
	margin-bottom: 4rem;
}

.btn-wrap {
	text-align: center;
}
</style>
</head>
<body>
	<div id="js-load" class="table-responsive" layout:fragment="content">
		<div th:each="com: ${comList}">
			<div class="card main">
				<ul class="lists list-group list-group-flush">
					<li class="list-group-item js-load">
						<span><h4 th:text=${com.title} style="color: white;"></h4></span>
						<hr>
						<span th:text=${com.memberId} th:if="${com.ctgry}=='스터디'"></span>
						<hr>
						<span th:text=${com.content}></span>
						<hr>
						<span th:text=${com.dt}></span>
					</li>
				</ul>
			</div>
		</div>
		<br>
		<div id="js-btn-wrap" class="btn-wrap">
			<a href="javascript:;" class="button">더보기</a>
		</div>
		<script>
			$(window).on("load", function() {
				load("#js-load", "6");
				$("#js-btn-wrap .button").on("click", function() {
					load("#js-load", "6", "#js-btn-wrap");
				})
			});

			function load(id, cnt, btn) {
				var list = id + " .js-load:not(.active)";
				var length = $(list).length;
				var total_cnt;
				if (cnt < length) {
					total_cnt = cnt;
				} else {
					total_cnt = length;
					$('.button').hide()
				}
				$(list + ":lt(" + total_cnt + ")").addClass("active");
			}
		</script>
	</div>
</body>
</html>