<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.itrip.prj.cbtGuide.mapper.CbtGuideMapper">

	<!-- List<CbtGuideVO> cbtGuideList();//전체조회(R) -->
	<select id="cbtGuideList" resultType="co.itrip.prj.cbtGuide.service.CbtGuideVO">
	    SELECT * FROM CBT_GUIDE
	</select>
	
	
	<!-- List<CbtGuideVO> cbtGuideListTab(CbtGuideVO vo); //탭 클릭시 유형별, 언어별로 조회 -->
	<select id="cbtGuideListTab" parameterType="co.itrip.prj.cbtGuide.service.CbtGuideVO" resultType="co.itrip.prj.cbtGuide.service.CbtGuideVO">
	    SELECT * FROM CBT_GUIDE 
	    <choose>
			<when test = "gtpCd =='4'">
			WHERE GTP_CD IN('1','2') AND LANG_CD='${langCd}'
			</when>
			<otherwise>
			WHERE GTP_CD='${gtpCd}' AND LANG_CD='${langCd}'
			</otherwise>
		</choose>
	     
	</select>
	
	
	<!-- CbtGuideVO cbtGuideListOne(CbtGuideVO VO);//단건조회(R) -->
	<select id="cbtGuideListOne" parameterType="co.itrip.prj.cbtGuide.service.CbtGuideVO" resultType="co.itrip.prj.cbtGuide.service.CbtGuideVO">
	</select>
	
	<!-- public int cbtGuideInsert(CbtGuideVO VO); //등록(C) -->
	<insert id="cbtGuideInsert">
	</insert>
	
	<!-- public int cbtGuideUpdate(CbtGuideVO VO); //수정(U) -->
	<update id="cbtGuideUpdate">
	</update>
	
	<!-- public int cbutGuideDelet(CbtGuideVO VO);//삭제(D) -->
	<delete id="cbutGuideDelet">
	</delete>
</mapper>