<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<!-- <meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/> -->
<title>상담 상세보기</title>
<script src="js/jquery-3.6.0.min.js"></script>
<style type="text/css">
.bi-heart, .bi-heart a{
	color : red;
}
.bi-heart-fill, bi-heart-fill b{
	color : red;
}
.trstyle{
	border-bottom-width: 20px;
	border-color: white;
}
#schedule span{
	display: inline-block; /*인라인이지만 블럭 성격을 가지도록 한다. 위아래 margin값과 paddin width 값을 가질 수 있다는 의미가 된다*/
	margin-top : 15px;
}
.modal-body {
	width: 1000px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}


</style>
</head>
<body>
	<div layout:fragment="content">

		<section class="section"
			style="margin-left: 100px; margin-right: 100px;">
			<div class="row">
						
						<!-- 로그인시 토큰 가져오기 -->
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}">
							<input type="hidden" id="memberId" name="memberId"
								th:value="${#authentication.principal.member.memberId}" />
						<!-- 글번호 가져오기 -->		
							<input type="hidden" id="consultNo"
								th:value="${consultOne.consultNo}">
							
				<div class="col-12">
					<div class="card">
						<div class="card-header">
						
							<h3 class="card-title text-center" th:text="${consultOne.title}"></h3>

						</div>
								
							<div class="divider">
							<h4 class="card-title" id="guideId"
								th:text="${consultOne.guideId}"></h4>
							<a id="heartBody"> </a>
							
							<!-- <h5 class="card-title" th:text="${consultOne.career}"></h5> -->
							<h5 class="card-title" th:text="${consultOne.jobName}"></h5>
							<h5 class="card-title" th:text="${consultOne.content}"></h5>
						</div>
						<div class="card-body">
							<div class="divider">
								<div class="divider-text">상담 가능 시간</div>
							</div>
							<div th:each="con : ${consultDt}" id="schedule">
								<span th:text=${con.week}></span>
								<span th:text="${'시작시간:'+con.beginTime}"></span> ~ 
								<span th:text="${'끝나는시간:'+con.endTime}"></span>
								<h6>
									결제 금액 : <b th:text="${con.price}"></b>원
								</h6>
							</div>
						</div>

						<div class="divider">
							<div class="divider-text">비고</div>
							<p>1회 컨설트 : 1시간/1명</p>
						</div>
						
		
                        
                        <!-- 나희 상담신청 페이지 -->
						<div style="padding: 20px; align:center;">
							<button id="consultRegister" class="btn btn-info btn-md mb-0" style="float:right;">상담신청하기</button>	
						
						<!-- 은지 리뷰 -->
						<button id="reviewForm" type="button"  style="float:right; margin-right:10px;" data-target="#inlineForm"  class="btn btn-outline-primary ml-1"  data-dismiss="modal" data-toggle="modal">
							<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
	                              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
	                        </svg> <span >리뷰보기</span></button >
							<input type="hidden" id="memberId" class="form-control" name="memberId" th:value=${#authentication.principal.member.memberId} readonly="readonly">
						</div>
						
						
					</div>
				</div>
			</div>
			
			
		</section>
		<div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog"
	        aria-labelledby="myModalLabel33" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        
        <div class="modal-content">
            <div class="modal-header" id="average">
	            <h4 class="modal-title">총점  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
		                        	<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
		                        </svg><span id="score"></span></h4>
	            
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <i data-feather="x"></i>
	            </button>
            </div>
            <div class="modal-body">
               <table class="form-group">
                <thead id="contentHead">
                	</thead>
                <tbody id="contentBody">
                
                </tbody>	
               </table>
            </div>
           <div class="modal-footer">
            </div> 
           
        </div>
        </div>
    </div>


		<script>
		let consultNo = $("#consultNo").val();
		let guideId = $("#guideId").html();
		let id = $("#memberId").val();
		
	
		/*------------------------------
		// 페이지 로드 시 곧바로 함수 호출
		--------------------------------*/
	
		$(document).ready(function() {
			console.log(consultNo)
			console.log(guideId)
			heartCount();
		})
		

		/*------------------------------
		// 하트 카운트 갯수 출력
		--------------------------------*/
		function heartCount() {

			$.ajax({
				url : "/ajaxHeartCount.do",
				data : {'memberId' : id, 'guideId' : guideId, 'consultNo' : consultNo},
				success : function(data) {
					console.log("data========== " + data); // 0 또는 1
					
					let x = '';
					if(data == 0) { // 빈 하트
						x = `<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
							  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
							</svg>`;					 
					} else { // 꽉찬 하트
						x = `<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
							  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
							</svg>`;
					}
					$("#heartBody").html(x);
				}
			})
		}
		
		
		/*------------------------------
		// 빈 하트를 클릭하여 팔로우 리스트에 추가
		--------------------------------*/		

		$("#heartBody").on("click", e => {
			// console.log("하트반응보기")
			//e.preventDefault();
			
			console.log($(e.target));
			if($(e.target).hasClass("bi-heart")){
				console.log("빈하트");
				heartInsert();
			} else{
				heartDelete();
			}
			
		})
		
		function heartInsert() {
			$.ajax({
				url:"/ajaxHeartInsert.do",
				type : "post",
				data : {'memberId' : id, 'guideId' : guideId, 'consultNo' : consultNo},
				beforeSend : function(xhr) {
					xhr.setRequestHeader("AJAX", true);
					xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken);
				},success : function(data) {
						console.log(data);
						if (confirm("가이드를 팔로우했습니다.")) { // 목록 페이지로 이동하시겠습니까?"
                                // 승낙하면 마이페이지의 찜하기 리스트로 이동
                                 // location.href = '/myPage'; 
							let x = '';
							x = `<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
								  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
								</svg>`;
							$("#heartBody").html(x);	
                            } 
				},
			}) 
		}
		
		
		/*------------------------------
		// 꽉찬 하트를 클릭하여 팔로우 리스트에서 삭제
		--------------------------------*/	
		function heartDelete() {
			$.ajax({
				url:"/ajaxHeartDelete.do",
				data : {'memberId' : id, 'guideId' : guideId, 'consultNo' : consultNo},
				success : function(data) {
					// console.log("data========== " + data); // 0 또는 1
					let x = '';
					if(confirm("가이드를 언팔로우했습니다.")) { // 빈 하트
						x = `<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
							  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
							</svg>`;					 
					$("#heartBody").html(x);
					} 
				}
			})
		}

		/*-----------------------------------------------
		// 리뷰 리스트, 별모양 띄우기 - 은지   // 삭제기능 -소정
		-------------------------------------------------*/
		$("#reviewForm").on("click", e=> {
			let guideId = $('#guideId').html();
				console.log(guideId)
		    let memberId = $('#memberId').val();	
				
			$.ajax({
				url:"/reviewList.do",
				data : {'guideId' : guideId},
				success : function(data){ //console.log(data)
					
					// 평점구하기 변수 선언
					let sum = 0;
					let cnt =0;
					// 별아이콘
					let starIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
		                        	<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
		                       		 </svg>`
					data.forEach(element =>{//console.log(element)
						sum += element.star; // console.log(sum);
					
					let star ='';
						for(let i = 0; i< element.star; i++){ // DB 별점 점수만큼 반복문 돌려 아이콘 그려주기
								star += starIcon; 
							}
							let makeTr = `<tr><th class='col-md-4 mb-3'>`+star+`</th>
							            	<th class='col-md-3'>구분 : ${element.ctgry}</th>
							            	<th class='col-md-4'>닉네임 : ${element.nick}</th>
							            	<th class='col-md-1'>`;
							            	
							            	if(memberId == element.memberId){
							            		makeTr +=`<input type="button" onclick="deleteReview(this.getAttribute('id'))"
							    			       class="btn btn-primary btn-l delBtn" value="X" id="${element.reviewNo}">`	
							            	}
							            	
							            	makeTr += `</th></tr>
							            	<tr class="trstyle">
					               			<td>${element.content}</td>
					               			</tr>`;
							            	
						$("#contentBody").append(makeTr);
					    cnt++;
					    
						})
		                       		 console.log(cnt)
						if(cnt != 0 ){
						    const avg =(sum/cnt).toFixed(1); 		               
				    //const avg = (sum/cnt).toFixed(1); // 소숫점 1자리까지 표시
				    console.log(avg)
				                       		$("#score").html(avg);								
								}else{
									
                    $("#score").html("작성된 리뷰가 없습니다.");
								}
						
				}
			})
		})
		
		// 소정 - 리뷰삭제기능
		function deleteReview(rNo) {
			console.log(rNo);
			
			let token = $("meta[name='_csrf']").attr("content");
			let header = $("meta[name='_csrf_header']").attr("content");
			
			$.ajax({
				url:'/deleteReview.do',
				type:'post',
				data:{'reviewNo':rNo},
				beforeSend:function(xhr) {
					xhr.setRequestHeader("AJAX", true);
				    xhr.setRequestHeader("X-CSRF-TOKEN", token);
				},
				success:function result(res){
					alert('삭제완료');
				
					$("#contentBody").empty();
					
					let guideId = $('#guideId').html();
					let memberId = $('#memberId').val();
					
				$.ajax({
					url:"/reviewList.do",
					data : {'guideId' : guideId},
					success : function(data){
						
						let sum = 0;
						let cnt =0;
						let starIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
			                        	<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
			                       		 </svg>`
						data.forEach(element =>{
							sum += element.star; 
						
						let star ='';
				
							
									
							for(let i = 0; i< element.star; i++){ 
									star += starIcon; 
								}
								let makeTr = `<tr><th class='col-md-4 mb-3'>`+star+`</th>
				            	<th class='col-md-3'>구분 : ${element.ctgry}</th>
				            	<th class='col-md-4'>닉네임 : ${element.nick}</th>
				            	<th class='col-md-1'>`;
				            	
				            	if(memberId == element.memberId){
				            		makeTr +=`<input type="button" onclick="deleteReview(this.getAttribute('id'))"
				    			       class="btn btn-primary btn-l delBtn" value="X" id="${element.reviewNo}">`	
				            	}
				            	
				            	makeTr += `</th></tr>
				            	<tr class="trstyle">
		               			<td>${element.content}</td>
		               			</tr>`;
							$("#contentBody").append(makeTr);
						    cnt++; 
					
							})
							
					    const avg =(sum/cnt).toFixed(1); 		               
		               				$("#score").html(avg);								
							}
					})
					
					
				},
				error:function err(xhr,err) {
					alert('삭제에러');
				}
			})
		}
		
		
/****************김나희****************************************************************/	
	
//상담 신청 페이지로 이동
		$("#consultRegister").on("click", function(){
			location.href="/consultRegister.do?consultNo=" + consultNo;
		})
		
		
		
		</script>
	</div>
</body>
</html>
