
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Insert title here</title>
<script src="js/jquery-3.6.0.min.js"></script>
</head>
<body>
<div layout:fragment="content">
<img alt="" src="images/kakaopay.png" style="position:absolute; z-index:2;width: 110px; cursor: pointer;" id="kakaopay">
<br>


<script type="text/javascript">

    $("#kakaopay").on("click", function(){
    	var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        
    	$.ajax({
    	    url: '/ajaxpayform.do',
    	    type:'get',
    	    dataType: 'json',
    	    beforeSend: function(xhr){
    	    	xhr.setRequestHeader(header, token);
    	    },
    	    success: function(data){
    	    	console.log("성공");
    	    	console.log(data);
    	    },
    	    error: function searchError(xhr, err) {
    	           console.error("Error on ajax call: " + err); 
    	           }
    	     }); 
	
    });

</script>
</div>
</body>
</html>