<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>나만의 CBT 오답노트</title>
<script src="js/jquery-3.6.0.min.js"></script>
<style type="text/css">
.form-check{
	margin-left:20px;
}
</style>
</head>
<body>
<div layout:fragment="content">
	<h2 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
  		<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
	</svg> 나만의 CBT 오답노트  </h2>
	<h4>내가 선택한 오답이 기록되어있습니다. 다시 풀어보세요</h4> <br>
	<div th:each="cbt, st:${note}">
		<form class="form form-vertical">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			<div class="form-body">
				<div class="row">
					<div class="col-12">
						<div class="form-group">
						
						 	<h4>문제 <span th:text="${cbt.cbtNo}"></span></h4>
							<input type="hidden" id="cbtNo0" name="cbtNo0" th:value="${cbt.cbtNo}"> 
							<input type="hidden" th:id="|cnsr${st.index}|" name="cnsr" th:value="${cbt.cnsr}">
							<br> <span id="QUES" th:text="${cbt.ques}">문제</span> 
							<a>&nbsp;&nbsp;[ 출제자 : <span th:text="${cbt.memberId}"></span> ] </a>
						</div>
					</div>
					<div id="atch" class="form-group"th:if="${not #strings.isEmpty(cbt.attach)}">
						<span class="mb-2 text-md">
							<div>
								  <img th:src="@{/download(fileName=${'/CBT_GUIDE/'+cbt.attachDir})}" style="margin-bottom: 10px; width:600px;">
							</div>
						</span>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" th:id="|cbt${cbt.cbtNo}1|" th:name="|cbt${st.index}|" value="1"> 
						<label class="form-check-label" th:for="|cbt${cbt.cbtNo}1|" th:text="${cbt.ex1}"></label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" th:id="|cbt${cbt.cbtNo}2|" th:name="|cbt${st.index}|" value="2"> 
						<label class="form-check-label" th:for="|cbt${cbt.cbtNo}2|" th:text="${cbt.ex2}"></label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" th:id="|cbt${cbt.cbtNo}3|" th:name="|cbt${st.index}|" value="3"> 
						<label class="form-check-label" th:for="|cbt${cbt.cbtNo}3|" th:text="${cbt.ex3}"></label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" th:id="|cbt${cbt.cbtNo}4|" th:name="|cbt${st.index}|" value="4"> 
						<label class="form-check-label" th:for="|cbt${cbt.cbtNo}4|" th:text="${cbt.ex4}"></label>
					</div>
					<!--라디오 끝 -->
					<div th:class="|explnaArea${st.index}|" style="display: none">
						<div class='alert alert-light-primary color-primary'>
	      					 <a>[ 정답 ] : <span th:text="${cbt.cnsr}"></span>번</a><br>
	     					 <a>[ 풀이 ]<br><span th:text="${cbt.explna}"></span></a>
	     				</div> 
					</div>
				</div><hr>
			</div>
		</form>
	
	</div>
	
	<div th:each="my, st:${myCnsr}">
		 <input type="hidden" th:id="|mycnsr${st.index}|" th:name="|mycnsr${st.index}|" th:value="${my.cnsr}"><br> 
	</div>
	<script type="text/javascript">
 	$.each($('input[name="cbtNo0"]'),function (idx,elem) {
 		console.log(elem.value)
		$("#cbt"+elem.value+($("#mycnsr"+(idx)).val())).prop("checked",true)
	}) 
	$.each($('.row'),function(idx,elem){
		$("input[name=cbt"+idx+"]").on("click",function(){
			if($(this).val() == $("#cnsr"+idx).val()){
				alert("정답입니다.")
				$(".explnaArea"+idx).removeAttr("style")
			}else{
				alert("오답입니다. 다시풀어보세요. ")
			}
		})
	})
	
	
	</script>
</div>
</body>
</html>