<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.itrip.prj.member.mapper.MemberMapper"> 

	<select id="memberSelect" parameterType="co.itrip.prj.member.service.MemberVO" resultType="co.itrip.prj.member.service.MemberVO">
		select member_id
				,nick
				,pw
				,name
				,email
				,attach
				,attach_dir
				,'ROLE_' || auth as auth
				from member
				where member_id = #{memberId}
	</select>
	
	<!-- 유저 회원정보수정 [박은지] -->
	<update id="memberUpdate">
		update member
		<set>
			<if test="nick != null">nick = #{nick},</if>
			<if test="name != null">name = #{name},</if>
			<if test="email != null">email = #{email}</if>
		</set>
		where member_id = #{memberId}
	</update>
	<!-- int memberDelete(MemberVO vo); // 회원 삭제(null처리) [김하은] -->
	<update id="memberDelete">
	    update member set nick = null,
	                      pw = null,
	                      name = null,
	                      email = null,
	                      attach = null,
	                      attach_dir = null,
	                      auth='DONE'
	    where member_id = #{memberId}
	</update>
	
	<!-- pulbic int memberInsert(MemberVO vo); // 회원등록 [김하은] -->
	<insert id="memberInsert">
	    INSERT INTO MEMBER (MEMBER_ID, NICK, PW, NAME, EMAIL, ATTACH, ATTACH_DIR, AUTH)
	                VALUES (#{memberId}, #{nick},#{pw}, #{name}, #{email}, null, null, 'USER')
	</insert>
	
	<!--public int ajaxIdChk(String mId);    // id 중복 검사 [김하은]-->
	<select id="ajaxIdChk" resultType="integer">
	    select count(*) from member where member_id = #{mId}
	</select>
	<!--public int ajaxNickChk(String mNick); // 닉네임 중복검사 [김하은] -->
	<select id="ajaxNickChk"  resultType="integer">
	    select count(*) from member where nick = #{mNick}
	</select>
	
    <!-- MemberVO memberSearch(MemberVO vo); //아이디/ 비밀번호 찾기 [김하은]-->
    <select id="memberSearch" parameterType="co.itrip.prj.member.service.MemberVO" resultType="co.itrip.prj.member.service.MemberVO">
        SELECT MEMBER_ID, 
               RPAD(SUBSTR(MEMBER_ID,1,2),LENGTH(MEMBER_ID),'*') AS MEMBER_ID_STAR  
        FROM MEMBER WHERE NAME =#{name} AND EMAIL=#{email}
    </select>
   <!--  public int memberPwUpdate(MemberVO vo); // pw변경 [김하은]-->
   <update id="memberPwUpdate">
       UPDATE MEMBER 
       SET PW = #{pw}
       WHERE MEMBER_ID = #{memberId}
   </update>


</mapper>