<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.itrip.prj.member.mapper.MemberMapper">

	<select id="memberSelect" parameterType="co.itrip.prj.member.service.MemberVO" resultType="co.itrip.prj.member.service.MemberVO">
		select member_id
				,nick
				,pw
				,name
				,email
				,attach
				,attach_dir
				,'ROLE_' || auth as auth
				from member
				where member_id = #{memberId}
				<!-- 로그인 체크 -->
		<if test="pw != null">
		and pw= #{pw}
		</if>
	</select>
	
	<!-- 유저 회원정보수정 [박은지] -->
	<update id="memberUpdate">
		update member
		<set>
			<if test="nick != null">nick = #{nick},</if>
			<if test="name != null">name = #{name},</if>
			<if test="email != null">email = #{email}</if>
		</set>
		where member_id = #{memberId}
	</update>
	
	<delete id="memberDelete">
	
	</delete>
	
	<!-- pulbic int memberInsert(MemberVO vo); // 회원등록 -->
	<insert id="memberInsert">
	    INSERT INTO MEMBER (MEMBER_ID, NICK, PW, NAME, EMAIL, ATTACH, ATTACH_DIR, AUTH)
	                VALUES (#{memberId}, #{nick},#{pw}, #{name}, #{email}, null, null, 'USER')
	</insert>
	
	<!--public int ajaxIdChk(String mId);    // id 중복 검사 -->
	<select id="ajaxIdChk" resultType="integer">
	    select count(*) from member where member_id = #{mId}
	</select>
	<!--public int ajaxNickChk(String mNick); // 닉네임 중복검사 -->
	<select id="ajaxNickChk"  resultType="integer">
	    select count(*) from member where nick = #{mNick}
	</select>
	<!--public int ajaxpwChk(String mPw);    // 패스워드 확인 -->
	<select id="ajaxpwChk" resultType="integer">
	</select>


	<!-- 내가푼문제언어카테고리 [경아] -->
	<select id="myWrongAnswerLangCd" parameterType="co.itrip.prj.cbtGuide.service.MyCbtHderVO" resultType="co.itrip.prj.cbtGuide.service.MyCbtHderVO">
		select distinct m.lang_Cd,cm.cd_name,m.mc_no from mycbt_hder m,cmmncd cm 
		    where cm.cd_no=m.lang_cd  and cm.cd_ini='L' and member_id = #{memberId} and chk1 = 0 
		    or 
		    cm.cd_no=m.lang_cd and cm.cd_ini='L' and member_id = #{memberId} and chk2 = 0 
		    or
		    cm.cd_no=m.lang_cd and cm.cd_ini='L' and member_id = #{memberId} and chk3 = 0
		    or
		    cm.cd_no=m.lang_cd and cm.cd_ini='L' and member_id = #{memberId} and chk4 = 0
		    or
		    cm.cd_no=m.lang_cd and cm.cd_ini='L' and member_id = #{memberId} and chk5 = 0
			order by mc_no
	</select>

	<!-- 내가푼문제중에 틀린애들cbtno 중복없이가져오기 [경아] -->
	<select id="myWrongAnswerNote" parameterType="co.itrip.prj.cbtGuide.service.CbtGuideVO" resultType="co.itrip.prj.cbtGuide.service.CbtGuideVO">
		SELECT * FROM CBT_GUIDE WHERE CBT_NO IN ((select cbt_no1 from mycbt_hder where mc_no = #{mcNo} and chk1 = 0),
			 (select cbt_no2 from mycbt_hder where mc_no = #{mcNo} and chk2 = 0),
			 (select cbt_no3 from mycbt_hder where mc_no = #{mcNo} and chk3 = 0),
			 (select cbt_no4 from mycbt_hder where mc_no = #{mcNo} and chk4 = 0),
			 (select cbt_no5 from mycbt_hder where mc_no = #{mcNo} and chk5 = 0))
	</select>
	
	<!-- 내가찍은정답가져오려고.. [경아] -->
	<select id="myWrongAnswerCnsr" parameterType="co.itrip.prj.cbtGuide.service.MyCbtHderVO" resultType="co.itrip.prj.cbtGuide.service.MyCbtHderVO">
		select m.* from mycbt_hder m, cmmncd cm 
		    where cm.cd_no=m.lang_cd and m.mc_no=#{mcNo} and cm.cd_ini='L' and member_id = #{memberId} and chk1 = 0 
		    or 
		    cm.cd_no=m.lang_cd and m.mc_no=#{mcNo} and cm.cd_ini='L' and member_id = #{memberId} and chk2 = 0 
		    or
		    cm.cd_no=m.lang_cd and m.mc_no=#{mcNo} and cm.cd_ini='L' and member_id = #{memberId} and chk3 = 0
		    or
		    cm.cd_no=m.lang_cd and m.mc_no=#{mcNo} and cm.cd_ini='L' and member_id = #{memberId} and chk4 = 0
		    or
		    cm.cd_no=m.lang_cd and m.mc_no=#{mcNo} and cm.cd_ini='L' and member_id = #{memberId} and chk5 = 0
	
	</select>
	<!-- distinct cm.cd_name, -->
</mapper>