<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.itrip.prj.member.mapper.MemberMapper">

	<select id="memberSelect" parameterType="co.itrip.prj.member.service.MemberVO" resultType="co.itrip.prj.member.service.MemberVO">
		select member_id
				,nick
				,pw
				,name
				,email
				,attach
				,attach_dir
				,'ROLE_' || auth as auth
				from member
				where member_id = #{memberId}
				<!-- 로그인 체크 -->
		<if test="pw != null">
		and pw= #{pw}
		</if>
	</select>
	
	<!-- 유저 회원정보수정 [박은지] -->
	<update id="memberUpdate">
		update member
		<set>
			<if test="nick != null">nick = #{nick},</if>
			<if test="name != null">name = #{name},</if>
			<if test="email != null">email = #{email}</if>
		</set>
		where member_id = #{memberId}
	</update>
	
	<delete id="memberDelete">
	
	</delete>




</mapper>