<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.itrip.prj.community.mapper.CommunityMapper">

	<select id="communityList"
		resultType="co.itrip.prj.community.service.CommunityVO">
		select com_no,
		title,
		content,
		member_id,
		dt,
		hit,
		attach,
		attach_dir,
		ctgry
		from comboard
		order by com_no desc
	</select>

	<select id="selectCommunity"
		resultType="co.itrip.prj.community.service.CommunityVO">
		select *
		from comboard
		where com_no=#{comNo}
	</select>

	<!-- 스터디게시판 -->
	<select id="studyList"
		resultType="co.itrip.prj.community.service.CommunityVO">
		select *
		from comboard
		where ctgry='스터디'
		order by com_no desc
	</select>

	<insert id="studyInsert"
		parameterType="co.itrip.prj.community.service.CommunityVO">
		<selectKey keyProperty="comNo" order="BEFORE"
			resultType="int">
			select
			case when max(com_no) is null then 1
			else max(com_no)
			+ 1 end as id
			from comboard
		</selectKey>
		insert into comboard
		values(#{comNo}, #{title}, #{content},
		#{memberId}, sysdate, 0, #{attach}, #{attachDir}, '스터디')
	</insert>

	<update id="studyUpdate">
		update comboard
		<set>
			<if test="title != null">title = #{title},</if>
			<if test="content != null">content = #{content},</if>
			<if test="attach != null">attach = #{attach},</if>
			<if test="attachDir != null">attach_dir = #{attachDir}</if>
		</set>
		where com_no = #{comNo}
	</update>

	<delete id="studyDelete">
		delete
		from comboard
		where com_no=#{comNo}
	</delete>
	
	<!-- 검색+페이징(스터디게시판) -->
	<select id="studySearch" resultType="co.itrip.prj.community.service.CommunityVO">
		select * 
		from comboard
		where ctgry='스터디'
		<choose>
			<when test="key == 1"> and title like '%'|| #{val} ||'%'</when>
			<when test="key == 2"> and content like '%'|| #{val} ||'%'</when>
			<when test="key == 3"> and member_id like '%'|| #{val} ||'%'</when>
		</choose>
		order by com_no
		desc
	</select>

	<!-- 자유게시판 -->
	<select id="freeList"
		resultType="co.itrip.prj.community.service.CommunityVO">
		select *
		from comboard
		where ctgry='자유게시판'
		order by com_no
		desc
	</select>

	<insert id="freeInsert"
		parameterType="co.itrip.prj.community.service.CommunityVO">
		<selectKey keyProperty="comNo" order="BEFORE"
			resultType="int">
			select
			case when max(com_no) is null then 1
			else max(com_no)
			+ 1 end as id
			from comboard
		</selectKey>
		insert into comboard
		values(#{comNo}, #{title}, #{content},
		#{memberId}, sysdate, 0, #{attach}, #{attachDir}, '자유게시판')
	</insert>

	<update id="freeUpdate">
		update comboard
		<set>
			<if test="title != null">title = #{title},</if>
			<if test="content != null">content = #{content},</if>
			<if test="attach != null">attach = #{attach},</if>
			<if test="attachDir != null">attach_dir = #{attachDir}</if>
		</set>
		where com_no = #{comNo}
	</update>
	
	<!-- 검색+페이징(자유게시판) -->
	<select id="freeSearch" resultType="co.itrip.prj.community.service.CommunityVO">
		select * 
		from comboard
		where ctgry='자유게시판'
		<choose>
			<when test="key == 1"> and title like '%'|| #{val} ||'%'</when>
			<when test="key == 2"> and content like '%'|| #{val} ||'%'</when>
		</choose>
		order by com_no
		desc
	</select>

	<!-- 댓글 서비스 -->
	<select id="replyList"
		resultType="co.itrip.prj.community.service.ReplyVO">
		select re_no,
		com_no,
		content,
		member_id,
		dt
		from reply
		where
		com_no = #{comNo}
		order by re_no
	</select>

	<!-- 댓글 입력 -->
	<insert id="replyInsert"
		parameterType="co.itrip.prj.community.service.ReplyVO">
		<selectKey keyProperty="reNo" order="BEFORE"
			resultType="int">
			select
			case when max(re_no) is null then 1
			else max(re_no)
			+
			1 end as id
			from reply
		</selectKey>
		insert into reply
		values(#{reNo}, #{comNo}, #{content}, #{memberId},
		sysdate)
	</insert>

	<!-- 댓글 수정 -->
	<update id="replyUpdate">
		update reply
		<set>
			<if test="content != null">content = #{content}</if>
		</set>
		where re_no = #{reNo}
	</update>

	<!-- 댓글 삭제 -->
	<delete id="replyDelete">
		delete
		from reply
		where re_no=#{reNo}
	</delete>
	
	<!-- 조회수 처리 -->
	<update id="commHitUpdate">
		update comboard set hit = hit + 1 where com_no = #{comNo}
	</update>
	
	<!-- 페이징 처리 카테고리, -->
	<select id="findAll" resultType="co.itrip.prj.community.service.CommunityVO">
		select  com_no,
				title,
				content,
				member_id,
				dt,
				hit,
				attach,
				attach_dir,
				ctgry
		from comboard
			<if test="ctgry.equals('스터디') or ctgry.equals('자유게시판')"> where ctgry = #{ctgry} </if>
			<if test="memberId != null">where member_id = #{memberId}</if>
		order by com_no desc
	</select>
</mapper>