<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8" />
<title>Guide Myclass</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Untree.co" />
<meta name="description" content="" />
 <meta name="keywords" content="bootstrap, bootstrap5" />
<style>
	.table{
		text-align: center;
		margin: 30px;
	}
	
	.table td img{
		max-width: 100%;
	}
	.alert {
	    position: relative;
	    padding: 2rem 2rem;
	    margin-bottom: 1rem;
	    border: none solid transparent;
	    border-radius: 0.25rem;
	    font-size: 1.6rem;
	}
</style>
</head>
<body>
<div layout:fragment="content">
	<div class="card">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		<input type="hidden" id="memberId" th:value="${#authentication.principal.member.memberId}" /> 
		<div class="alert alert-light-primary color-primary">I-Class</div>
			<!-- 클래스 등록/승인요청한 클래스 버튼 -->
			<div class="row" style="margin-bottom: 30px; padding-left: 10px;">
				<div>
					<button id="startClass" style="width: 140px;" class="btn btn-sm btn-primary">등록하기</button>
					<button id="alreadyClass" style="width: 150px;" class="btn btn-sm btn-primary">등록한 클래스 목록</button>
				</div>
				<div th:each="classlist : ${pageInfo.list}" th:if="${classlist.confmCd == '2'}" style="width: 380px; display: inline-block;">
								<table class="table table-hover table-bordered" style="width: 300px;">
									<tbody>
										<tr style="display: none;">
											<!-- 클래스 번호 -->
											<td id="classNo" colspan="2" th:text="${classlist.classNo}"></td>
										</tr>
										<tr>
											<!-- 이미지(수정) -->
											<td colspan="2"> <img th:src="@{/download(fileName=${'/Thumbnail/'+classlist.attachDir})}" alt="Image" class="img-fluid" /></td>
										</tr>
										<tr>
											<td colspan="2" th:text="${classlist.title}"></td>
										</tr>
										<tr>
											<td colspan="2" th:text="${classlist.st}"></td>
										</tr>
										<tr>
											<th>정원</th>
											<td th:text="${classlist.psncpa}+명">></td>
										</tr>
										<tr>
											<th>상태</th>
											<td th:text="${classlist.st}"></td>
										</tr>
										<tr>
											<td colspan="2">
												<div th:if="${classlist.st} == '진행중'" >
													<button type="button" class="btn btn-primary py-2 px-1 link" disabled='disabled'>
                        							링크입력
                    								</button>&nbsp;&nbsp;
							                       <button class="btn btn-primary py-2 px-1 classChat" >강의실 입장</button>
							               		</div>
							               		<div th:unless="${classlist.st} == '진행중'" >
							               		<input th:value="${classlist.classNo}">
							                       <button class="btn btn-primary py-2 px-1 link" data-toggle="modal" data-target=".inlineForm" >링크입력</button>&nbsp;&nbsp;
							                       <button class="btn btn-primary py-2 px-1 classChat" disabled='disabled'>강의실 입장</button>
							               		</div> 
							               		
							               		<!-- 링크입력 모달 -->
									<div class="modal fade text-left inlineForm" id="inlineForm" tabindex="-1"
										role="dialog" aria-labelledby="myModalLabel33"
										aria-hidden="true">
										<div
											class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
											role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h6 class="modal-title" id="myModalLabel33">링크입력창</h6>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<i data-feather="x"></i>
													</button>
												</div>
												<form action="classlinkInsert.do" method="post" onsubmit="return message()">
												<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
													<div class="modal-body">
														<div class="form-group">
															<input type="hidden" th:value="${classlist.classNo}" name="classNo">
															<input id="classlick" type="text" class="form-control classlick" name="chatLink">
														</div>
													</div>
													<div class="modal-footer">
														<button type="submit" class="btn btn-primary ml-1 clink">입력</button>
													</div>
												</form>
											</div>
										</div>
									</div>
									<!-- 링크입력 모달 -->
								</td>
											
										</tr>
									</tbody>								
								</table>
							</div>
									<!-- 페이지네이션 -->
					<nav aria-label="Page navigation example">
						<ul class="pagination pagination-info  justify-content-center">
							<li class="page-item disabled"
								th:if="${pageInfo.isIsFirstPage()}"><span
								class="page-link">«</span></li>
							<li class="page-item"
								th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
								class="page-link"
								th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
								rel="prev">«</a></li>
							<li th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
								th:each="page:${pageInfo.navigatepageNums}"><span
								class="page-link" th:if="${pageInfo.pageNum eq page}"
								th:text="${page}"></span> <a class="page-link"
								th:unless="${pageInfo.pageNum eq page}"
								th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page}}</a></li>
							<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
								class="page-link"
								th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
								rel="next">»</a></li>
							<li class="page-item disabled"
								th:unless="${pageInfo.hasNextPage}"><span
								class="page-link">»</span></li>
						</ul>
					</nav>
			</div>
		<script type="text/javascript">
			let memberId = $("#memberId").val(); //현재 접속한 사람 아이디
			
			function gopage(p) {
			location.href = '/gclass.do?pageNum=' + p;
			}
		

			//클래스 등록
			$("#startClass").on("click", function() {
				location.href = "/startClass.do?";
			})

			//등록한 클래스 목록(승인요청중인)
			$("#alreadyClass").on("click", function() {
				location.href = "/alreadyClass";
			})

			//채팅방 연결
			$(".classChat").on(
					"click",
					function(e) {
						let classNo = $(e.target).closest("tbody").children(1)
								.children(1).html();
						//console.log(classNo);
						location.href = "classChat.do?classNo=" + classNo;
					})
					
		    // 클래스 링크 입력
		    function message() {
				
				if($(".classlick").val() == "") {
    				alert('링크를 입력후 제출해주세요.');
    				$(".classlick").focus();
    				return false;
    			}
				
				alert("링크입력이 완료되었습니다.");
				return true;
			}
			
			
			$(".link").on("click", function(e) {
				
				let classNo = $(e.target).prev().val();
				console.log(classNo);
				
				$.ajax({
					url : "/lickCheck.do",
					type : "get",
					data : {
						'classNo' : classNo
					},
					success : function(data) {
						console.log("출력" + data);
						
						 if(data == "") {
						
						
						}else{
						
						    let link = data.chatLink;
						    $(".classlick").val(link);
						    $(".classlick").prop('readonly', true);

						} 
						
					}

				})
				
				
				
			})

			
		</script>
	</div>
</div>
</body>
</html>