<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8" />
	<title>
     class
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="bootstrap/property/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="bootstrap/property/fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="bootstrap/property/css/tiny-slider.css" />
    <link rel="stylesheet" href="bootstrap/property/css/aos.css" />
    <link rel="stylesheet" href="bootstrap/property/css/style.css" />

	<style>
    
    .d-flex {
    display: -webkit-box !important;
	}
	.property-item .property-content .specs .caption {
    font-size: 15px; 
	}
	#tns1 > .tns-item {
    width: calc(6.66667%);
    padding-right: 30px;
    }
	.property-item .property-content {
    width: 80%;
    height: 80%;
    }
    .img-fluid {
    max-width: 80%;
    height: auto;
	}
    </style>
    
</head>
<body  layout:fragment="content">
 <!-- About Start -->
    <div class="text-center">
        <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
        <h1 class="display-5 mb-5">i-class</h1>
        <h4>내가 개설한 클래스 목록을 보여주는 곳 입니다. 클래스 등록 수정 삭제가 가능합니다.</h4>
    </div>
     <!-- Projects Start -->
    <div class="container-xxl py-5">
        <div class="container">
           
            <div class="section">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-lg-6">
            <h2 class="font-weight-bold text-primary heading"> Class </h2>
            <span><a id="startClass"  class="btn btn-primary py-2 px-1">등록하기</a></span>&nbsp;&nbsp;
             <span><a href="alreadyClass"  class="btn btn-primary py-2 px-1">승인중인 클래스</a></span>
          </div>
          
        </div>
        <div class="row">
          <div class="col-12">
            <div class="property-slider-wrap">
              <div class="property-slider">
              
                <!-- .item -->
                <div class="property-item" th:each="classlist : ${classList}" th:if="${classlist.confmCd == '2'}">
                  <a href="property-single.html" class="img">
                    <img src="bootstrap/property/images/img_1.jpg" alt="Image" class="img-fluid" />
                  </a>
                  <div class="property-content">
                    <div class="price mb-2"><span th:text="${classlist.title}"></span></div>
                    <div>                     
                      <span class="city d-block mb-3 statement" th:text="${classlist.st}" ></span>                                              
                      <div class="">
                      	<span class="">정원 </span>
                      	<h5 class="card-title" th:text="${classlist.psncpa}+명"></h5>                   
                      </div>
                  	<div th:if="${classlist.st} == '진행중'" >
                       <span><button  onclick="location.href='mcReview'" class="btn btn-primary py-2 px-1 link"  >링크입력</button></span>&nbsp;&nbsp;
                       <span><button onclick="location.href='#'" class="btn btn-primary py-2 px-1" >게더타운 입장</button></span>&nbsp;&nbsp;
               		</div>
               		 <div th:unless="${classlist.st} == '진행중'">
                       <span><button  class="btn btn-primary py-2 px-1 link" disabled='disabled'>링크입력</button></span>&nbsp;&nbsp;
                       <span><button class="btn btn-primary py-2 px-1" disabled='disabled' >게더타운 입장</button></span>&nbsp;&nbsp;
               		</div>
                    </div>
                  </div>
                </div>
                
                
                
                <!-- .item -->
              </div>

              <div
                id="property-nav"
                class="controls"
                tabindex="0"
                aria-label="Carousel Navigation"
              >
                <span
                  class="prev"
                  data-controls="prev"
                  aria-controls="property"
                  tabindex="-1"
                  >Prev</span
                >
                <span
                  class="next"
                  data-controls="next"
                  aria-controls="property"
                  tabindex="-1"
                  >Next</span
                >
              </div>
            </div>
          </div>
        </div>
          
      </div>
    </div>
	<input type='hidden' id="memberId" th:value="${#authentication.principal.member.memberId}">
     <script type="text/javascript">
         	
 			let memberId = $("#memberId").val();  
         	

         	$("#startClass").on("click", function() {
         		location.href = "/startClass.do?memberId=" + memberId;
         	}) 
 			
         	
         	
         </script>
    <script src="bootstrap/property/js/bootstrap.bundle.min.js"></script>
    <script src="bootstrap/property/js/tiny-slider.js"></script>
    <script src="bootstrap/property/js/aos.js"></script>
    <script src="bootstrap/property/js/navbar.js"></script>
    <script src="bootstrap/property/js/counter.js"></script>
    <script src="bootstrap/property/js/custom.js"></script>
            
        </div>
    </div>
    <!-- Projects End -->
    
    

</body>
</html>