<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />
    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />
    <title>GuideConsult</title> 
<style>
	.table{
		text-align: center;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	
	.table td img{
		max-width: 100%;
	}
	.alert {
	    position: relative;
	    padding: 2rem 2rem;
	    margin-bottom: 1rem;
	    border: none solid transparent;
	    border-radius: 0.25rem;
	    font-size: 1.6rem;
	}
</style>
</head>
<body>
<div layout:fragment="content">
	<div class="card">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		<input type="hidden" id="memberId" th:value="${#authentication.principal.member.memberId}" /> 
		<div class="alert alert-light-primary color-primary">I-Consult</div>
			<div class="card-body">
				<div class="row">
					<!-- 상담 등록/승인요청한 상담 버튼 -->
					<div class="row" style="margin-bottom: 30px;">
							<div>
								<td><button id="consultStart" style="width: 140px;" class="btn btn-sm btn-primary">등록하기</button></td>
								<!-- 어디로 가는 버튼인지 확인필요 -->
								<td><button id="" style="width: 140px;" class="btn btn-sm btn-primary">등록한 상담 목록</button></td>
							</div>
					</div>
					<br>
					<!-- 진행중인 상담이 있을 때 -->
						<!-- 상담이 활성화일 때 -->
					<div class="row" style="margin-bottom: 30px;">
						<div th:each="con : ${consultList}" th:if="${con.stateCd == '2'}" style="width: 380px;">
							<table class="table table-hover" style="width: 300px;">
								<thead>
									<th colspan="2"><button id="consultStart" style="width: 100px;" class="btn btn-sm btn-outline-primary enncState" th:text="${con.ennc}"></button></th>
								</thead>
								<tbody>
									<tr>
										<!-- 상담 번호 -->
										<td id="consultNo" style="display: none;" colspan="2" th:text="${con.consultNo}"></td>
									</tr>
									<tr>
										<!-- 상담 제목 -->
										<td colspan="2" class="cTitle"><h2 th:text="${con.title}"></h2></td>
									</tr>
									<tr>
										<th>직무</th>
										<td th:text="${con.dutyName}"></td>
									</tr>
									<tr>
										<th>경력</th>
										<td th:text="${con.career}"></td>
									</tr>
									<tr>
										<td><button style="width: 100px;" class="btn btn-sm btn-primary consultStart">링크</button></td>
										<td><button style="width: 100px;" class="btn btn-sm btn-primary consultChat">채팅방</button></td>
									</tr>
								</tbody>								
							</table>
						</div>
					</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	let csrfHeaderName = "${_csrf.headerName}";
	let csrfToken = $("input[name=_csrf]").val();
	let consultNo = $("#consultNo").html(); //상담번호(전역변수)

	//상담리스트 상태 변경(활성화 => 비활성화 & 비활성화 => 활성화)
	$(".enncState").on("click", e=> {
		//console.log(consultNo)
		let ennc =  $(e.target).html();
		//console.log(ennc)
		if(ennc == '비활성화'){
			ennc = '활성화'
		} else {
			ennc = '비활성화'
		}
		$.ajax({
			url:"/ajaxConsultState.do",
			type : "post",
			data : {'consultNo' : consultNo , 'ennc' : ennc},
			beforeSend : function(xhr) {
				xhr.setRequestHeader("AJAX", true);
				xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken);
			},success : function(data) {
				//console.log(data);
				if(data == 1){ // 1이면 업데이트 성공
					if($(e.target).html() == '비활성화'){
						$(e.target).html('활성화') 
					}else{
						$(e.target).html('비활성화') 
					}
				}
			}
		})
	})
	
	//링크 입력하는 부분(만들기)
	
	//채팅방 연결
	$(".consultChat").on("click", function(e){
		let consultNo = $(e.target).parent().parent().prev().prev().prev().prev().children(0).html();
		console.log(consultNo);
		location.href="/consultChat.do?consultNo=" + consultNo;
	})
	
	//상담 등록
	$("#consultStart").on("click", function(e){
		location.href="/consultStart.do";
	})
	</script>
</div>
 
</body>
</html>