<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="bootstrap/property/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="bootstrap/property/fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="bootstrap/property/css/tiny-slider.css" />
    <link rel="stylesheet" href="bootstrap/property/css/aos.css" />
    <link rel="stylesheet" href="bootstrap/property/css/style.css" />

    <title>
     counsult
    </title>
    
    <style>
    .property-item .property-content {
       margin-top: 0px;
    }
    .d-flex {
    display: -webkit-box !important;
	}
	.property-item .property-content .specs .caption {
    font-size: 15px; 
	}
    </style>
</head>
<body layout:fragment="content">
 <!-- About Start -->
    <div class="text-center">
        <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
        <h1 class="display-5 mb-5">i-consult</h1>
        <h4>내가 개설한 상담 목록을 보여주는 곳 입니다. 상담 등록 수정 삭제가 가능합니다.</h4>
    </div>
     <!-- Projects Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="section">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-lg-6">
            <h2 class="font-weight-bold text-primary heading">
              1:1 상담
            </h2> <span><a href="consultStart.do"class="btn btn-primary py-2 px-1">등록하기</a></span>&nbsp;&nbsp;
          </div>
          
        </div>
        <div class="row">
          <div class="col-12">
            <div class="property-slider-wrap">
              <div class="property-slider">
          
          
                <!-- .item -->
                <div class="property-item">
                  <div class="property-content">
                    <div class="price mb-2"><span>Web개발 고민</span></div>
                    <div>                      
                      <span class="city d-block mb-3">Nahi</span>
                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">        
                          <span class="caption">직무 / 프론트앤드</span><br>        
                            <span class="caption">경력 / 미들(4~8년)</span>
                        </span>  
                      </div>
                       <span><a href="property-single.html"class="btn btn-primary py-2 px-1">채팅방</a></span>&nbsp;&nbsp;
                       <span><a href="property-single.html"class="btn btn-primary py-2 px-1">리뷰보기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">수정하기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">삭제하기</a></span>&nbsp;&nbsp;
                    </div>
                  </div>
                </div>
                
                 <!-- .item -->
                <div class="property-item">
                  <div class="property-content">
                    <div class="price mb-2"><span>Web개발 고민</span></div>
                    <div>                      
                      <span class="city d-block mb-3">Nahi</span>
                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">        
                          <span class="caption">직무 / 프론트앤드</span><br>        
                            <span class="caption">경력 / 미들(4~8년)</span>
                        </span>  
                      </div>
                       <span><a href="property-single.html"class="btn btn-primary py-2 px-1">채팅방</a></span>&nbsp;&nbsp;
                       <span><a href="property-single.html"class="btn btn-primary py-2 px-1">리뷰보기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">수정하기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">삭제하기</a></span>&nbsp;&nbsp;
                    </div>
                  </div>
                </div>
                
                 <!-- .item -->
                <div class="property-item">
                  <div class="property-content">
                    <div class="price mb-2"><span>Web개발 고민</span></div>
                    <div>                      
                      <span class="city d-block mb-3">Nahi</span>
                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">        
                          <span class="caption">직무 / 프론트앤드</span><br>        
                            <span class="caption">경력 / 미들(4~8년)</span>
                        </span>  
                      </div>
                       <span><a href="property-single.html"class="btn btn-primary py-2 px-1">채팅방</a></span>&nbsp;&nbsp;
                       <span><a href="property-single.html"class="btn btn-primary py-2 px-1">리뷰보기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">수정하기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">삭제하기</a></span>&nbsp;&nbsp;
                    </div>
                  </div>
                </div>
                
                 <!-- .item -->
                <div class="property-item">
                  <div class="property-content">
                    <div class="price mb-2"><span>Web개발 고민</span></div>
                    <div>                      
                      <span class="city d-block mb-3">Nahi</span>
                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">        
                          <span class="caption">직무 / 프론트앤드</span><br>        
                            <span class="caption">경력 / 미들(4~8년)</span>
                        </span>  
                      </div>
                       <span><a href="property-single.html"class="btn btn-primary py-2 px-1">채팅방</a></span>&nbsp;&nbsp;
                       <span><a href="property-single.html"class="btn btn-primary py-2 px-1">리뷰보기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">수정하기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">삭제하기</a></span>&nbsp;&nbsp;
                    </div>
                  </div>
                </div>
                
                 <!-- .item -->
                <div class="property-item">
                  <div class="property-content">
                    <div class="price mb-2"><span>Web개발 고민</span></div>
                    <div>                      
                      <span class="city d-block mb-3">Nahi</span>
                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">        
                          <span class="caption">직무 / 프론트앤드</span><br>        
                            <span class="caption">경력 / 미들(4~8년)</span>
                        </span>  
                      </div>
                       <span><a href="property-single.html"class="btn btn-primary py-2 px-1">채팅방</a></span>&nbsp;&nbsp;
                       <span><a href="mcReview"class="btn btn-primary py-2 px-1">리뷰보기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">수정하기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">삭제하기</a></span>&nbsp;&nbsp;
                    </div>
                  </div>
                </div>
                
                 <!-- .item -->
                <div class="property-item">
                  <div class="property-content">
                    <div class="price mb-2"><span>Web개발 고민</span></div>
                    <div>                      
                      <span class="city d-block mb-3">Nahi</span>
                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">        
                          <span class="caption">직무 / 프론트앤드</span><br>        
                            <span class="caption">경력 / 미들(4~8년)</span>
                        </span>  
                      </div>
                       <span><a href="property-single.html"class="btn btn-primary py-2 px-1">채팅방</a></span>&nbsp;&nbsp;
                       <span><a href="mcReview"class="btn btn-primary py-2 px-1">리뷰보기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">수정하기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">삭제하기</a></span>&nbsp;&nbsp;
                    </div>
                  </div>
                </div>
                
                 <!-- .item -->
                <div class="property-item">
                  <div class="property-content">
                    <div class="price mb-2"><span>Web개발 고민</span></div>
                    <div>                      
                      <span class="city d-block mb-3">Nahi</span>
                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">        
                          <span class="caption">직무 / 프론트앤드</span><br>        
                            <span class="caption">경력 / 미들(4~8년)</span>
                        </span>  
                      </div>
                       <span><a href="property-single.html"class="btn btn-primary py-2 px-1">채팅방</a></span>&nbsp;&nbsp;
                       <span><a href="mcReview"class="btn btn-primary py-2 px-1">리뷰보기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">수정하기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">삭제하기</a></span>&nbsp;&nbsp;
                    </div>
                  </div>
                </div>
                
                 <!-- .item -->
                <div class="property-item">
                  <div class="property-content">
                    <div class="price mb-2"><span>Web개발 고민</span></div>
                    <div>                      
                      <span class="city d-block mb-3">Nahi</span>
                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">        
                          <span class="caption">직무 / 프론트앤드</span><br>        
                            <span class="caption">경력 / 미들(4~8년)</span>
                        </span>  
                      </div>
                       <span><a href="property-single.html"class="btn btn-primary py-2 px-1">채팅방</a></span>&nbsp;&nbsp;
                       <span><a href="mcReview"class="btn btn-primary py-2 px-1">리뷰보기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">내용수정</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">삭제</a></span>&nbsp;&nbsp;
                    </div>
                  </div>
                </div>
                
                 <!-- .item -->
                <div class="property-item">
                  <div class="property-content">
                    <div class="price mb-2"><span>Web개발 고민</span></div>
                    <div>                      
                      <span class="city d-block mb-3">Nahi</span>
                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">        
                          <span class="caption">직무 / 프론트앤드</span><br>        
                            <span class="caption">경력 / 미들(4~8년)</span>
                        </span>  
                      </div>
                       <span><a href="property-single.html"class="btn btn-primary py-2 px-1">채팅방</a></span>&nbsp;&nbsp;
                       <span><a href="mcReview"class="btn btn-primary py-2 px-1">리뷰보기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">수정하기</a></span>&nbsp;&nbsp;
                      <span><a href="property-single.html"class="btn btn-primary py-2 px-1">삭제하기</a></span>&nbsp;&nbsp;
                    </div>
                  </div>
                </div>
                           
                <!-- END .item -->
              </div>

              <div
                id="property-nav"
                class="controls"
                tabindex="0"
                aria-label="Carousel Navigation"
              >
                <span
                  class="prev"
                  data-controls="prev"
                  aria-controls="property"
                  tabindex="-1"
                  >Prev</span
                >
                <span
                  class="next"
                  data-controls="next"
                  aria-controls="property"
                  tabindex="-1"
                  >Next</span
                >
              </div>
            </div>
          </div>
        </div>
        <br><br>
            <!-- <div class="text-center">
                <a class="btn" href="">회원탈퇴</a>/<a class="btn" href="">회원수정</a>
            </div> -->
      </div>
    </div>

    <script src="bootstrap/property/js/bootstrap.bundle.min.js"></script>
    <script src="bootstrap/property/js/tiny-slider.js"></script>
    <script src="bootstrap/property/js/aos.js"></script>
    <script src="bootstrap/property/js/navbar.js"></script>
    <script src="bootstrap/property/js/counter.js"></script>
    <script src="bootstrap/property/js/custom.js"></script>
            
        </div>
    </div>
    <!-- Projects End -->
    
    

</body>
</html>