<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>가이드 마이페이지</title>
<script src="js/jquery-3.6.0.min.js"></script>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
<style>
.card .card-content {
	position: static;
	margin-left: 10px;
	margin-right: 10px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<section id="groups">
			<div class="row match-height">
				<div class="col-12 mt-3 mb-1">
					<h3 class="section-title text-uppercase">가이드 마이페이지</h3>
				</div>
			</div>
			<div class="row match-height">
				<div class="col-12">
					<div class="card-group">
						<div class="card">
							<div class="card-content">
								<div class="card-body">
									<div id="img" style="display: inline-block;">
										<img class="card-img-top img-fluid"
											style="width: 300px; height: 300px; margin-right: 150px; display: inline-block;"
											src="bootstrap/securex/img/icon/icon-6.png"
											alt="Card image cap">
									</div>
									<div style="display: inline-block;">
										<div class="ms-4">	
											<h1 class=" mb-4">Follower</h1>
											<a data-toggle="modal" data-target="#exampleModalScrollable">
												<img src="bootstrap/securex/img/icon/icon-1.png" alt="Icon">
											</a>
											<!-- follow modal -->
											<div class="modal fade" id="exampleModalScrollable"
												tabindex="-1" role="dialog"
												aria-labelledby="exampleModalScrollableTitle"
												aria-hidden="true">
												<div class="modal-dialog modal-dialog-scrollable"
													role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="exampleModalScrollableTitle">
																Follower</h5>
															<button type="button" class="close" data-dismiss="modal"
																aria-label="Close">
																<i data-feather="x"></i>
															</button>
														</div>
														<div class="modal-body">
															<table class='form-group'>
																<thead>
																	<tr>
																		<th class='col-md-5'>USER ID</th>
																		<th class='col-md-5'>NICK NAME</th>
																		<th class='col-md-5'>UNFOLLOW</th>
																	</tr>
																</thead>
																<tbody id="followBody">
																</tbody>
															</table>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-sm btn-primary"
																data-dismiss="modal">
																<i class="bx bx-x d-block d-sm-none"></i> <span
																	class="d-none d-sm-block">Close</span>
															</button>
														</div>
													</div>
												</div>
											</div>

											<div class="btn-square " id="fcount"
												style="width: 64px; height: 64px;">
												<!-- <h2 class="mb-1" data-toggle="counter-up"></h2> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
		<br>
		<br>
		<br>
		<br>
		<section id="groups">
			<div class="row match-height">
				<div class="col-12">
					<div class="card-group">
						<div class="card">
							<div class="card-content">
								<img class="card-img-top img-fluid"
									style="width: 64px; height: 64px;"
									src="bootstrap/securex/img/icon/icon-6.png"
									alt="Card image cap">
								<div class="card-body">
									<h4 class="card-title">i-consult 1:1</h4>
									<p class="card-text">상담중인 내역을 보는 곳 입니다.</p>
									<button id="gConsult" style="width: 100%;"
										class="btn btn-sm btn-outline-primary">1:1상담</button>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-content">
								<img class="card-img-top img-fluid"
									style="width: 64px; height: 64px;"
									src="bootstrap/securex/img/icon/icon-6.png"
									alt="Card image cap">
								<div class="card-body">
									<h4 class="card-title">i-Class</h4>
									<p class="card-text">진행중인 클래스를 보는 곳 입니다.</p>
									<button id="gClass" style="width: 100%;"
										class="btn btn-sm btn-outline-primary">class</button>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-content">
								<img class="card-img-top img-fluid"
									style="width: 64px; height: 64px;"
									src="bootstrap/securex/img/icon/icon-6.png"
									alt="Card image cap">
								<div class="card-body">
									<h4 class="card-title">가이드수정</h4>
									<p class="card-text">가이드 정보를 수정하는 곳 입니다.</p>
									<button id="gRevice" style="width: 100%;"
										class="btn btn-sm btn-outline-primary">회원정보수정</button>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-content">
								<img class="card-img-top img-fluid"
									style="width: 64px; height: 64px;"
									src="bootstrap/securex/img/icon/icon-6.png"
									alt="Card image cap">
								<div class="card-body">
									<h4 class="card-title">수강생 목록</h4>
									<p class="card-text">수강중인 유저들을 보는 곳 입니다.</p>
									<button id="userList" style="width: 100%;"
										class="btn btn-sm btn-outline-primary">수강생 보러가기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<input type="hidden" id="guideId" name="guideId"
					th:value="${#authentication.principal.member.memberId}" /> <input
					type="hidden" id="memberId"
					th:value="${#authentication.principal.member.memberId}" />
			</div>
		</section>
		<script>
    	let guideId = $("#guideId").val();
    	let csrfToken = $("input[name=_csrf]").val(); // 토큰받아오기
    	
        /*------------	
   	   //  가이드 정보 수정페이지
   	    -------------*/	
    	$("#grevice").on("click", function(e) {
    		//console.log(guideId);
    		location.href = "/grevice.do";
    	})
    	
    	$("#gConsult").on("click", function(e){
    		location.href = "/gconsult.do";
    	})
    	
    	$("#gClass").on("click", function(e){
    		location.href = "/gclass.do";
    	})
    	
    	$("#gRevice").on("click", function(e){
    		location.href = "/grevice.do";
    	})
    	
    	$("#userList").on("click", function(e){
    		location.href = "/userList.do";
    	})
    	
       /*------------	
   	   // 팔로워 리스트 띄우기
   	   -------------*/
       function followerList() {
	       	$.ajax({
	       		url : "/followerList.do",
	       		data : {'guideId' : guideId},
	       		success : function(data) {
	       			 // 헤드 출력
	       			 $("#fcount").append(makeH(data));
	       			 // 내용 출력
	           	     data.forEach(element=>{
	       				$("#followBody").append(makeTr(element));
	           		})  
	       		}
	       	})
       }
    	
        /*------------	
   	   // 내용 출력할 Tr생성
   	   -------------*/    	
        function makeTr(data) {
   			let tr = $("<tr>").append($("<td>").html(data.memberId))
   						  .append($("<td>").html(data.nick))
   						  .append($("<td>").append($("<div>").append($("<button>").addClass("btn").addClass("deletF").html("unfo"))))
  	 		return tr;
       }  
        
        /*------------	
   	   // 헤드생성
   	   -------------*/ 
       function makeH(data) {
          	//alert(data)
      		let h2 = $("<h2>").addClass("mb-1").html(data.length)
     	 	return h2;
        } 
            
       /*------------	
   	   // 언팔로우 (삭제)
   	   -------------*/ 
       $(document).on("click",".deletF", function(e) {
	   	   let deleteF = $(e.target).closest("tr").children(0).html();
	   	   $.ajax({
	   		   url : "/followerDelete.do",
	   		   type : "get",
	   		   data : {'memberId' : deleteF, 'guideId' : guideId},
	   		   beforeSend : function(xhr) {
	   			   xhr.setRequestHeader("AJAX", true);
	  		       xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken);
	   		   },
	   		   success : function(data) {
	   			   if(data == 1) {
	   				   $("#followBody").empty();
	   				   $("#fcount").empty();
	   				   followerList();
	   				   
	   			   }
	   		   }
	   	   })
      })  
        	
   	$(document).ready(function(){    
			followerList(); //페이지 로딩시 follow목록, follow수 출력
		});
    </script>
	</div>
</body>
</html>