<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>가이드 마이페이지</title>
<script src="js/jquery-3.6.0.min.js"></script>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
<style>
	.table{
		text-align: center;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	
	.table td img{
		max-width: 100%;
	}
	.alert {
	    position: relative;
	    padding: 2rem 2rem;
	    margin-bottom: 1rem;
	    border: none solid transparent;
	    border-radius: 0.25rem;
	    font-size: 1.6rem;
	}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="card">
		<input type="hidden" id="guideId" name="guideId" th:value="${#authentication.principal.member.memberId}" />
		<input type="hidden" id="memberId" th:value="${#authentication.principal.member.memberId}" /> 
					<div class="alert alert-light-primary color-primary">가이드 마이페이지</div>
					<div class="card-body">
						<div class="row">
							<table class="table table-bordered">
								<tr>
									<td colspan="1"><img style="width: 200px; height: 200px;" src="images/icon/guide.png"></td>
									<td colspan="3">
										<h1 class=" mb-4">Follower</h1>
										<div class="ms-4">
											<a data-toggle="modal" data-target="#exampleModalScrollable"> 
		                                    	<img src="images/icon/follow.png" style="width: 50px; height: 50px;  cursor:pointer;" alt="Icon">
		                                    </a>
		                                    <!-- follow modal -->
	                 						<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
	                    							aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
							                    <div class="modal-dialog modal-dialog-scrollable" role="document">
							                        <div class="modal-content">
								                        <div class="modal-header">
								                            <h5 class="modal-title" id="exampleModalScrollableTitle"> Follower </h5>
								                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								                            <i data-feather="x"></i>
								                            </button>
								                        </div>
								                        <div class="modal-body">
								                    		<table class='form-group' >                   
								                    			<thead>
								                        			<tr>
											                            <th class='col-md-4'>USER ID</th>
											                            <th class='col-md-5'>NICK NAME</th>
											                            <th class='col-md-5'>삭제</th>
								                       				</tr>
								                    			</thead> 
								                    			<tbody id="followBody">
								                    			</tbody>
								                    		</table>
								                        </div>
								                        <div class="modal-footer">
								                            <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">
								                            <i class="bx bx-x d-block d-sm-none"></i>
								                            <span class="d-none d-sm-block">Close</span>
								                            </button>                       
								                        </div>
							                        </div>
							                    </div>
	                    					</div>
	                    					<div class="btn-square" id="fcount" style="width: 64px; height: 64px; display: inline-block;"></div>
	                                    </div>
									</td>
								</tr>
							</table>
							
							
							<!-- 목록 -->
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>i-consult 1:1</td>
										<th>i-Class</th>
										<th>가이드수정</th>
										<th>수강생 목록</th>
									</tr>
								</thead>
								<tr>
									<td><img class="img-fluid" src="images/icon/consult.png" style="width: 150px; height: 150px;" alt="Icon"></td>
									<td><img class="img-fluid" src="images/icon/class.png" style="width: 150px; height: 150px;" alt="Icon"></td>
									<td><img class="img-fluid" src="images/icon/edit.png" style="width: 150px; height: 150px;"></td>
									<td><img class="img-fluid" src="images/icon/userList.png" style="width: 150px; height: 150px;" alt="Icon"></td>
								</tr>
								<tr>
									<td>상담중인 내역을 보는 곳입니다.</td>
									<td>진행중인 클래스를 보는 곳입니다.</td>
									<td>가이드 정보를 수정하는 곳입니다.</td>
									<td>수강중인 유저들을 보는 곳입니다.</td>
								</tr>
								<tr>
									<td><button id="gConsult" style="width: 150px;" class="btn btn-sm btn-primary">1:1상담</button></td>
									<td><button id="gClass" style="width: 150px;" class="btn btn-sm btn-primary">class</button></td>
									<td><button id="grevice" style="width: 150px;" class="btn btn-sm btn-primary">회원정보수정</button></td>
									<td><button id="userList" style="width: 150px;" class="btn btn-sm btn-primary">수강생 리스트</button></td>
								</tr>
							</table>
						</div>
						<div class="text-center">
                			<a class="btn" href="mrecive.do">회원수정</a>/<a class="btn block" data-toggle="modal" data-backdrop="false" data-target="#backdrop">회원탈퇴</a>
           	 			</div>
	             <!--Disabled Backdrop Modal -->
	                    <div class="modal fade text-left" id="backdrop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4"
	                    aria-hidden="true">
	                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
	                        <div class="modal-content">
	                        <div class="modal-header">
	                            <h4 class="modal-title" id="myModalLabel4">회원 탈퇴</h4>/
	                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                            <i data-feather="x"></i>
	                            </button>
	                        </div>
	                        <div class="modal-body">
	                            <p>
	                            가입된 회원정보 모두 삭제 됩니다. 작성하신 게시물은 삭제되지 않습니다.
								탈퇴 후 같은 계정으로 재가입시 기존에 가직 있던 적립금은 복원되지 않습니다.
								회원탈퇴를 진행하시겠습니까?
	                            </p>
	                        </div>
	                        <div class="modal-footer">
	                            <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
	                            <i class="bx bx-x d-block d-sm-none"></i>
	                            <span class="d-none d-sm-block">취소</span>
	                            </button>
	                            <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
	                            <i class="bx bx-check d-block d-sm-none"></i>
	                            <span class="d-none d-sm-block">탈퇴하기</span>
	                            </button>
	                        </div>
	                        </div>
	                    </div>
	                    </div>
					</div>
				</div>
		<script>
    	let guideId = $("#guideId").val();
    	let csrfToken = $("input[name=_csrf]").val(); // 토큰받아오기
    	
        /*------------	
   	   //  가이드 정보 수정페이지
   	    -------------*/	
    	$("#grevice").on("click", function(e) {
    		//console.log(guideId);
    		location.href = "/grevice.do";
    	})
    	
    	$("#gConsult").on("click", function(e){
    		location.href = "/gconsult.do";
    	})
    	
    	$("#gClass").on("click", function(e){
    		location.href = "/gclass.do";
    	})
    	
    	$("#gRevice").on("click", function(e){
    		location.href = "/grevice.do";
    	})
    	
    	$("#userList").on("click", function(e){
    		location.href = "/userList.do";
    	})
    	
       /*------------	
   	   // 팔로워 리스트 띄우기
   	   -------------*/
       function followerList() {
	       	$.ajax({
	       		url : "/followerList.do",
	       		data : {'guideId' : guideId},
	       		success : function(data) {
	       			 // 헤드 출력
	       			 $("#fcount").append(makeH(data));
	       			 // 내용 출력
	           	     data.forEach(element=>{
	       				$("#followBody").append(makeTr(element));
	           		})  
	       		}
	       	})
       }
    	
        /*------------	
   	   // 내용 출력할 Tr생성
   	   -------------*/    	
        function makeTr(data) {
   			let tr = $("<tr>").append($("<td>").html(data.memberId))
   						  .append($("<td>").html(data.nick))
   						  .append($("<td>").append($("<div>").append($("<button>").addClass("btn").addClass("deletF").html("unfo"))))
  	 		return tr;
       }  
        
        /*------------	
   	   // 헤드생성
   	   -------------*/ 
       function makeH(data) {
          	//alert(data)
      		let h2 = $("<h2>").addClass("mb-1").html(data.length)
     	 	return h2;
        } 
            
       /*------------	
   	   // 언팔로우 (삭제)
   	   -------------*/ 
       $(document).on("click",".deletF", function(e) {
	   	   let deleteF = $(e.target).closest("tr").children(0).html();
	   	   $.ajax({
	   		   url : "/followerDelete.do",
	   		   type : "get",
	   		   data : {'memberId' : deleteF, 'guideId' : guideId},
	   		   beforeSend : function(xhr) {
	   			   xhr.setRequestHeader("AJAX", true);
	  		       xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken);
	   		   },
	   		   success : function(data) {
	   			   if(data == 1) {
	   				   $("#followBody").empty();
	   				   $("#fcount").empty();
	   				   followerList();
	   				   
	   			   }
	   		   }
	   	   })
      })  
        	
   	$(document).ready(function(){    
			followerList(); //페이지 로딩시 follow목록, follow수 출력
		});
    </script>
	</div>
</body>
</html>