<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="js/jquery-3.6.0.min.js"></script>
<style>
.table {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
}

.row {
	margin-top: 50px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#boardName{
	margin-top : 20px;
	padding-top : 25px;
	padding-bottom : 25px;
}
</style>
</head>

<body>
 <div class="row" layout:fragment="content">
 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> <!-- 시큐리티에서 설정하고 Application쿠키에 담기는 name과 토큰 -->
 <input type="text" class="form-control" id="guideId" name="guideId"  th:value="${#authentication.principal.member.memberId}" readOnly>
		<div class="col-12">
			<div class="card my-4">
				<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
					<div id="boardName" class="alert alert-light-primary color-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>수강생목록</div>
					<div id="boardName" class="alert alert-primary">
                            <h4 class="alert-heading">수강생목록</h4>
                        </div>
				</div>
				<div class="card-body px-0 pb-2">
					<div class="table-responsive p-0">
						<table class="table align-items-center mb-0">
							<thead>
								<tr>
									<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7">클래스 타이틀</th>
									<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7 ps-2">수강생</th>
									<!-- <th style="display: none;" class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">결제일</th> -->
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">결제일</th>
								</tr>
							</thead>
							<tbody id="freeList">
								<tr th:each="list : ${pageInfo.list}">
									<td><p class="text-md text-secondary mb-0" th:text="${list.title}">클래스 타이틀</p></td>
									<td><p class="text-md text-secondary mb-0" th:text="${list.memberId}">수강생</p></td>
									<!-- <td style="display: none;"><p class="text-md text-secondary mb-0" th:text="${list.setlede}">결제일</p></td> -->
									<td><p class="text-md text-secondary mb-0" th:text="${list.setlede}">결제일</p></td>
								</tr>
							</tbody>
						</table>
					</div>
						<!-- 페이지네이션 -->
						<nav aria-label="Page navigation example">
							<ul class="pagination pagination-primary  justify-content-center">
								<li class="page-item disabled"
									th:if="${pageInfo.isIsFirstPage()}"><span
									class="page-link">«</span></li>
								<li class="page-item"
									th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
									rel="prev">«</a></li>
								<li
									th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
									th:each="page:${pageInfo.navigatepageNums}"><span
									class="page-link" th:if="${pageInfo.pageNum eq page}"
									th:text="${page}"></span> <a class="page-link"
									th:unless="${pageInfo.pageNum eq page}"
									th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
										}}</a></li>
								<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
									rel="next">»</a></li>
								<li class="page-item disabled"
									th:unless="${pageInfo.hasNextPage}"><span
									class="page-link">»</span></li>
							</ul>
						</nav>
				</div>
			</div>
		</div>
		
		<script>
			function gopage(p) {
				location.href = '/ajaxUserList.do?pageNum=' + p;
			}

		</script>
	</div> 

	<!--   Core JS Files   -->
	<script src="bootstrap/material/assets/js/core/popper.min.js"></script>
	<script src="bootstrap/material/assets/js/core/bootstrap.min.js"></script>
	<script src="bootstrap/material/assets/js/plugins/perfect-scrollbar.min.js"></script>
	<script src="bootstrap/material/assets/js/plugins/smooth-scrollbar.min.js"></script>
	<script>
		 var win = navigator.platform.indexOf('Win') > -1;
		if (win && document.querySelector('#sidenav-scrollbar')) {
			var options = {
				damping : '0.5'
			}
			Scrollbar.init(document.querySelector('#sidenav-scrollbar'),
					options);
		} 
	</script>
	<!-- Github buttons -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
	<script
		src="bootstrap/material/assets/js/material-dashboard.min.js?v=3.0.0"></script>
</body>
</html>