<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.itrip.prj.follow.mapper.FollowMapper">

	<select id="followSelectList" resultType="co.itrip.prj.follow.service.FollowVO">
		SELECT GUIDE_ID FROM FOLLOW
	</select>
	
	<select id="followCount" resultType="co.itrip.prj.follow.service.FollowVO">
		SELECT COUNT(*) FROM FOLLOW
	</select>

</mapper>