<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	iframe {
		min-height : 1000px;
	}
</style>
</head>
<body>
<!-- 메타버스 1형 -->
<div  layout:fragment="content">
	<iframe
		src='https://www.vchatcloud.com/chat-demo/iframe/iframe_metaverse/type_1/index.html?channelKey=hOKhMLodeP-Qw0usQ3IcR-20220913160702'
		allow="camera *;microphone *;display-capture *" frameborder='no'
		scrolling='no' marginwidth='0' marginheight='0' width='100%'
		height='100%'></iframe>
</div>
</body>
</html>