<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>비밀번호 변경</title>
<script src="js/jquery-3.6.0.min.js"></script>
</head>
<body>
<div layout:fragment="content">
<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-12 mx-auto">
            <div class="card pt-4">
                <div class="card-body">
                    <div class="text-center mb-5 ">
                        <h5 class="mt-4">새로운 비밀번호 변경</h5> 
                    </div>
                    <form action="/memberPwUpdate.do" method="post" id="frm">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <input type="hidden" id="memberId" name="memberId">
                        
                     <div><label><small>비밀번호</small></label></div>
										<div class="input-group input-group-outline mb-2">
											<input type="password" class="form-control" id="pw" name="pw" placeholder="비밀번호를 입력해주세요.">
										</div>
										<div>
											<label><small class="point mb-3 successPwRegChk"></small></label>
											<input type="hidden" id="pwRegChk" value="false"/> 
										</div>
										<div class="input-group input-group-outline ">
											<input type="password" class="form-control" id="pwRe" name="pwRe" placeholder="비밀번호를 동일하게 한 번 더 입력하세요.">&nbsp;&nbsp;<br>
										</div>
										<div>
											<label><small class="point mb-5 successPwChk"></small></label>
											<input type="hidden" id="pwChk" value="false"/> 
										</div>
                        <div class="clearfix">
                            <button type="button" class="btn btn-primary float-right mb-3 pwUpdateCall">비밀번호 변경</button>
                        </div>
                        </hr>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

 //비밀번호 정규표현식 체크
    $("#pw").blur(function(){
        let pwreg = /^(?!((?:[A-Za-z]+)|(?:[~!@#$%^&*()_+=]+)|(?:[0-9]+))$)[A-Za-z\d~!@#$%^&*()_+=]{10,}$/; //영문, 숫자, 특수문자 중 2가지 이상 조합하여 10자리 이내
        let mPw = $("#pw").val();
        
        if(mPw.match(pwreg) == null){
            $(".successPwRegChk").text("* 영문, 숫자, 특수문자 중 2가지 이상 조합하여 10자리 이내로 입력해주세요.");
			$(".successPwRegChk").css("color", "red");
			$("#pwRegChk").val("false");
			console.log($("#pwChk").val());
        }else{
            $(".successPwChk").text("");
			$("#pwRegChk").val("tre");
        }
    })
      
    //비밀번호 확인
    $("#pwRe").blur(function(){ 
		
    	let mPw = $("#pw").val();
    	let mPwRe = $("#pwRe").val();
	   
	        if(mPw == mPwRe){ 
	        	$(".successPwChk").text("* 비밀번호가 일치합니다.");
				$(".successPwChk").css("color", "green");
				$("#pwChk").val("true");
	        
	        }else{
	        	$(".successPwChk").text("* 비밀번호가 일치하지 않습니다.");
				$(".successPwChk").css("color", "red");
				$("#pwChk").val("false");
	        }
    })
    //비밀번호 확인끝

function pwUpdateCall(){
console.log('함수는 실행됨')

	if($("#pwChk").val() =='true' & $("#pwRegChk").val() =='true'){
    		alert("비밀번호가 변경되었습니다.")
	    	frm.submit();
    	}else{
    		alert("비밀번호를 다시 확인해주세요.");
    	} 
}

   
    
</script>

</div>
</body>
</html>