<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8" />
<title>비밀번호 확인</title>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
</head>
<body>
<div layout:fragment="content">
<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-12 mx-auto">
            <div class="card pt-4">
                <div class="card-body">
                <div class="text-center mb-5 text-center">
                        <h3 class="mt-4">비밀번호 재확인</h3> 
                        <br><hr><br>
                        <label><small>개인정보보호를 위해 회원님의 비밀번호를 다시 한번 확인합니다.</small></label>
                    </div>
                    <div th:if="${param.error}">
				        <p class="alert alert-danger">비밀번호가 틀렸습니다.</p>
				    </div>
                    <form action="/pwChk.do" method="post" id="frm">
                        <div class="form-group position-relative has-icon-left">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                            <label for="username">ID</label>
                            <div class="position-relative">
                                <input type="text" class="form-control" id="memberId" name="memberId" th:value="${#authentication.principal.member.memberId}" readonly="readonly">
                                <div class="form-control-icon">
                                    <i data-feather="user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left">
                            <div class="position-relative">
                                <label for="username">Password</label>
                                <input type="password"  class="form-control"  id="pw" name="pw">
                                <div class="form-control-icon">
                                    <i data-feather="lock"></i>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <button class="btn btn-primary float-right">비밀번호 확인</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>