<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.itrip.prj.iclass.mapper.ClassMapper">

	<insert id="classInsert" >
		<selectKey keyProperty="classNo" order="BEFORE" resultType="int">
			SELECT CASE WHEN MAX(CLASS_NO) IS NULL THEN 1 ELSE MAX(CLASS_NO)+1 END AS ID FROM CLASS
		</selectKey>
		INSERT INTO CLASS VALUES (#{classNo}, #{title}, #{content}, #{crclm}, sysdate, #{price}, #{attach}, 
		                          #{attachDir}, '1', #{guideId}, #{jobCd}, #{psncpa},  #{classCnt}, '비활성화' )
	</insert>
	
	<insert id="classDtInsert" >
		 <selectKey keyProperty="ctimeNo" order="BEFORE" resultType="int">
         SELECT 
             CASE WHEN MAX(CTIME_NO) IS NULL THEN 1
             ELSE MAX(CTIME_NO) +1 
             END AS NO
         FROM CLASS_DT
         WHERE CLASS_NO = #{classNo}
      </selectKey>
		insert into class_dt values (#{ctimeNo}, #{classNo}, #{term}, #{beginTime}, #{endTime}) 
	</insert>

	<select id="classList" resultType="co.itrip.prj.iclass.service.ClassVO"
			 parameterType="co.itrip.prj.iclass.service.ClassVO">
 		select distinct c.class_no, c.title, c.content, c.crclm, c.dt, 
			c.price, c.attach, c.attach_dir, c.job_cd, c.psncpa, c.class_cnt, 
			c.ennc, c.confm_cd, c.guide_id, cm.cd_ini, cm.cd_no, cm.cd_name, 
			dt.term, dt.begin_time, dt.end_time
				from class c
				left join cmmncd cm
				on c.job_cd = cm.cd_no
				left join class_dt dt
				on c.class_no = dt.class_no
				where cm.cd_ini = 'J' and dt.ctime_no=1  order by 1 

	</select><!-- and ennc = '활성화' -->
	
	<select id="classDtList" resultType="co.itrip.prj.iclass.service.ClassDtVO"
		parameterType="co.itrip.prj.iclass.service.ClassDtVO">
		select ctime_no,class_no,term,begin_time,end_time
			 from  class_dt 
			 where class_no=#{classNo}
		</select>
	
	<select id="classSelectOne" parameterType="co.itrip.prj.iclass.service.ClassVO" 
		resultType="co.itrip.prj.iclass.service.ClassVO">
		select c.class_no,c.title,c.content,c.dt,c.price,c.crclm,
			c.attach,c.attach_dir,c.confm_cd,c.guide_id,c.job_cd,c.psncpa,c.class_cnt,c.ennc,cm.cd_name 
			from class c ,cmmncd cm 
			where cm.cd_ini = 'J' 
			and cm.cd_no = c.job_cd 
			and class_no = #{classNo}
	</select>
	
	<select id="ajaxJobSearch" resultType="co.itrip.prj.iclass.service.ClassVO"
			 parameterType="co.itrip.prj.iclass.service.ClassVO">
		select distinct c.class_no, c.title, c.content, c.crclm, c.dt, c.price, c.attach, 
			c.attach_dir, c.job_cd, c.psncpa, c.class_cnt, c.ennc, c.confm_cd, c.guide_id, 
			cm.cd_ini, cm.cd_no, cm.cd_name, dt.term, dt.begin_time, dt.end_time
			from class c
			left join cmmncd cm
			on c.job_cd = cm.cd_no
			left join class_dt dt
			on c.class_no = dt.class_no
			where cm.cd_ini = 'J'  and ennc = '활성화'
			and dt.ctime_no=1 and job_cd=#{jobCd}	 
	</select>
	
	<select id="myClassList" resultType="co.itrip.prj.iclass.service.ClassVO">
		 SELECT C.* ,DT.MINDT, DT.MAXDT, p.member_id,
     				CASE WHEN  SYSDATE BETWEEN MINDT AND MAXDT THEN '진행중'
                    <![CDATA[WHEN  SYSDATE < MINDT THEN '개설전']]> <!--  Query안에 사용되고 있는 부등호가 문자열이라는 것을 의미 -->
                    ELSE '종료'
                    END ST
        FROM CLASS C , payform p, ( SELECT CLASS_NO, MIN(TERM) MINDT , MAX(TERM) MAXDT 
                         FROM CLASS_DT
                         GROUP BY CLASS_NO) DT
        WHERE C.CLASS_NO = DT.CLASS_NO
        and p.no = c.class_no
        and p.category='CLASS'
        AND C.CONFM_CD = '2'
        AND p.member_id=#{memberId}
	</select>
	
	<select id="alreadyClass" resultType="co.itrip.prj.iclass.service.ClassVO">
		select distinct class_no, title, dt, job_cd, psncpa, class_cnt, price
		from class 
		where confm_cd ='1'
		and guide_id = #{guideId}
	</select>
	

	<!-- 클래스 결제 시 출결테이블에 출결상태0으로 추가 -->
	<insert id="classAttendInsert">
		insert into class_attend values(#{memberId},#{classNo},0,0)
	</insert>
	
	<!-- 가이드 클래스 링크입력 -->
	<insert id="classlinkInsert">
		insert into class_chat values (#{classNo},#{chatLink})
	</insert>
	
	<!-- 강의장 연결 -->
	<select id="classChatLink" resultType="co.itrip.prj.iclass.service.ClassChatVO">
		select *
		from class_chat
		where class_no = #{classNo}
	</select>
	
	<!-- 출석체크(수정하기) -->
	<update id="classChk">
		update class_attend
		set attend_cnt = attend_cnt + 1 
		where member_id = #{memberId}
		and class_no = #{classNo}
	</update>
	
	<!-- 수강주차랑 출석횟수 비교 -->
	<select id="classAttendSelect" resultType="co.itrip.prj.iclass.service.ClassAttendVO">
		select c.class_no, c.class_cnt, a.attend_cnt, a.member_id
		from class_attend a, class c
		where c.class_no = a.class_no
		and c.class_no = #{classNo}
		and member_id= #{memberId}
	</select>
	
	<!-- 비교한 결과로 수강완료여부 표시 -->
	<update id="classAttendUpdate">
		update class_attend 
		set complete = complete + 1
		where class_no = #{classNo}
		and member_id = #{memberId}
	</update>
	
	<!-- 수강완료 체크->  수료증 -->
	<select id="myClassAttendList" resultType="co.itrip.prj.iclass.service.ClassAttendVO">
		select *
		from class_attend
		where member_id= #{memberId}
	</select>
	
</mapper>