<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="js/jquery-3.6.0.min.js"></script>
<link rel="apple-touch-icon" sizes="76x76" href="bootstrap/material/assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="bootstrap/material/assets/img/favicon.png">
<title>출제한 문제 관리 목록</title>
<style>
.table {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
}

.row {
	margin-top: 50px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#insertBtn{
	float: right;
	margin-right: 50px;
}
.content { /*컨텐츠 넓이지정*/
	position: relative;
	width: 700px;
	margin: 0 auto;
}
</style>
</head>
<body>
	<div layout:fragment="content">
	
	
<div th:if="${#lists.isEmpty(pageInfo.list)}">
	<div class="content">
		<div class="col-12">
			<div class="card my-4">
				<div class="card-body px-0 pb-2" style="margin: 0 auto;">
					<h4 class="form-check" style="padding-top: 20%;">아직 출제한 문제가 없습니다. 문제를 등록해주세요.</h4><br><br>
					<div class="buttons" style="text-align: center;">
						<a href="cbtUserInsertForm.do" class="btn btn-primary">문제출제하기</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:unless="${#lists.isEmpty(pageInfo.list)}">	
	<!-- Bootstrap Start-->
	<div class="col-12">
		<div class="card my-4">
			<div class="card-body px-0 pb-2">
				<div class="table-responsive p-1">
					<table class="table align-items-center mb-0">
						<thead>
							<tr>
								<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7" >출제유형</th>
								<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7 ps-2">언어</th>
								<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7 ps-2">문제번호</th>
								<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7 ps-2">문제</th>
							</tr>
						</thead>
						<tbody id="myTbody" >
						<tr th:each="my:${pageInfo.list}">
      						<input type="hidden" id="utpCd0" name="utpCd0" th:value="${my.utpCd}">
							<input type="hidden" id="langCd0" name="langCd0" th:value="${my.langCd}">
							<td><p class="text-md text-secondary mb-0" id="utpCd" name="utpCdName" th:text="${my.utpCdName}">출제유형</p></td>
							<td><p class="text-md text-secondary mb-0" id="langCd" name="langCdName" th:text="${my.langCdName}">언어</p></td>
							<td><p class="text-md text-secondary mb-0" id="cbtNo" name="cbtNo" th:text="${my.cbtNo}">문제번호</p></td>
							<td><p class="text-md text-secondary mb-0" id="cnsr" name="cnsr" th:text="${my.ques}">문제</p></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- 페이지네이션 -->
				 <nav aria-label="Page navigation example">
					<ul class="pagination pagination-primary  justify-content-center">
						<li class="page-item disabled" th:if="${pageInfo.isIsFirstPage()}">
						    <span class="page-link">«</span>
						</li>
						<li class="page-item" th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}">
					    	<a class="page-link" th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|" rel="prev">«</a>
					    </li>
						<li th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |" th:each="page:${pageInfo.navigatepageNums}">
						    <span class="page-link" th:if="${pageInfo.pageNum eq page}" th:text="${page}"></span>
						    <a class="page-link" th:unless="${pageInfo.pageNum eq page}" th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page}}</a>
						</li>
						<li class="page-item" th:if="${pageInfo.hasNextPage}">
						    <a class="page-link" th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|" rel="next">»</a>
						</li>
						<li class="page-item disabled" th:unless="${pageInfo.hasNextPage}">
						    <span class="page-link">»</span>
						</li>
					</ul>
				</nav> 
			</div>
		</div>
	</div>
</div>
    <!-- Bootstrap Select end -->
    <div>
        <form id="frm" method="post" action="/cbtUserMyOne.do">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="hidden" id="cbtNo" name="cbtNo">
            <input type="hidden" id="utpCd" name="utpCd">
            <input type="hidden" id="langCd" name="langCd"> 
        </form>
    </div>
<script>
    function gopage(p) {
	    location.href = '/cbtUserMyList.do?pageNum=' + p;
    }
    $("#myTbody").on("click","tr",function(e){
        let tg = e.currentTarget;
        let currUtpNo = tg.childNodes[1].value; // 상세보기를 처리를 위한 utpCd 추출
        let currLangNo = tg.childNodes[3].value; // 상세보기를 처리를 위한 langCd 추출
        let currCbtNo = tg.childNodes[9].childNodes[0].innerHTML; // 상세보기를 처리를 위한 cbtNo 추출
        
        frm.utpCd.value = currUtpNo
        frm.langCd.value = currLangNo
        frm.cbtNo.value = currCbtNo
        
        frm.submit();
       })
    
</script>
</div>
</body>
</html>