<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="js/jquery-3.6.0.min.js"></script>
<style type="text/css">



</style>
</head>
<body>
	<div layout:fragment="content">




<table>
	<thead>
		<tr>
			<th>문제번호</th>
			<th>문제</th>
			<th>정답</th>
			<th>보기1</th>
			<th>보기2</th>
			<th>보기3</th>
			<th>보기4</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="cbt: ${cbtList}">
			<td th:text="${cbt.cbtNo}"></td>
			<td th:text="${cbt.ques}"></td>
			<td th:text="${cbt.cnsr}"></td>
			<td th:text="${cbt.ex1}"></td>
			<td th:text="${cbt.ex2}"></td>
			<td th:text="${cbt.ex3}"></td>
			<td th:text="${cbt.ex4}"></td>
			<td th:text="${cbt.attach}"></td>
			<td th:text="${cbt.attachDir}"></td>
			<td th:text="${cbt.cnsrCnt}"></td>
			<td th:text="${cbt.call}"></td>
			<td th:text="${cbt.explna}"></td>
			<td th:text="${cbt.utpCd}"></td>
			<td th:text="${cbt.langCd}"></td>
			<td th:text="${cbt.memberId}"></td>
			
		</tr>
	</tbody>
</table>







</div>
</body>
</html>