<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>CBT 문제 제출하기</title>
<style>
p {
	font-size: '1px';
}
</style>

</head>
<body>
	<div layout:fragment="content">
		<!-- Section -->
		<!-- Input Group Select start -->
		<section class="input-group-select">
			<div class="row">
				<div class="col-12" style="margin: 0 auto;width: 60%">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">CBT 문제 출제하기</h4>
						</div>
						<div class="card-content">
							<form id="Frm" action="cbtUserInsert.do" method="post" enctype="multipart/form-data">
							<!-- 로그인 시큐리티 -->
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
							<div class="card-body">
							
								<div class="row">
									<div class="form-group mb-3">
										<div class="input-group mb-2">
											<label class="input-group-text" for="utpCd">유형</label>
											<select class="form-select" id="utpCd" name="utpCd" onchange="mySel(this.value)">
												<option value="none">======= 유형 선택 =======</option>
												<option th:each="utp : ${utpCdList}" th:value="${utp.cdNo}" th:utext="${utp.cdName}"></option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group mb-3">
										<div class="input-group mb-2">
											<label class="input-group-text" for="langCd">언어</label>
											<select class="form-select" id="langCd" name="langCd">
												<option value="none">==== 언어 선택 ====</option>
												<option th:each="lang : ${langCdList}" th:value="${lang.cdNo}" th:utext="${lang.cdName}"></option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group mb-3">
									<label for="ques" class="form-label">문제</label>
									<textarea class="form-control" id="ques" name="ques" rows="3" placeholder="출제할 문제를 입력하세요."></textarea>
								</div>

								<div class="form-group mb-3" id="exList">
									<!-- 보기들어가는곳 -->
								</div>

								<div class="form-group mb-3" id="answer">
									<!-- 정답들어가는곳 -->
								</div>
								
								<div class="form-group mb-3">
									<label for="explna" class="form-label">풀이</label>
									<textarea class="form-control" id="explna" name="explna" rows="3" placeholder="문제 풀이 내용을 입력하세요."></textarea>
								</div>
								<div class="col-md-6 mb-1">
									<div class="form-file">
										<input type="file" id="attach" name="file"  class="form-control form-group" > <!--  class="form-file-input" -->
									</div>
								</div>
								<input id="memberId" name="memberId" th:value="${#authentication.principal.member.memberId}"  type="hidden">
							</div>
							<!-- 풀이내용까지 끝 -->
							<div class="col-12 d-flex justify-content-end">
								<button type="submit" class="btn btn-primary mr-1 mb-1 mk">제출</button>
								<button type="reset" class="btn btn-light-secondary mr-1 mb-1">초기화</button>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Bootstrap Select end -->
		
	<script type="text/javascript">
	
	let exList = document.getElementById("exList");
	let answer = document.getElementById("answer");
	function mySel(val){
		if(val==1){
			exList.innerHTML="";
			answer.innerHTML="";
			exList.innerHTML+=
				`<label for="ex1" class="form-label">보기①</label>
				<textarea class="form-control" id="ex1" name="ex1" rows="1"></textarea>
				<label for="ex3" class="form-label">보기②</label>
				<textarea class="form-control" id="ex2" name="ex2" rows="1"></textarea>
				<label for="ex4" class="form-label">보기③</label>
				<textarea class="form-control" id="ex3" name="ex3" rows="1"></textarea>
				<label for="ex5" class="form-label">보기④</label>
				<textarea class="form-control" id="ex4" name="ex4" rows="1"></textarea>`
			answer.innerHTML +=`<label for="cnsr" class="form-label">정답</label>
				<textarea class="form-control" id="cnsr" name="cnsr" rows="1" placeholder="문제의 답을 입력하세요."></textarea>`
			
		}
		if(val==2){
			exList.innerHTML="";
			answer.innerHTML="";
			answer.innerHTML+=
				`<label for="cnsr" class="form-label">정답</label>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="cnsr" id="cnsr" value="O"> O
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="cnsr" id="cnsr" value="X"> X
				</div>`
		}
		
	}
	

	$(".mk").on("click",function(){
		 if($("select[name=utpCd]").val() == "none" ){
			alert("유형을 선택하세요.")
			return false;
		} 
		 if($("select[name=langCd]").val() == "none" ){
			alert("언어를 선택하세요.")
			return false;
		} 
		 if($("#ques").val() == "" ){
			alert("문제를 입력하세요.")
			return false;
		} 
		 for(let i=0;i<4;i++){
			 if($("#ex"+i).val() == "" ){
				alert("보기"+i+"를 확인하세요.")
				return false;
				} 
		 }
		 
	})
		
	</script>
	</div>
</body>
</html>