<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>CBT 문제 제출하기</title>
<script src="js/jquery-3.6.0.min.js"></script>
<style>
p {
    font-size: '1px';
}
</style>

</head>
<body>
<div layout:fragment="content">
	<!-- Section -->
    <!-- Input Group Select start -->
    <section class="input-group-select">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">CBT 문제 출제하기</h4>
                    </div>
                    <div class="card-content">
                    <form id="frm" action="cbtGuideInsert.do" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-1">
                                <input type="hidden" id="memberId" name="memberId" th:value="${#authentication.principal.member.memberId}">
                                    <div class="input-group mb-2" >
                                        <label class="input-group-text" for="inputGroupSelect01">유형</label>
                                        <select class="form-select" id="gtpCd" name="gtpCd" onchange="mySel(this.value)">
                                            <option selected >==== 유형 선택 ====</option>
                                            <option th:each="gtp : ${gtpCdList}" th:value="${gtp.cdNo}" th:utext="${gtp.cdName}"></option>
                                        </select>
                                     </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-1">
                                    <div class="input-group mb-2">
                                        <label class="input-group-text" for="inputGroupSelect02">언어</label>
                                        <select class="form-select"  id="langCd" name="langCd">
                                            <option selected>==== 언어 선택 ====</option>
                                            <option th:each="lang : ${langCdList}" th:value="${lang.cdNo}" th:utext="${lang.cdName}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- 문제 내는 곳-->
                            <div class="form-group mb-3" id="exList">
                                <label for="exampleFormControlTextarea1" class="form-label">문제</label>
                                <textarea class="form-control" id="ques" name="ques"rows="3" placeholder="출제할 문제를 입력하세요."></textarea>
                            </div>
                            <!-- 유형에 따라 변경 될 곳-->
                            <div id ="dynamicArea">
                            <div class="form-group mb-3" id="answer">
                            ''
                            </div>
                            
                             <!-- 유형에 따라 변경 될 곳 끝 -->
                             <div class="form-group mb-3">
                                <label for="exampleFormControlTextarea3" class="form-label">풀이</label>
                                <textarea class="form-control" id="explna" name="explna" rows="3" placeholder="문제 풀이 내용을 입력하는 곳입니다."></textarea>
                            </div>
                            <div class="col-md-6 mb-1">
                                    <div class="input-group mb-8">
                                        <span class="input-group-text" id="inputGroupFileAddon01"><i data-feather="upload"></i></span>
                                        <div class="form-file">
                                            <input type="file" class="form-file-input" id="attach" name="file" aria-describedby="attach">
                                             <label class="form-file-label" for="inputGroupFile01">
                                                <span class="form-file-text"></span>
                                                <span class="form-file-button">Upload File</span>
                                            </label> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 풀이내용까지 끝 -->
                            <div class="col-12 d-flex justify-content-end">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <button type="button" class="btn btn-primary mr-1 mb-1" onclick="insertCall()">제출</button>
                                <button type="reset" class="btn btn-light-secondary mr-1 mb-1">초기화</button>
                            </div>
                             </div>
                            </form>
                        </div>
                    </div>
                </div>
         </div>
    </section>
    <!-- Bootstrap Select end -->
    <script type="text/javascript">
        function mySel(key){
        console.log(key);
        //let frmInsert = $("#dynamicArea");
     	let answer = document.getElementById("answer");
        let frmInsert = document.getElementById("dynamicArea");
        
        switch(key) {
		  case '1': //객관식
			  answer.innerHTML="";
			  answer.innerHTML+=`<label for="ex1" class="form-label">보기①</label>
				<textarea class="form-control" id="ex1" name="ex1" rows="1"></textarea>
				<label for="ex3" class="form-label">보기②</label>
				<textarea class="form-control" id="ex2" name="ex2" rows="1"></textarea>
				<label for="ex4" class="form-label">보기③</label>
				<textarea class="form-control" id="ex3" name="ex3" rows="1"></textarea>
				<label for="ex5" class="form-label">보기④</label>
				<textarea class="form-control" id="ex4" name="ex4" rows="1"></textarea> <br>

				<select class="form-select" id="cnsr" name="cnsr">
				<option selected  >==== 정답 선택 ====</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				</select>
				
				`;
		    break;
		  case '2':  //단답형
		      answer.innerHTML="";
			  answer.innerHTML+=`<label for="exampleFormControlTextarea2" class="form-label">답안</label>
			  <input class="form-control form-control-sm" type="text" id="cnsr" name="cnsr" placeholder="정답을 입력하세요">`;
		    break;
		  case '3': //서술형
		      answer.innerHTML="";
			  answer.innerHTML+=` <label for="exampleFormControlTextarea2" class="form-label">답안</label>
                                <textarea class="form-control" id="cnsr" name="cnsr" rows="3" placeholder="문제의 답을 입력하세요."></textarea>
                                <div class="col-sm-6">
	                                <div class="form-group position-relative has-icon-right">
	                                    <input type="text" class="form-control"  id="keyword" name="keyword"
	                                        placeholder="정답 키워드를 입력해주세요. 키워드로 채점이 진행됩니다.">
	                                        <div class="form-control-icon"><a style="cursor: pointer;" onclick="add()"><h1>+</h1></a>
	                                    </div>
	                                </div>
                                </div>
                             </div>`;
		    break;
		}
        }
        
        function add(){ 
        	answer.innerHTML+=`
        	<div class="col-sm-6">
            <div class="form-group position-relative has-icon-right">
                <input type="text" class="form-control" id="keyword" name="keyword"
                    placeholder="정답 키워드를 입력해주세요.z 키워드로 채점이 진행됩니다.">
                    <div class="form-control-icon"><a style="cursor: pointer;" onclick="add()"><h1>+</h1></a>
                </div>
            </div>
        </div>`;
        	
        }
        function insertCall(){
            let insertText = confirm("등록하겠습니까?");
            if(insertText){
                alert("등록되었습니다.");
                frm.action = '/cbtGuideInsert.do';
			    $("#frm").submit();
            }else{
                alert("등록을 취소하였습니다.");
			 
            }
        }
        
    
    </script>
</div>
</body>
</html>