<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>CBT 메인 화면</title>
<script src="js/jquery-3.6.0.min.js"></script>
<style>
hr {
	background: lightgray;
	height: 1px;
	border: 0;
}

#insertFrmCall {
	float: right;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<!-- Section -->
		<!-- 만약 가이드라면 버튼 활성화...(아직 처리 안함)-->
		<!-- 글쓰기 버튼 -->
		<div sec:authorize="isAuthenticated()"> <!-- 가이드 권한만 문제 출제가능-->
			<div th:switch="${#authentication.principal.member.auth}">
				<div class="buttons" th:case="ROLE_GUIDE" id="insertFrmCall">
				<a href="/cbtGuideInsertForm.do" class="btn btn-primary">문제출제하기</a>
				<small><a href="/cbtGuideMyList.do" class="primary">문제관리</a><small>
				</div>
			</div>
		</div>
		<!--글쓰기 버튼 끝 -->
		<!--  탭 페이지 -->
		<div class="tab-content" id="myTabContent">
			<div class="card-body">
				<div class="row">
					<div class="col-md-30">
					    <!-- 탭 -->
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item" role="presentation"><a class="nav-link active" id="home-tab" data-toggle="tab" href="#all" role="tab" aria-controls="home"
								aria-selected="true">전체</a></li>
							<li class="nav-item" role="presentation"><a class="nav-link" id="contact-tab" data-toggle="tab" href="#T1" role="tab"
								aria-controls="contact" aria-selected="false">객관식</a></li>
							<li class="nav-item" role="presentation"><a class="nav-link" id="contact-tab" data-toggle="tab" href="#T2" role="tab"
								aria-controls="contact" aria-selected="false">단답형</a></li>
							<li class="nav-item" role="presentation"><a class="nav-link" id="contact-tab" data-toggle="tab" href="#T4" role="tab"
								aria-controls="contact" aria-selected="false">객관식/단답형</a></li>
							<li class="nav-item" role="presentation"><a class="nav-link" id="contact-tab" data-toggle="tab" href="#T3" role="tab"
								aria-controls="contact" aria-selected="false">서술형</a></li>
						</ul>
						<!-- 탭 내용 -->
						<!-- 전체 -->
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="home-tab">
								<p class='my-5'>
								<!-- 전체 카드본문 -->
		<div>
			<section class="py-5" th:each="gtp:${gtpCdList}">
				<div class="container px-4 px-lg-5 mt-5 langSelc">
					<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
						<div class="col mb-5" th:each="lang:${langCdList}" >
							<div class="card h-100" >
							<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem" th:text="${gtp.cdName}">Sale</div>
								<img class="card-img-top" src="images/Code_review.png" alt="..." />
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder" th:text="${lang.cdName}">문제카테고리</h5>
										<div>
											<span th:text="${lang.cdName}"></span>의 5문제를 랜덤으로 풀 수 있습니다.
										</div>
									</div>
								</div>
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center question">
										<a class="btn btn-outline-dark mt-auto" href="#" th:id="'G'+${gtp.cdNo}+'L'+${lang.cdNo}">문제풀기</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
  <hr>
			</section>
		</div>
    <!-- 카드본문끝 -->
							</div>
							<div class="tab-pane fade" id="T1" role="tabpanel" aria-labelledby="contact-tab">
							      <!-- 객관식 카드본문 -->
		<div>
			<section class="py-5" >
				<div class="container px-4 px-lg-5 mt-5 langSelc">
					<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
						<div class="col mb-5" th:each="lang:${langCdList}" >
							<div class="card h-100" >
								<img class="card-img-top" src="images/Code_thinking.png" alt="..." />
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder" th:text="${lang.cdName}">문제카테고리</h5>
										<div>
											클릭하면 <span th:text="${lang.cdName}"></span>의 5문제를 랜덤으로 풀 수
											있습니다.
										</div>
									</div>
								</div>
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center question">
										<a class="btn btn-outline-dark mt-auto" href="#" th:id="'G1L'+${lang.cdNo}">문제풀기</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
  <hr>
			</section>
		</div>
    <!-- 카드본문끝 -->
							</div>
							<div class="tab-pane fade" id="T2" role="tabpanel" aria-labelledby="contact-tab">
								 <!-- 단답형 카드본문 -->
		<div>
			<section class="py-5">
				<div class="container px-4 px-lg-5 mt-5 langSelc">
					<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
						<div class="col mb-5" th:each="lang:${langCdList}">
							<div class="card h-100">
								<img class="card-img-top" src="images/Proud_coder.png" alt="..." />
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder" th:text="${lang.cdName}">문제카테고리</h5>
										<div>
											<span th:text="${lang.cdName}"></span>의 5문제를 랜덤으로 풀 수 있습니다.
										</div>
									</div>
								</div>
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center question">
										<a class="btn btn-outline-dark mt-auto" href="#" th:id="'G2L'+${lang.cdNo}">  문제풀기</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
    <!-- 카드본문끝 -->
							</div>
							<div class="tab-pane fade" id="T4" role="tabpanel" aria-labelledby="contact-tab">
								<!-- 객관식/단답형 카드본문 -->
		<div>
			<section class="py-5">
				<div class="container px-4 px-lg-5 mt-5 langSelc">
					<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
						<div class="col mb-5" th:each="lang:${langCdList}">
							<div class="card h-100">
								<img class="card-img-top" src="images/code_inspection.png" alt="..." />
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder" th:text="${lang.cdName}">문제카테고리</h5>
										<div>
											<span th:text="${lang.cdName}"></span>의 5문제를 랜덤으로 풀 수 있습니다.
										</div>
									</div>
								</div>
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center question">
										<a class="btn btn-outline-dark mt-auto" href="#" th:id="'G4L'+${lang.cdNo}">문제풀기</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
    <!-- 카드본문끝 -->
							</div>
							<div class="tab-pane fade" id="T3" role="tabpanel" aria-labelledby="contact-tab">
								  <!-- 서술형 카드본문 -->
		<div>
			<section class="py-5">
				<div class="container px-4 px-lg-5 mt-5 langSelc">
					<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
						<div class="col mb-5" th:each="lang:${langCdList}">
							<div class="card h-100">
								<img class="card-img-top" src="images/Code_typing.png" alt="..." />
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder" th:text="${lang.cdName}">문제카테고리</h5>
										<div>
											<span th:text="${lang.cdName}"></span>의 5문제를 랜덤으로 풀 수 있습니다.
										</div>
									</div>
								</div>
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center question">
										<a class="btn btn-outline-dark mt-auto" href="#" th:id="'G3L'+${lang.cdNo}">문제풀기</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
    <!-- 카드본문끝 -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 히든frm -->
		<div>
			<form id="typefrm" method="post" action="/cbtGuideListTab.do">
			 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<input type="hidden" id="gtpCd" name="gtpCd"></input>
				<input type="hidden" id="langCd" name="langCd" ></input>
			</form>
		</div>
		<!-- LAYOUT 안에 SCRIPT있어야함! -->
		<script>
			// 버튼 클릭했을 때 cbt타입코드와 lang코드를 넘기는 클릭이벤트
			$(".langSelc").on("click", ".question", function(e) {

				let tg = e.target.id;
				let gNo = tg.substring(1, 2); //전체 조회 중 유형 코드 추출 
				let lNo = tg.substring(3); //전체 조회 중 언어 코드 추출

				console.log(tg);
				console.log(gNo);
				console.log(lNo);

				if (gNo == '4') {
					$("#gtpCd").val('4');
					$("#langCd").val(lNo);
					typefrm.action = '/cbtGuideListTab.do';
					$("#typefrm").submit();
				} else if (gNo == '3'){
					$("#gtpCd").val('3');
					$("#langCd").val(lNo);
					typefrm.action = '/cbtGuideListTabLong.do';
					$("#typefrm").submit();
					
				}else {
					$("#gtpCd").val(gNo);
					$("#langCd").val(lNo);
					typefrm.action = '/cbtGuideListTab.do';
					$("#typefrm").submit();
				}
			})
		</script>

	</div>


</body>
</html>