<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>CBT 문제 목록</title>
<script src="js/jquery-3.6.0.min.js"></script>
<style>
</style>
</head>
<body>
	<div layout:fragment="content">
		<!-- Section -->
		<!-- Basic Vertical form layout section start -->
		<div class="row match-height">
			<div class="col-md-10 col-12 cbtNoSelc">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">문제</h4>
					</div>
					<div class="card-content">
						<div>
							<h5 th:if="${#lists.isEmpty(cbtList)}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;문제가
								없습니다...</h5>
						</div>
						<!-- gtpCd에 따른 처리 -->
						<div class="card-body" th:each="cbt, st:${cbtList}">
							<!-- ctpCd == '1' -->
							<div th:if="${cbt.gtpCd} == '1'">
								<form class="form form-vertical">
									<input type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}">
									<div class="form-body">
										<div class="row">
											<div class="col-12">
												<div class="form-group">
													<h3>
														문제 <span></span><i data-feather='star'
															onclick="bookmark()" style="cursor: pointer;"></i>
													</h3>
													<input type="hidden" id="cbtNo0"
														name="cbtNo0" th:value="${cbt.cbtNo}"> <input
														type="hidden" id="PreGtpCd" name="PreGtpCd"
														th:value="${tCd}"> <input type="hidden"
														id="PreLangCd" name="PreLangCd" th:value="${lCd}">
													<br> <span id="QUES" th:text="${cbt.ques}">문제</span> <a>&nbsp;&nbsp;[
														출제자 : <span th:text="${cbt.memberId}"></span> ]
													</a>
												</div>
											</div>
											<!-- 정답 입력칸 -->
											<!--<div class="col-sm-4 mb-1">
	                                        <span class="input-group-text" id="inputGroup-sizing-sm">정답</span>
	                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
	                                    </div>-->
											<!--라디오 -->
											<div class="form-check">
												<input class="form-check-input" type="radio"
													th:id="|cbt${cbt.cbtNo}1|" th:name="|cbt${st.index}|"
													value="1"> <label class="form-check-label"
													th:for="|cbt${cbt.cbtNo}1|" th:text="${cbt.ex1}"></label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio"
													th:id="|cbt${cbt.cbtNo}2|" th:name="|cbt${st.index}|"
													value="2"> <label class="form-check-label"
													th:for="|cbt${cbt.cbtNo}2|" th:text="${cbt.ex2}">
												</label>

											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio"
													th:id="|cbt${cbt.cbtNo}3|" th:name="|cbt${st.index}|"
													value="3"> <label class="form-check-label"
													th:for="|cbt${cbt.cbtNo}3|" th:text="${cbt.ex3}">
												</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio"
													th:id="|cbt${cbt.cbtNo}4|" th:name="|cbt${st.index}|"
													value="4"> <label class="form-check-label"
													th:for="|cbt${cbt.cbtNo}4|" th:text="${cbt.ex4}">
												</label>
											</div>
											<!--라디오 끝 -->
											<!-- 풀이 ajax : 정답보기 버튼을 누르면 해당 문제 풀이글 활성화 -->
											<div class="explnaArea"></div>
											<!-- 풀이 끝 -->
											<!--<div class="col-12 d-flex justify-content-end">
										    <input type="hidden" id ="cbtNo" name="cbtNo" th:value="${cbt.cbtNo}">
										    <input type="hidden" id ="explna" name="explna" th:value="${cbt.explna}">
											<button type="button" class="btn btn-outline-primary check" data-toggle="modal" data-target="#primary">정답보기</button>
											<button type="reset" class="btn btn-light-secondary mr-1 mb-1">초기화</button>
										</div>-->
										</div>

									</div>
								</form>
							</div>
							<!-- gtpCd=='1'끝 -->
							<!-- ctpCd == '2' -->
							<div th:if="${cbt.gtpCd} == '2'">
								<form class="form form-vertical">
									<div class="form-body">
										<div class="row">
											<div class="col-12">
												<div class="form-group">
													<h3>
														문제 <span th:text="${cbt.cbtNo}"></span><i
															data-feather='star' onclick="bookmark()"
															style="cursor: pointer;"></i>
													</h3>
													<span id="QUES" th:text="${cbt.ques}">문제</span> <input
														type="hidden" id="cbtNo0"
														name="cbtNo0" th:value="${cbt.cbtNo}"> <input
														type="hidden" id="PreGtpCd" name="PreGtpCd"
														th:value="${tCd}"> <input type="hidden"
														id="PreLangCd" name="PreLangCd" th:value="${lCd}">
													<br> <a>&nbsp;&nbsp;[ 출제자 : <span
														th:text="${cbt.memberId}"></span> ]
													</a>
												</div>
											</div>
											<div class="col-sm-4">
												<input class="form-control form-control-sm" type="text"
													id="inputCNSR" name="inputCNSR" placeholder="↵">
											</div>
											<!--<textarea class="form-control" id="inputCNSR" rows="3"
												placeholder="답을 입력하세요."></textarea>
										</div>-->
											<!-- 풀이 ajax : 정답보기 버튼을 누르면 해당 문제 풀이글 활성화 -->
											<div class="explnaArea"></div>
											<!-- 풀이 끝 -->
											<!--<div class="col-12 d-flex justify-content-end">
										    <input type="hidden" id ="cbtNo" name="cbtNo" th:value="${cbt.cbtNo}">
										    <input type="hidden" id ="explna" name="explna" th:value="${cbt.explna}">
											<button type="button" class="btn btn-outline-primary check" data-toggle="modal" data-target="#primary">정답보기</button>
										</div>-->
										</div>

									</div>
								</form>
							</div>
							<!-- gtpCd=='2'끝 -->
							<!-- ctpCd == '3' -->
							<div th:if="${cbt.gtpCd} == '3'">
								<form class="form form-vertical">
									<div class="form-body">
										<div class="row">
											<div class="col-12">
												<div class="form-group">
													<h3> 문제 <span th:text="${cbt.cbtNo}"></span>
													<i data-feather='star' onclick="bookmark()" style="cursor: pointer;"></i>
													</h3>
													<span id="QUES" th:text="${cbt.ques}">문제</span>
													<input type="hidden" id="cbtNo0" name="cbtNo0" th:value="${cbt.cbtNo}">
													<input type="hidden" id="PreGtpCd" name="PreGtpCd" th:value="${tCd}">
													<input type="hidden" id="PreLangCd" name="PreLangCd" th:value="${lCd}">
													<a>&nbsp;&nbsp;[ 출제자 : <span th:text="${cbt.memberId}"></span> ]
													</a>

												</div>
											</div>
											<div class="col-12">
												<textarea class="form-control" id="inputCNSR" rows="3"
													placeholder="문제에 대한 답을 서술하세요."></textarea>
											</div>
											<br>
											<br>
											<!-- 풀이 ajax : 정답보기 버튼을 누르면 해당 문제 풀이글 활성화 -->
											<div class="explnaArea"></div>
											<!-- 풀이 끝 -->
											<div class="col-12 d-flex justify-content-end">
												<input type="hidden" id="cbtNo" name="cbtNo"
													th:value="${cbt.cbtNo}"> <input type="hidden"
													id="explna" name="explna" th:value="${cbt.explna}">
												<button type="button" class="btn btn-outline-primary check"
													data-target="#primary">정답보기</button>
												<!--data-toggle="modal"  -->
											</div>
										</div>

									</div>
								</form>
							</div>
							<!-- gtpCd=='3'끝 -->
						</div>
						<a><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn btn-outline-primary myCbtCall">제출하기</button>
							<br>
						<br></a>
					</div>
				</div>

			</div>
		</div>
		<!-- 히든frm -->
		<div>
			<form id="frm" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}"> <input type="hidden" id="cbtNo"
					name="cbtNo"></input>
			</form>
		</div>
		<!-- 히든frm2 -->
		<div>
			<form id="myFrm" method="post" action="/myCbtHderInsert.do">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<input type="hidden" id="memberId" name="memberId" th:value=${#authentication.principal.member.memberId}>
				<input type="hidden" id="gtpCd" name="gtpCd">
				<input type="hidden" id="langCd" name="langCd">
				<input type="hidden" id="cbtNo1" name="cbtNo1">
				<input type="hidden" id="cbtNo2" name="cbtNo2"> 
				<input type="hidden" id="cbtNo3" name="cbtNo3">
				<input type="hidden" id="cbtNo4" name="cbtNo4">
				<input type="hidden" id="cbtNo5" name="cbtNo5">
				<input type="hidden" id="cnsr1" name="cnsr1">
				<input type="hidden" id="cnsr2" name="cnsr2">
				<input type="hidden" id="cnsr3" name="cnsr3">
				<input type="hidden" id="cnsr4" name="cnsr4">
				<input type="hidden" id="cnsr5" name="cnsr5">
				<!-- cbtNo값과 내가 입력한 값이 넘어가면 정답유무를 알려줌 -->
			</form>
		</div>
		<!-- 히든frm2 -->
		<div>
			<form id="myFrmlong" method="post" action="/myCbtHderInsert.do">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<input type="hidden" id="memberId" name="memberId" th:value=${#authentication.principal.member.memberId}>
				<input type="hidden" id="gtpCd" name="gtpCd">
				<input type="hidden" id="langCd" name="langCd">
				<input type="hidden" id="cnsr" name="cnsr">
				<!-- cbtNo값과 내가 입력한 값이 넘어가면 정답유무를 알려줌 -->
			</form>
		</div>

		<!-- 모달창으로 정답과 키워드 띄어야함...-->
		<!-- <div class="modal fade text-left" id="primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header bg-primary">
        <h5 class="modal-title white" id="myModalLabel160">정답 확인</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i data-feather="x"></i>
        </button>
        </div>
        <div class="modal-body">
        <span th:text="${cbt.cnsr}"> </sapn>
        </div>
        <div class="modal-body">
        키워드 들어갈 공간입니다.
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">취소</span>
        </button>
        <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">확인</span>
        </button>
        </div>
    </div>
    </div>
</div> -->

		<!-- 모달창 끝 -->
		<script>
		//객관식 풀이 ajax 처리
		$(".cbtNoSelc").on("click", ".check", function(e) {
			let tg = e.currentTarget;
			let cbtNum = $(tg).prev().prev().val(); // 클릭한 버튼이 있는 문제 번호
			let cbtExplna = $(tg).prev().val();  // 해당 번호의 풀이
			let explnaInsert = $(tg).closest("div").prev(); // 클릭한 버튼의 조상 div
			var token = $("meta[name='_csrf']").attr("content");
	        var header = $("meta[name='_csrf_header']").attr("content");
			
		$.ajax({
		    url: '/ajaxExplnaList.do',
		    type:'post',
		    dataType: 'json',
		    //contentType: false,
            //processData: false,
		    data: {'cbtNo' : cbtNum},
		    beforeSend: function(xhr){
		    	xhr.setRequestHeader(header, token);
		    },
		    success: function explnaSuccess(resp) {
		    	console.log(resp)
		           let explna_html = `<div class='alert alert-light-primary color-primary'>
      					&nbsp;<i data-feather='star'></i>
      					 <a>[ 정답 ]<br><span>${resp.cnsr}</span></a><br><br>&nbsp;
     					 <a>[ 풀이 ]<br><span>${resp.explna}</span></a>
     				</div> `;
     				
     				$(tg).attr("disabled", true); //정답보기 한 번 클릭하면 비활성화처리
     				$(explnaInsert).append(explna_html);
     				
		     },
		    error: function searchError(xhr, err) {
		           console.error("Error on ajax call: " + err);
		      
		}
		});
		})
		
		//북마크
		function bookmark(){
			console.log("일단 실행됨");
		}
		
		//객관식, 단답형
		    $('.myCbtCall').click(function() {
			      let cbtNos = document.getElementsByName("cbtNo0"); 
			      $("#gtpCd").val($("#PreGtpCd").val())
			      $("#langCd").val($("#PreLangCd").val());
			      //console.log($("#PreGtpCd").val());
			      
			      if($("#PreGtpCd").val() == 1 ){ //=================== 객관식 유형JS
			      
			      let chks1 = $('input[name=cbt0]:checked').val();
			      let chks2 = $('input[name=cbt1]:checked').val();
			      let chks3 = $('input[name=cbt2]:checked').val();
			      let chks4 = $('input[name=cbt3]:checked').val();
			      let chks5 = $('input[name=cbt4]:checked').val();
		    
		      let choiceCnt = 0; //라디오 박스 유효성 검사용 카운트
		     //라디오 타입의 네임이 choice를 for문 돌면서 checked value값 담음    
              $("#cnsr1").val(chks1);
				    $("#cnsr2").val(chks2);
				    $("#cnsr3").val(chks3);
				    $("#cnsr4").val(chks4);
				    $("#cnsr5").val(chks5);
		     
		     // 유효성검사 나중에 보충할 예정
			    /* if (checkArray[i].checked == true) { 
			    	console.log("chekArry:",checkArray[i],",value:",checkArray[i].value);
				    choiceCnt++;
				    flag = false;
				    //유효성 검사
				    if(choiceCnt == cbtNos.length){
				       console.log("문제를 다 풀었습니다..");
				       choice_f=true;
			       }  
			   } */
		    //유효성 검사2
		   /*  if(choiceCnt < cbtNos.length){
			       alert("덜 푼 문제가 있습니다.");
			       choice_f = false;
			   }  */
			   
            //문제 번호 리스트 
           	for(var i = 0; i< cbtNos.length; i++){
           		console.log("문제번호:",cbtNos[i].value);
           	    $("#cbtNo1").val(cbtNos[0].value);
			    $("#cbtNo2").val(cbtNos[1].value);
			    $("#cbtNo3").val(cbtNos[2].value);
			    $("#cbtNo4").val(cbtNos[3].value);
			    $("#cbtNo5").val(cbtNos[4].value);  
				    
            }
            	$("#myFrm").submit();
			      }else if($("#PreGtpCd").val() == 2 ){ //================ 단답형 유형 JS 
		            	 var shortCnsrs = document.getElementsByName("inputCNSR"); // 단답형 text박스
		                 var cnsrCnt = 0;
		                 var cnsr_f = false;
		                 console.log("단답형 버튼 실행은 됨")
		                 
		                 for (var i = 0; i < shortCnsrs.length; i++)  {
		     				    $("#cnsr1").val(shortCnsrs[0].value);
		     				    $("#cnsr2").val(shortCnsrs[1].value);
		     				    $("#cnsr3").val(shortCnsrs[2].value);
		     				    $("#cnsr4").val(shortCnsrs[3].value);
		     				    $("#cnsr5").val(shortCnsrs[4].value); 
		     				    cnsrCnt++
		     				    flag = false;
		     			       //유효성 검사
		     			        if(cnsrCnt == shortCnsrs.length){
		     			       console.log("문제를 다 풀었습니다..");
		     			      cnsr_f=true;
		     			       }  
		     		    }//유효성 검사2
		     		    if(cnsrCnt < shortCnsrs.length){
		     			       console.log("덜 푼 문제가 있습니다.");
		     			      cnsr_f = false;
		     			   }
		     		   //문제 번호 리스트 
		               	for(var i = 0; i< cbtNos.length; i++){
		               	    $("#cbtNo1").val(cbtNos[0].value);
		    			    $("#cbtNo2").val(cbtNos[1].value);
		    			    $("#cbtNo3").val(cbtNos[2].value);
		    			    $("#cbtNo4").val(cbtNos[3].value);
		    			    $("#cbtNo5").val(cbtNos[4].value);
		                }
		                $("#myFrm").submit();
		            	}//else if 끝
    
            });
            
		
		</script>
	</div>



</body>
</html>