<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>문제 상세보기</title>
<script src="js/jquery-3.6.0.min.js"></script>
</head>
<body>
<div layout:fragment="content">
<!-- Section -->
    <!-- Input Group Select start -->
    <section class="input-group-select">
        <div class="row">
            <div class="col-12">
                <div class="card" th:each="my:${myList}">
                    <div class="card-header">
                        <h4 class="card-title">문제<span th:text="${my.cbtNo}">번호</span></h4>
                    </div>
                    <div class="card-content">
                    <form id="frm" method="post" action="/cbtGuideUpdate.do" enctype="multipart/form-data">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-1">
                                <input type="hidden" id="memberId" name="memberId" th:value="${#authentication.principal.member.memberId}">
                                    <div class="input-group mb-2" >
	                                    <input type="hidden" id="cbtNo" name="cbtNo" th:value="${my.cbtNo}">
	                                    <input type="hidden" id="gtpCd" name="gtpCd" th:value="${my.gtpCd}">
	                                    <input type="hidden" id="langCd" name="langCd" th:value="${my.langCd}">
	                                    <label class="input-group-text" id="gtpCdName" nane="gtpCdName" th:text="${my.gtpCdName}">유형</label>&nbsp;&nbsp;&nbsp;
	                                    <label class="input-group-text" id="langCdName" nane="langCdName" th:text="${my.langCdName}">유형</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">문제</label>
                                <textarea class="form-control" rows="3" id="ques" name="ques" th:text="${my.ques}" ></textarea>
                            </div>
                            <div class="form-group mb-3"> 
                                <label class="form-label">정답</label>
                                <textarea class="form-control" rows="2" id="cnsr" name="cnsr" th:text="${my.cnsr}"></textarea>
                            </div>
                            <!-- 키워드가 있다면 키워드 노출 !-->
                            <div th:each="key : ${keyword}" th:if="${key.cKwrd}" != null>
                                <div class="col-sm-6">
	                                <div class="form-group position-relative has-icon-right">
	                                    <input type="text" class="form-control"  id="cKwrd" name="keyword" th:value="${key.cKwrd}">
	                                    <div class="form-control-icon"><a style="cursor: pointer;" onclick="add()"><h1>+</h1></a></div>
	                                </div>
                                </div>
                            </div>
                            <div id="answer" th:each="key , i: ${keyword}"></div><!-- add누르면 키워드input 추가되는 영억-->
                            <!-- 보기가 있다면 보기 노출 -->
                            <div th:if="${my.ex4}" != null>
	                            <div class="form-group mb-3">
	                                <label class="form-label">보기1</label>
	                                <textarea class="form-control" rows="1" id="ex1" name="ex1" th:text="${my.ex1}" ></textarea>
	                            </div>
	                            <div class="form-group mb-3">
	                                <label class="form-label">보기2</label>
	                                <textarea class="form-control" rows="1" id="ex2" name="ex2" th:text="${my.ex2}" ></textarea>
	                            </div>
	                            <div class="form-group mb-3">
	                                <label class="form-label">보기3</label>
	                                <textarea class="form-control" rows="1" id="ex3" name="ex3" th:text="${my.ex3}" ></textarea>
	                            </div>
	                            <div class="form-group mb-3">
	                                <label class="form-label">보기4</label>
	                                <textarea class="form-control" rows="1" id="ex4" name="ex4" th:text="${my.ex4}" ></textarea>
	                            </div>
	                        </div> <!-- 보기영억 끝 -->
                             <div class="form-group mb-3">
                                <label class="form-label">풀이</label>
                                <textarea class="form-control" id="explna" name="explna" rows="3" th:text="${my.explna}" ></textarea>
                            </div>
                             <!--파일-->
      					   <div class="form-file">
								<div th:if="${!#lists.isEmpty(myList.attachDir)}">
                                   <img th:src="@{/download(fileName=${'/CBT_GUIDE/'+my.attachDir})}" th:text="${my.attach}" style="width: 100px;"/>
                                </div>   
                                   <input type="file" id="attach" class="form-control form-group" name="file" >
                                </div>
                            <div class="col-12 d-flex justify-content-end">
                                <button type="button" class="btn btn-primary mr-2 mb-3" id="update">수정</button>
                                <button type="reset" class="btn btn-light-secondary mr-1 mb-3">초기화</button>
                            </div>
                            </div><!--card body끝-->
                            </form>
                        </div>
                    </div>
                </div>
         </div>
    </section>

<script>
        
    $("#update").on("click", function() {
	   alert("수정하시겠습니까?");
	   
	   frm.submit();
	})
	
	 function add(){ 
        let answer = document.getElementById("answer");
        	answer.innerHTML+=`
        	<div class="col-sm-6">
            <div class="form-group position-relative has-icon-right">
                <input type="text" class="form-control" id="cKwrd" name="keyword" placeholder="정답 키워드를 입력해주세요.">
                    <div class="form-control-icon"><a style="cursor: pointer;" onclick="add()"><h1>+</h1></a>
                </div>
            </div>
        </div>`;
    }  
</script>
</div>
</body>
</html>