<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PDF TEST</title>
<script src="js/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="js/jsPDF.js"></script>
</head>
<body>

</body>
<script>
	window.jsPDF = window.jspdf.jsPDF;
	var doc = new jsPDF("p", "mm", "a4");

	doc.addFileToVFS('malgun.ttf', _fonts); //_fonts 변수는 Base64 형태로 변환된 내용입니다.
	doc.addFont('malgun.ttf', 'malgun', 'normal');
	doc.setFont('malgun');

	doc.line(15, 19, 195, 19); // 선그리기(시작x, 시작y, 종료x, 종료y)
	doc.text(15, 40, '안녕하세요'); // 글씨입력(시작x, 시작y, 내용)

	doc.save('web.pdf'); //결과 출력
</script>
</html>