<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>메인화면</title>
<script src="js/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="bootstrap/voler/assets/css/bootstrap.css">
<link rel="stylesheet"
	href="bootstrap/voler/assets/vendors/chartjs/Chart.min.css">
<link rel="stylesheet"
	href="bootstrap/voler/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet" href="bootstrap/voler/assets/css/app.css">
<link rel="shortcut icon"
	href="bootstrap/voler/assets/images/favicon.svg" type="image/x-icon">
<style>
.dropdown-menu-large {
	min-width: 32rem;
}
</style>
</head>
<body>
	<div id="app">
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}">
		<div id="sidebar" class='active'>
			<div class="sidebar-wrapper active">
				<div class="sidebar-header">
					<!-- 로고 -->
					<a href="/"><img src="bootstrap/voler/assets/images/logo.svg"
						alt="" srcset=""></a>
				</div>
				<div class="sidebar-menu">
					<ul class="menu">
						<li class='sidebar-title'>메뉴</li>
						<li  class="sidebar-item active "><a href="/"
							class='sidebar-link'> <i data-feather="home" width="20"></i>
								<span>Main</span>
						</a></li>

						<!-- 1:1 상담 탭 -->

						<li id="consult" class="sidebar-item  "><a href="consultList.do"
							class='sidebar-link'> <i data-feather="layers" width="20"></i>
								<span>1:1상담</span>
						</a></li>

						<!-- I-CLASS 탭 -->
						<li id="iClass" class="sidebar-item"><a href="iClassList.do"
							class='sidebar-link'> <i data-feather="briefcase" width="20"></i>
								<span>I-CLASS</span>
						</a></li>

						<!-- 커뮤니티 탭 -->
						<li id="community" class="sidebar-item  has-sub"><a href="#"
							class='sidebar-link'> <i data-feather="file-text" width="20"></i>
								<span>커뮤니티</span>
						</a>
							<ul class="submenu">
								<li><a href="pageTest.do">실시간 타임라인</a></li>
								<li><a href="study.do">스터디게시판</a></li>
								<li><a href="free.do">자유게시판</a></li>
							</ul></li>

						<!-- CBT 탭 -->
						<li id="guideCBT" class='sidebar-title'>CBT</li>
						<li class="sidebar-item"><a href="/cbtGuideMain.do"
							class='sidebar-link'> <i data-feather="file-text" width="20"></i>
								<span>멘토 CBT</span>
						</a>
						<li id="userCBT" class="sidebar-item  "><a href="cbtUserMain.do"
							class='sidebar-link'> <i data-feather="layout" width="20"></i>
								<span>멘티 CBT</span>
						</a></li>
						<li id="myNote" class="sidebar-item  "><a href="answerNoteMain.do"
							class='sidebar-link'> <i data-feather="layers" width="20"></i>
								<span>오답노트</span>
						</a></li>
						<li id="myCBT"class="sidebar-item  "><a href="table.html"
							class='sidebar-link'> <i data-feather="grid" width="20"></i>
								<span>나만의 CBT</span>
						</a></li>

						<!-- 고객센터 탭 -->
						<li id="notice" class='sidebar-title'>고객센터</li>
						<li class="sidebar-item"><a href="noticeList.do"
							class='sidebar-link'> <i data-feather="user" width="20"></i>
								<span>공지사항</span>
						</a></li>

						<li id="QNA" class="sidebar-item"><a href="qnaList.do"
							class='sidebar-link'> <i data-feather="trending-up"
								width="20"></i> <span>Q&A</span>
						</a></li>

						<!-- 관리자 페이지 : 권한에 따라 보이게? -->
						<li class='sidebar-title'>관리자 페이지</li>
						<li class="sidebar-item  has-sub"><a href="#"
							class='sidebar-link'> <i data-feather="user" width="20"></i>
								<span>관리자</span>
						</a>
							<ul class="submenu ">
								<li><a href="memberAuthList.do">멘토신청 목록</a></li>
								<li><a href="memberList.do">회원목록</a></li>
								<li><a href="appClass.do">클래스 승인</a></li>
								<li><a href="appConsult.do">상담 승인</a></li>

							</ul></li>

					</ul>
				</div>
				<button class="sidebar-toggler btn x">
					<i data-feather="x"></i>
				</button>
			</div>
		</div>
		<div id="main">
			<nav class="navbar navbar-header navbar-expand navbar-light">
				<a class="sidebar-toggler" href="#"><span
					class="navbar-toggler-icon"></span></a>
				<button class="btn navbar-toggler" type="button"
					data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul
						class="navbar-nav d-flex align-items-center navbar-light ml-auto">
						<li class="dropdown">
							<!-- 로그인x -->
							<div sec:authorize="isAnonymous()">
								<a href="loginForm.do"
									class="d-none d-md-block d-lg-inline-block">로그인 / </a> <a
									href="signupForm.do"
									class="d-none d-md-block d-lg-inline-block">회원가입</a>
							</div> <!-- 로그인 O -->
							<div sec:authorize="isAuthenticated()">
								<span th:text="${#authentication.principal.member.nick}"></span>
								님 환영합니다!
							</div>
						</li>&nbsp;&nbsp;
						<div>
							<a href="#" class="badge bg-primary" id="alarmCount"></a>
						</div>
						<!-- 알림 리스트 출력하는 공간 -->
						<li class="dropdown nav-icon"><a href="#"
							data-toggle="dropdown"
							class="nav-link  dropdown-toggle nav-link-lg nav-link-user">
								<div class="d-lg-inline-block">
									<i data-feather="bell"></i>
								</div>
						</a>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-large">
								<h6 class='py-2 px-4'>알림</h6>
								<ul class="list-group rounded-none" id="alarmList">

								</ul>
							</div></li>

						<li class="dropdown">
							<div sec:authorize="isAuthenticated()">
								<div th:switch="${#authentication.principal.member.auth}">
									<button th:case="ROLE_USER" id="myPage"
										class="btn btn-sm btn-outline-primary">마이페이지</button>
									<button th:case="ROLE_GUIDE" id="guideMyPage"
										class="btn btn-sm btn-outline-primary">가이드 마이페이지</button>
								</div>
							</div>
						</li>&nbsp;&nbsp;
						<li class="dropdown">
							<div sec:authorize="isAuthenticated()">
								<form action="logout" method="post">
									<input type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}"> <input id="memberId"
										type="hidden"
										th:value="${#authentication.principal.member.memberId}">
									<button class="btn btn-sm btn-outline-primary">로그아웃</button>
								</form>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<!-- Contents -->
			<div class="main-content container-fluid" layout:fragment="content">

			</div>

			<!-- Footer -->
			<footer>
				<div class="footer clearfix mb-0 text-muted">
					<div class="float-left">
						<p>2020 &copy; Voler</p>
					</div>
					<div class="float-right">
						<p>
							Crafted with <span class='text-danger'><i
								data-feather="heart"></i></span> by <a href="http://ahmadsaugi.com">Ahmad
								Saugi</a>
						</p>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script>
			let id = $("#memberId").val();

			$("#myPage").on("click", function() {
				//console.log(memberId);
				location.href = "/myPage"

			})
			// 가이드가 로그인시 가이드 마이페이지 버튼이 생기고 세션값을 
			$("#guideMyPage").on("click", function() {
				//console.log(memberId);
				location.href = "/gmyPage.do"
			})
			
			$("#alarmInsert").on("click", function(){
				location.href="/alarmInsert.do?memberId="+ id;
			})
			
			//알람 상태 업데이트
			$("#alarmList").on("click", function(e){
				let csrfHeaderName = "${_csrf.headerName}";
				let csrfToken=$("input[name=_csrf]").val();
				//console.log($(e.target).prop('tagName'));
				
				if($(e.target).prop('tagName') == 'SPAN'){
					let alarmNo = $(e.target).closest("div").prev().html();
					//console.log(alarmNo);
					$.ajax({ 
						url : "/alarmUpdate.do",
						type : "post",
						data : {'alarmNo' : alarmNo},
						beforeSend: function(xhr){
							xhr.setRequestHeader("AJAX", true);
						    xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken);
						},
						success : function(data){
							//console.log(data);
							alarmCount();
							alarmList();
						}
					})
				}
				
			})
			
			//헤더 알림 ajax
			$(document).ready(function(){
				//console.log(id);    
				if(!id){
					//console.log("확인");  
				} else{
					alarmCount();//페이지 로딩시 알람 개수 출력
					alarmList();//알람 리스트 출력
				}
			});
			
			//알람 리스트 출력
			function alarmList(){
				let csrfHeaderName = "${_csrf.headerName}";
				let csrfToken=$("input[name=_csrf]").val();
				
				$.ajax({ 
					url : "/alarmList.do",
					type : "post",
					data : {'memberId' : id},
					beforeSend: function(xhr){
						xhr.setRequestHeader("AJAX", true);
					    xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken);
					},
					success : function(data){
						//console.log(data);
							let a = '';
						data.forEach(element=>{
							a += `<li class="list-group-item border-0 align-items-start">
								<div style="display: none;">${element.alarmNo}</div>
								<div class="alert alert-info alert-dismissible show fade">
									${element.alarmMsg}
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							</li>`;

							$("#alarmList").html(a);
							//console.log(element.alarmMsg);
						})
					}
				})
			}
			
			//알람 카운트 개수 출력
			function alarmCount(){
				let csrfHeaderName = "${_csrf.headerName}";
				let csrfToken=$("input[name=_csrf]").val();
				
				$.ajax({ 
					url : "/alarmCount.do",
					type : "post",
					data : {'memberId' : id},
					beforeSend: function(xhr){
						xhr.setRequestHeader("AJAX", true);
					    xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken);
					},
					success : function(data){
						//console.log(data);
						$("#alarmCount").html(data);
					}
				})
			}
			
		</script>

	<script src="bootstrap/voler/assets/js/feather-icons/feather.min.js"></script>
	<script src="bootstrap/voler/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="bootstrap/voler/assets/js/app.js"></script>
	<script src="bootstrap/voler/assets/vendors/chartjs/Chart.min.js"></script>
	<script src="bootstrap/voler/assets/vendors/apexcharts/apexcharts.min.js"></script>
	<script src="bootstrap/voler/assets/js/pages/dashboard.js"></script>
	<script src="bootstrap/voler/assets/js/main.js"></script>
</body>
</html>
