<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.itrip.prj.feedback.mapper.FeedbackMapper">

<select id="ajaxFeedbackList" resultType="co.itrip.prj.feedback.service.FeedbackVO"
 						parameterType="co.itrip.prj.feedback.service.FeedbackVO">
	select feedback_no,cbt_no,content,member_id from feedback where cbt_no=#{cbtNo}
</select>
</mapper>