<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>나만의 CBT 문제풀기</title>
<style type="text/css">
.form-check{margin-left: 1.5em;}
#timeArea {position:absolute;top:100px;margin-top:-50px;right:10px;}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="row match-height">
			<div class="col-md-10 col-12 cbtNoSelc">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">
							[ <span id="lcd" style="color: #1D88E8;"></span> ]을 선택하셨습니다.<br>
							총 <span th:text="${pcs}" id="pcs" style="color:#FF4C3E;"></span>문제, 제한시간은 
							<span th:text="${time}" id="time" style="color:#FF4C3E;"></span>분입니다. </h4>
						<div id="timeArea" class="btn btn-danger round"></div>
					</div>
					<div class="card-content">
						<div class="card-body">
							<form class="form form-vertical" id="myFrm" method="post" action="/cbtCustomHderInsert.do" >
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
								<div class="form-body">
									<div class="row" th:each="cbt, st:${cbtList}">
										<span th:text=${cbt.langCdName} id="langCd" style="display: none;"></span>
										<input type="hidden" id="memberId" th:name="|list[${st.index}].memberId|" th:value=${#authentication.principal.member.memberId}>
										<input type="hidden" id="langCd" th:name="|list[${st.index}].langCd|"  th:value=${cbt.langCd}>
										<input type="hidden" id="cbtNo" th:name="|list[${st.index}].cbtNo|"  th:value=${cbt.cbtNo}>
							
										<div class="col-12">
											<div class="form-group">
												<h4 style="float: left;">
													<span th:text=${st.index+1}></span>.   
													<span id="QUES" th:text="${cbt.ques}"></span> 
												</h4>
												<a>&nbsp;&nbsp;[<span th:text=${cbt.langCdName}></span> <span th:text="${cbt.cbtNo}"></span>번문제 ]</a>
											</div>
										</div>
										<!-- 이미지가 있으면 이미지 출력-->
										<div id="atch" class="form-group"th:if="${not #strings.isEmpty(cbt.attach)}">
											<span class="mb-2 text-md">
												<div style="text-align: center;">
													  <img th:src="@{/download(fileName=${'/CBT_GUIDE/'+cbt.attachDir})}" style="margin-bottom: 10px; width:600px;">
												</div>
											</span>
										</div>
										<!-- 이미지 출력 끝 -->
										<div class="form-check">
											<input class="form-check-input" type="radio" th:id="|list[${st.index}].cnsr|" th:name="|list[${st.index}].cnsr|" value="1"> 
											<label class="form-check-label" th:for="|list[${st.index}].cnsr|" th:text="${cbt.ex1}"></label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" th:id="|list[${st.index}].cnsr|" th:name="|list[${st.index}].cnsr|" value="2"> 
											<label class="form-check-label" th:for="|list[${st.index}].cnsr|" th:text="${cbt.ex2}"> </label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" th:id="|list[${st.index}].cnsr|" th:name="|list[${st.index}].cnsr|" value="3"> 
											<label class="form-check-label" th:for="|list[${st.index}].cnsr|" th:text="${cbt.ex3}"> </label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" th:id="|list[${st.index}].cnsr|" th:name="|list[${st.index}].cnsr|" value="4"> 
											<label class="form-check-label" th:for="|list[${st.index}].cnsr|" th:text="${cbt.ex4}"> </label>
										</div> 
										<br><hr style="margin:5px;"><br>
										<!--라디오 끝 -->
									</div>
								</div>	
							</form>
							
						</div>
						<a><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn btn-outline-primary myCbtCall">제출하기</button>
							<br> <br></a>
					</div>
				</div>

			</div>
		</div>
		
<script type="text/javascript">
	
	$("#lcd").text($("#langCd").text())
	
	//form 넘기기
    $('.myCbtCall').click(function() {
		$("#myFrm").submit();
    })

	//제한시간설정
	var time = document.getElementById("time").innerHTML*60; 
	var min = "";
	var sec = "";
	
	var x = setInterval(function(){
		//parseint :정수를 반환 
		min = parseInt(time/60);//몫을계산 
		sec = time%60;//나머지계산 
		
		document.getElementById("timeArea").innerHTML = min+"분 "+sec+"초"
		time -- ;
		
		if(time <0){//타임아웃시 
			clearInterval(x);//x 실행끝 
			alert("시간종료. 자동제출됩니다.")
			$("#myFrm").submit();
		}
	},1000);
	
	//남은시간 화면에 계속 따라오게
	$(document).ready(function(){
		  var currentPosition = parseInt($("#timeArea").css("top"));
		  $(window).scroll(function() {
		    var position = $(window).scrollTop(); 
		    $("#timeArea").stop().animate({"top":position+currentPosition+"px"},1000);
		  });
		});
</script>
	</div>
</body>
</html>