<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<style type="text/css">
	#searchTab{
		width: 900px;
		margin-left: 500px;
	}
</style>
</head>
<body>
<div  layout:fragment="content">
<!-- Table head options start -->
<div class="row" id="table-head">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
          <h4 class="card-title">클래스 신청리스트</h4>
          <p>Class를 신청한 회원입니다. 권한을 수정해주세요.</p><br>
        <!-- 검색폼 시작 -->
		<div id="searchTab">
			<form class="form form-horizontal" >
				<div class="form-body">
					<div class="row">
						<!-- <div class="col-3">
							<select class="form-select col-4" id="jobCd" name="jobCd">
								<option value="" selected>-- 업무 카테고리 --</option>
								<option th:each="job : ${joblist}" th:value="${job.cdNo}" th:selected="${job.cdNo == classVO.jobCd}"
									th:utext="${job.cdName}"></option>
							</select>
						</div> -->
						<div class="col-auto" >
                        <label>신청일자(startDate/endDate)</label>
                        </div>
						<div class="col-2 ">
							<input type="date" class="form-control" id="sdate" name="sdate">
						</div>
						<div class="col-2 ">
							<input type="date" class="form-control" id="edate" name="edate">
						</div>
					 <div class="col-2 d-flex justify-content-end">
                        <button type="button" class="btn btn-primary mr-1 mb-1 searchBtn" >검색</button>
                    </div>
					</div>
				</div>
				
			</form>
		</div>
		<!-- 검색폼 끝 -->
      </div>
      
      <!-- 페이징하면서 만들 전체 시작-->
        <div class="card-body" id="all">
		
		<!-- 신청 리스트 시작 -->
        <div class="table-responsive">
          <table class="table table-light mb-0"> 
            <thead>
              <tr>
                <th>클래스제목</th>
                <th>가이드아이디</th>
                <th>업무 카테고리</th>
                <th>정원/수업횟수</th>
                <th>신청일자</th>
                <th>승인상태</th>
                <th>승인수정</th>
              </tr>
            </thead>
            <tbody id="tbody">
              <tr th:each="classList : ${pageInfo.list}">
                <td class="text-bold-500" th:text="${classList.title}"></td>
                <td th:text="${classList.guideId}"></td>
                <td class="text-bold-500" th:text="${classList.cdName}"></td>
                <td class="text-bold-500" th:text="${classList.psncpa}+'명 / '+${classList.classCnt}+'주'"></td>
                <td class="text-bold-500" th:text="${classList.dt}"></td>
                <td class="text-bold-500" th:text="${classList.confmCd}"></td>
                <td th:id="${classList.classNo}">
                <input type="button" th:onclick="updateClass(this.getAttribute('id'))"
				class="btn btn-primary btn-l" value="수정" th:name="${classList.classNo}" th:id="${classList.classNo}">
				</td>
              </tr>
            </tbody>
          </table>
        </div><br>
        <!-- 신청 리스트 끝 -->
         
<!-- Table head options end -->
<!-- 페이지네이션 -->
			 <nav aria-label="Page navigation example">
				<ul class="pagination pagination-info  justify-content-center">
					<li class="page-item disabled"
						th:if="${pageInfo.isIsFirstPage()}"><span
						class="page-link">«</span></li>
					<li class="page-item"
						th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
						class="page-link"
						th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
						rel="prev">«</a></li>
					<li
						th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
						th:each="page:${pageInfo.navigatepageNums}"><span
						class="page-link" th:if="${pageInfo.pageNum eq page}"
						th:text="${page}"></span> <a class="page-link"
						th:unless="${pageInfo.pageNum eq page}"
						th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
							}}</a></li>
					<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
						class="page-link"
						th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
						rel="next">»</a></li>
					<li class="page-item disabled"
						th:unless="${pageInfo.hasNextPage}"><span
						class="page-link">»</span></li>
				</ul>
			</nav> 
		</div>
      <!-- 페이징하면서 만들 전체 끝-->  

    </div>
  </div>
</div>
			<script type="text/javascript">
		 	function gopage(p) {
				location.href = '/appClass.do?pageNum=' + p;
			} 
			
			$(".searchBtn").on("click",function(){
				
				let sdate = $("#sdate").val();
				let edate = $("#edate").val();
				console.log(sdate);
				console.log(edate);
				  getDateList(1,sdate,edate)
			})
			
			// ajax로 날짜 검색
			function getDateList(p,sdate,edate) {
				
				$.ajax({
					url:'/dateSearch.do',
					type:'GET',
					dataType:'json',
					data:{'sdate':sdate, 'edate':edate, "pageNum":p},
					beforeSend:function(xhr) {
						xhr.setRequestHeader("AJAX", true);
					    xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken);
					},
					success:function result(res) {
						
						if(res.list.length >=1 ) {
							console.log(res.list);
							$("#all").empty();
							
							listofHead =`<div class="table-responsive">
						          <table class="table table-light mb-0"> 
					            <thead>
					              <tr>
					                <th>클래스제목</th>
					                <th>가이드아이디</th>
					                <th>업무 카테고리</th>
					                <th>정원/수업횟수</th>
					                <th>신청일자</th>
					                <th>승인상태</th>
					                <th>승인수정</th>
					              </tr>
					            </thead>
					            <tbody id="tbody">`;
					            
							res.list.forEach((elem,idx,arr)=>{
								 
								  
						    listofHead += `<tr>
				                <td class="text-bold-500" >${elem.title}</td>
				                <td >${elem.guideId}</td>
				                <td class="text-bold-500" >${elem.cdName}</td>
				                <td class="text-bold-500" >${elem.psncpa}명 / ${elem.classCnt}주</td>
				                <td class="text-bold-500" >${elem.dt}</td>
				                <td class="text-bold-500" >${elem.confmCd}</td>
				                <td id="${elem.classNo}">
				                <input type="button" onclick="updateClass(this.getAttribute('id'))"
								class="btn btn-primary btn-l" value="수정" name="${elem.classNo}" id="${elem.classNo}">
								</td>
				              </tr>`;		  
								
							})
							
							listofHead +=`</tr></tbody></table></div><br>`;
							
								$("#all").html(listofHead);
								
								ph ='<nav aria-label="Page navigation example">'
								    +'<ul class="pagination pagination-info  justify-content-center">'
								 if(res.isFirstPage==true){  
									ph += '<li class="page-item disabled"><span class="page-link">«</span></li>'
								 }
								 else{
							    	ph += `<li class="page-item"><a class="page-link" href="javascript:getDateList(${res.prePage},'${sdate}','${edate}')" rel="prev">«</a></li>`
							    }
						
								for(page of res.navigatepageNums){
									ph += `<li class="page-item (${res.pageNum} eq ${page}) ? active: ''}" ></li>`
									if(res.pageNum == page){
										ph += `<span class='page-link'>${page}</span>`
									}else{
										ph+=`<a class='page-link' href='javascript:getDateList(${page},"${sdate}","${edate}")'>${page}</a>`
									}
									ph += "</li>"
								}
							
								if(res.hasNextPage ==true){
									ph += ` <li class="page-item"><a class="page-link" href="javascript:getDateList(${res.nextPage},'${sdate}','${edate}')" rel="next">»</a></li>`
								}else{
									ph += '<li class="page-item disabled"><span class="page-link">»</span></li></ul></nav>'
								}
								
								$("#all").html(listofHead + ph);
								
						}else {
							alert('검색결과가 없습니다');
						}
					}, 
					error:function err(xhr,err) {
						alert('검색에러'); 
					}
				}) 
			}
			
			function htmlView(data) {
			  // console.log(data);
				 let tr = `<tr>
		                <td class="text-bold-500" >${data.title}</td>
		                <td>${data.guideId}</td>
		                <td class="text-bold-500" >${data.cdName}</td>
		                <td class="text-bold-500" >${data.psncpa}명 / ${data.classCnt}주</td>
		                <td class="text-bold-500" >${data.dt}</td>
		                <td class="text-bold-500" >${data.confmCd}</td>
		                <td id="${data.classNo}">
		                <input type="button" onclick="updateClass(this.getAttribute('id'))"
						class="btn btn-primary btn-l" value="수정" name="${data.classNo}" id="${data.classNo}">
						</td>
		              </tr>`;
					return tr; 
			}
			
			function updateClass(cNo) {
				// console.log(cNo);
				let modifyTd = document.getElementById(cNo); // id가 cNo랑 같은 td 꺽새
				// console.log(modifyTd);
				 modifyTd.previousElementSibling.innerText=""; // 승인대기글씨 비우기
				 
				// console.log(modifyTd.previousElementSibling); 
				let td = modifyTd.previousElementSibling; // 승인대기있는 td 꺽새
				
				let select = document.createElement('select'); // select태그 생성
				select.setAttribute('id','sel'); 
				select.setAttribute('class','form-select');
				select.setAttribute('style','width:100px');
				let author = ['승인수락','승인거절'];
				
				author.forEach(function (ath,idx) {
				//	console.log(ath); // 승인중,대기,수락,거절
				//	console.log(idx); // 0,1,2,3
					select.innerHTML += '<option value='+idx+'>' + ath + '</option>';
				})
				td.append(select);
				
				let btn = modifyTd.firstElementChild // id가 cNo랑 같은 td 꺽새안에 input
				// console.log(btn);
				btn.value='수정완료';
				
				let opVal = "";
				$("#sel").change(function() {
					opVal = $(this).val();
				//	console.log(opVal); // 승인중 :0, 대기:1, 수락:2, 거절:3
				})
				
				btn.addEventListener('click', function(e) {
					e.preventDefault(); // 브라우저 고유의 동작을 중단시켜주는 역할
					
					$.ajax({
						url:'/classUpdate.do',
						type:'post',
						data:{'classNo':cNo, 'confmCd':opVal},
						beforeSend:function(xhr) {
							xhr.setRequestHeader("AJAX", true);
						    xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken);
						},
						success:function result(res){
							alert('수정완료');
							location.href="appClass.do";
						},
						error:function err(xhr,err) {
							alert('수정에러');
						}
					})
					
					
				})
				
				
				
			}
			
			
			
			</script>
			</div>
</body>
</html>