<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table - Voler Admin Dashboard</title>
    
    <link rel="stylesheet" href="bootstrap/voler/assets/css/bootstrap.css">
    
    <link rel="stylesheet" href="bootstrap/voler/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="bootstrap/voler/assets/css/app.css">
    <link rel="shortcut icon" href="bootstrap/voler/assets/images/favicon.svg" type="image/x-icon">
</head>
<body>
<div  layout:fragment="content">
<!-- Table head options start -->
<div class="row" id="table-head">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">회원정보</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <p>Class를 신청한 회원입니다. 권한을 수정해주세요.</p>
        </div>
        <!-- table head dark -->
        <div class="table-responsive">
          <table class="table table-light mb-0"> 
            <thead>
              <tr>
                <th>클래스제목</th>
                <th>가이드아이디</th>
                <th>업무 카테고리</th>
                <th>정원/수업횟수</th>
                <th>신청일자</th>
                <th>승인상태</th>
                <th>승인수정</th>
              </tr>
            </thead>
            <tbody th:each="classList : ${pageInfo.list}">
              <tr>
                <td class="text-bold-500" th:text="${classList.title}"></td>
                <td th:text="${classList.guideId}"></td>
                <td class="text-bold-500" th:text="${classList.cdName}"></td>
                <td class="text-bold-500" th:text="${classList.psncpa}+'명 / '+${classList.classCnt}+'주'"></td>
                <td class="text-bold-500" th:text="${classList.dt}"></td>
                <td class="text-bold-500" th:text="${classList.confmCd}"></td>
                <td th:id="${classList.guideId}">
                <input type="button" th:onclick="updateFnc(this.getAttribute('id'))"
				class="btn btn-primary btn-l" value="수정" th:name="${classList.guideId}" th:id="${classList.guideId}">
				</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Table head options end -->
<!-- 페이지네이션 -->
			 <nav aria-label="Page navigation example">
				<ul class="pagination pagination-info  justify-content-center">
					<li class="page-item disabled"
						th:if="${pageInfo.isIsFirstPage()}"><span
						class="page-link">«</span></li>
					<li class="page-item"
						th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
						class="page-link"
						th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
						rel="prev">«</a></li>
					<li
						th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
						th:each="page:${pageInfo.navigatepageNums}"><span
						class="page-link" th:if="${pageInfo.pageNum eq page}"
						th:text="${page}"></span> <a class="page-link"
						th:unless="${pageInfo.pageNum eq page}"
						th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
							}}</a></li>
					<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
						class="page-link"
						th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
						rel="next">»</a></li>
					<li class="page-item disabled"
						th:unless="${pageInfo.hasNextPage}"><span
						class="page-link">»</span></li>
				</ul>
			</nav> 
			<script type="text/javascript">
		 	function gopage(p) {
				location.href = '/appClass.do?pageNum=' + p;
			} 
			
			</script>
			</div>
</body>
</html>