<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div layout:fragment="content">
		<!-- Table head options start -->
		<div class="row" id="table-head">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">회원정보</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>Consult를 신청한 회원입니다. 권한을 수정해주세요.</p>
						</div>
						<!-- table head dark -->
						<div class="table-responsive">
							<table class="table table-light mb-0">
								<thead>
									<tr>
										<th>상담제목</th>
										<th>가이드 아이디</th>
										<th>가이드직무</th>
										<th>경력</th>
										<th>신청일자</th>
										<th>승인상태</th>
										<th>승인수정</th>
									</tr>
								</thead>
								<tbody th:each="consultList : ${pageInfo.list}">
									<tr>
										<td class="text-bold-500" th:text="${consultList.title}"></td>
										<td th:text="${consultList.guideId}"></td>
										<td class="text-bold-500" th:text="${consultList.cdName}"></td>
										<td class="text-bold-500" th:text="${consultList.career}"></td>
										<td class="text-bold-500" th:text="${consultList.dt}"></td>
										<td class="text-bold-500" th:text="${consultList.stateCd}"></td>
										<td th:id="${consultList.guideId}"><input type="button"
											th:onclick="updateFnc(this.getAttribute('id'))"
											class="btn btn-primary btn-l" value="수정"
											th:name="${consultList.guideId}"
											th:id="${consultList.guideId}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Table head options end -->
		<!-- 페이지네이션 -->
		<nav aria-label="Page navigation example">
			<ul class="pagination pagination-info  justify-content-center">
				<li class="page-item disabled" th:if="${pageInfo.isIsFirstPage()}"><span
					class="page-link">«</span></li>
				<li class="page-item"
					th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
					class="page-link"
					th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
					rel="prev">«</a></li>
				<li
					th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
					th:each="page:${pageInfo.navigatepageNums}"><span
					class="page-link" th:if="${pageInfo.pageNum eq page}"
					th:text="${page}"></span> <a class="page-link"
					th:unless="${pageInfo.pageNum eq page}"
					th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page}}</a></li>
				<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
					class="page-link"
					th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
					rel="next">»</a></li>
				<li class="page-item disabled" th:unless="${pageInfo.hasNextPage}"><span
					class="page-link">»</span></li>
			</ul>
		</nav>
		<script type="text/javascript">
			function gopage(p) {
				location.href = '/appConsult.do?pageNum=' + p;
			}
		</script>
	</div>
</body>
</html>