<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
#tbody tr:hover{
 background-color: #EDEDED; 
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="row" id="table-head">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">회원정보</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>GUIDE신청한 회원입니다. 권한을 수정하세요.</p>
							<div class="table-responsive">
								<table class="table mb-0">
									<thead>
										<tr style="color:black;">
											<th>아이디</th>
											<th>닉네임</th>
											<th>직무</th>
											<th>경력</th>
											<th>설명</th>
											<th>재직증명서 외</th>
											<th>권한</th>
											<th>권한수정</th>
										</tr>
									</thead>
									<tbody id="tbody">
										<tr th:each="g:${pageInfo.list}">
											<th th:text=${g.guideId}></th>
											<td th:text=${g.nick}></td>
											<td th:text=${g.dutyCdName}></td>
											<td th:text=${g.careerCdName}></td>
											<td><a class="dc" th:id="${g.guideId}" th:text=${g.dc} style="cursor: pointer;"></a></td>
											<td><a th:href="@{download(fileName='/guide/'+${g.attachDir})}"  th:text="${g.attach}" ></a></td>
											<td th:text=${g.cdName}></td>
											<td th:id="${g.guideId+'Udp'}">
												<input type="button" th:onclick="updateFnc(this.getAttribute('id'))"
												class="btn btn-primary btn-l" value="수정" th:name="${g.guideId}" th:id="${g.guideId}">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					
					<br>
					<!-- 페이지네이션 -->
						<nav aria-label="Page navigation example">
							<ul class="pagination pagination-primary  justify-content-center">
								<li class="page-item disabled"
									th:if="${pageInfo.isIsFirstPage()}"><span
									class="page-link">«</span></li>
								<li class="page-item"
									th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
									rel="prev">«</a></li>
								<li
									th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
									th:each="page:${pageInfo.navigatepageNums}"><span
									class="page-link" th:if="${pageInfo.pageNum eq page}"
									th:text="${page}"></span> <a class="page-link"
									th:unless="${pageInfo.pageNum eq page}"
									th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
										}}</a></li>
								<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
									rel="next">»</a></li>
								<li class="page-item disabled"
									th:unless="${pageInfo.hasNextPage}"><span
									class="page-link">»</span></li>
							</ul>
						</nav>
					
				</div>
			</div>
		</div>
		
		
		
		
		
		
		
		<script type="text/javascript">
/*   		$('#tbody tr td').on("mouseover",function(){
			$(this).addClass('changeColor');	
			}).on("mouseout",function() {	   
				$(this).removeClass('changeColor');	
			}); 
		
		 */
		
		function gopage(p) {
			location.href = '/memberAuthList.do?pageNum=' + p;
		}
		
		function updateFnc(memId){

			console.log(memId)
			let modifyTd = document.getElementById(memId+"Udp");
			console.log(modifyTd)
			modifyTd.previousElementSibling.innerText="";
			
			let td = modifyTd.previousElementSibling
			let select =  document.createElement('select');
			select.setAttribute('id','sel');
			select.setAttribute('class','form-select');
			select.setAttribute('style','width:100px');
			let author = ['=========','승인수락','승인거절'];
			
			author.forEach(function (ath,idx) {
				console.log(idx)
				select.innerHTML += '<option value='+(idx+1)+'>'+ ath +'</option>';
			})
			
			td.append(select)
			$("select option[value*='1']").prop('disabled',true);
			
			let btn = modifyTd.firstElementChild  
			btn.value='수정완료';
			
			let opVal = "";
			$("#sel").change(function(){
				opVal = $(this).val();
				console.log("선택값:"+$(this).val())
			})
			
			btn.addEventListener('click',function(e){
				e.preventDefault();
				$.ajax({
					url:'/memberAuthUpdate.do',
					type:'post',
			 		beforeSend:function(xhr){
			 			xhr.setRequestHeader("AJAX", true);
					    xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken);
					}, 
					dataType:'json',
					data:{'guideId':memId,'stateCd':opVal},
					success:function result(res){
						alert('수정이 정상적으로 완료되었습니다.')
						location.href="memberAuthList.do"
					},
					error:function err(xhr,err){
						alert('수정이 불가합니다. 다시 시도하세요')
						location.href="memberAuthList.do"
					}
				}) 
			})
		}
	
		
		  $("#tbody").on("click",".dc",function(e){
			  e.preventDefault();
			  $.ajax({
				url:"/memberAuthOne.do",
				dataType:'json',
				data:{'guideId':this.id},
				success:function result(res){
					console.log(res)
				 	let modal = `<div class="modal fade text-left" id="info" tabindex="-1" role="dialog"
			             aria-labelledby="myModalLabel130" aria-hidden="true">
			             <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
			             <div class="modal-content">
			                 <div class="modal-header bg-info">
			                 <h5 class="modal-title white" id="myModalLabel130">
			                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
			                 	<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
			                 </svg>&nbsp
			                	${res.guideId}님의 가이드 신청입니다.</h5>
			                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                     <i data-feather="x"></i>
			                 </button>
			                 </div>
			                 <div class="modal-body">
			                 	${res.dc}
			                 </div>
			                 <div class="modal-footer">
			                 <button type="button" class="btn btn-info ml-1" data-dismiss="modal">
			                     <i class="bx bx-check d-block d-sm-none"></i>
			                     <span class="d-none d-sm-block">확인</span>
			                 </button>
			                 </div>
			             </div>
			             </div>
			         </div>` 
					$(modal).modal('show');
					}
			  })
		  })
		</script>
	</div>
</body>
</html>