<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row" id="table-head">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">회원정보</h4>
					</div>
					<div class="card-content">
						<div class="card-body">
							<p>회원정보입니다.</p>
						</div>

						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item" role="presentation"><a class="nav-link active" id="home-tab" data-toggle="tab" href="#all" role="tab" aria-controls="home"
								aria-selected="true"><b>전체</b></a></li>
							<li class="nav-item" role="presentation"><a class="nav-link" id="contact-tab1" data-toggle="tab" href="#M1" role="tab"
								aria-controls="contact" aria-selected="false"><b>GUIDE</b></a></li>
							<li class="nav-item" role="presentation"><a class="nav-link" id="contact-tab2" data-toggle="tab" href="#M2" role="tab"
								aria-controls="contact" aria-selected="false"><b>USER</b></a></li>
							<li class="nav-item" role="presentation"><a class="nav-link" id="contact-tab3" data-toggle="tab" href="#M3" role="tab"
								aria-controls="contact" aria-selected="false"><b>ADMIN</b></a></li>
						</ul>


						<div class="tab-content" id="myTabContent">
							<!-- 전체 -->
							<div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="home-tab">
								<div class="table-responsive">
									<table class="table table-striped mb-0">
										<thead>
											<tr>
												<th>아이디</th>
												<th>이름</th>
												<th>닉네임</th>
												<th>이메일</th>
												<th>권한</th>
											</tr>
										</thead>
										<tbody id="tbody">
											<tr th:each="m:${pageInfo.list}">
												<th th:text=${m.memberId}></th>
												<td th:text=${m.name}></td>
												<td th:text=${m.nick}></td>
												<td th:text=${m.email}></td>
												<td th:text=${m.auth}></td>
											</tr>
										</tbody>
									</table>
								</div>
								<br>
								<!-- 페이지네이션 -->
								<nav aria-label="Page navigation example">
									<ul class="pagination pagination-info  justify-content-center">
										<li class="page-item disabled"
											th:if="${pageInfo.isIsFirstPage()}"><span
											class="page-link">«</span></li>
										<li class="page-item"
											th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
											class="page-link"
											th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
											rel="prev">«</a></li>
										<li
											th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
											th:each="page:${pageInfo.navigatepageNums}"><span
											class="page-link" th:if="${pageInfo.pageNum eq page}"
											th:text="${page}"></span> <a class="page-link"
											th:unless="${pageInfo.pageNum eq page}"
											th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
												}}</a></li>
										<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
											class="page-link"
											th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
											rel="next">»</a></li>
										<li class="page-item disabled"
											th:unless="${pageInfo.hasNextPage}"><span
											class="page-link">»</span></li>
									</ul>
								</nav>
						
          
							</div>
						
							<!-- GUIDE -->
							<div class="tab-pane fade" id="M1" role="tabpanel" aria-labelledby="contact-tab">
								<div class="table-responsive">
									<table class="table table-striped mb-0">
										<thead>
											<tr>
												<th>아이디</th>
												<th>이름</th>
												<th>닉네임</th>
												<th>이메일</th>
												<th>권한</th>
											</tr>
										</thead>
										<tbody id="m11">
											
										</tbody>
									</table>
								</div>
							</div>
						
						
							<!-- USER -->
							<div class="tab-pane fade" id="M2" role="tabpanel" aria-labelledby="contact-tab">
								<div class="table-responsive">
									<table class="table table-striped mb-0">
										<thead>
											<tr>
												<th>아이디</th>
												<th>이름</th>
												<th>닉네임</th>
												<th>이메일</th>
												<th>권한</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="m:${pageInfo.list}" th:if="${m.auth}=='USER'">
												<th th:text=${m.memberId}></th>
												<td th:text=${m.name}></td>
												<td th:text=${m.nick}></td>
												<td th:text=${m.email}></td>
												<td th:text=${m.auth}></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						
						
							<!-- ADMIN -->
							<div class="tab-pane fade" id="M3" role="tabpanel" aria-labelledby="contact-tab">
								<div class="table-responsive">
									<table class="table table-striped mb-0">
										<thead>
											<tr>
												<th>아이디</th>
												<th>이름</th>
												<th>닉네임</th>
												<th>이메일</th>
												<th>권한</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="m:${pageInfo.list}" th:if="${m.auth}=='ADMIN'">
												<th th:text=${m.memberId}></th>
												<td th:text=${m.name}></td>
												<td th:text=${m.nick}></td>
												<td th:text=${m.email}></td>
												<td th:text=${m.auth}></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						
						
						
						
						</div><!-- end of myTabContent -->
					</div><!-- end of card-content -->
				</div>
			</div>
		</div>
		<script type="text/javascript">
		$(".nav-item").on("click","#contact-tab1",function(){
			var auth = $(this).text()
			var tbody = $("#M11")
			console.log(tbody)
			
			$.ajax({
				url:'/memberListOf.do',
				type:'get',
				dataType:'json',
				data:{'auth':auth},
				success:function result(res){
					console.log(res)
					res.list.forEach((elem,idx,arr)=>{
					
						tbody.innerHTML +=
							"<tr><th>"+elem.memberId+"</th>"
								+"<td>"+elem.name+"</td>"
								+"<td>"+elem.nick+"</td>"
								+"<td>"+elem.email+"</td>"
								+"<td>"+elem.auth+"</td></tr>"
						})
				}
			})
			
			
			
			
		})
		
		
		function gopage(p) {
			location.href = '/memberList.do?pageNum=' + p;
		}
		
		</script>
		
	</div>
</body>
</html>