<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8" />
<title>클래스 목록</title>
</head>
<body layout:fragment="content">
 <div class="section">
      <div class="container">
	     <div id="btnArea" style="height:100px;padding-top:30px; text-align:center;">
		     <button th:text="전체" class="btn btn-primary round" onclick="location.href='/iClassList.do'" style="margin:5px;"></button>
		     <div style=" display:inline-block; " th:each="j:${job}">
		     <button th:text=${j.cdName} th:id="${j.cdNo}" class="btn btn-primary round" onclick="jobSearch(1,this.getAttribute('id'))"style="margin:5px;"></button>
		     </div>
      	</div>
        <div class="row" id="classList">
        <section class="py-5">
	        <div class="container px-4 px-lg-5 mt-5">
	            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
					
					<div th:each="cList:${pageInfo.list}" id="searchClassList"> 
		                <div class="col mb-5">
		                    <div class="card h-100">

                        
		                      <!--   <img class="card-img-top" src="images/spring.png" alt="..." /> -->
                     		<img th:src="@{/download(fileName=${'/classimg/'+cList.attachDir})}" height="200px;"/>


		                        <div class="card-body p-4">
		                            <div class="text-center">
		                                <h5 class="fw-bolder" style="font-weight: bolder;" th:text="${cList.title}"></h5>
		                                <div>
						                     <img src="images/dt.png" width="20px;"></img>  
						                     <span class="caption badge bg-warning" th:text="${cList.term}"></span><br>
			                                 <span class="">주요기능 </span>
						                     <span class="card-title" style="font-weight: bold;" th:text="${cList.cdName}"></span><br>
						                     <span class="">정원 </span>
						                     <span class="card-title" style="font-weight: bold;" th:text="${cList.psncpa}+명"></span><br>
						                     <span class="card-title" style="font-weight: bold;" th:text="${cList.price}+원"></span>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
		                            <div class="text-center classInfo">
		                            	<a class="btn btn-outline-dark mt-auto" href="#">더보기</a>
				 						<div th:text="${cList.classNo}" style="display: none;"></div>
		                           	</div>
		                        </div>
		                    </div>
		                </div>
					</div>
					
	            </div>
	        </div>
	    </section>
        </div>
        
        <div class="row align-items-center py-5" id="pagingNav">
			<!-- 페이지네이션 -->
			<nav aria-label="Page navigation example">
				<ul class="pagination pagination-info  justify-content-center">
					<li class="page-item disabled"
						th:if="${pageInfo.isIsFirstPage()}"><span
						class="page-link">«</span></li>
					<li class="page-item"
						th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
						class="page-link"
						th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
						rel="prev">«</a></li>
					<li th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
						th:each="page:${pageInfo.navigatepageNums}"><span
						class="page-link" th:if="${pageInfo.pageNum eq page}"
						th:text="${page}"></span> <a class="page-link"
						th:unless="${pageInfo.pageNum eq page}"
						th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page}}</a></li>
					<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
						class="page-link"
						th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
						rel="next">»</a></li>
					<li class="page-item disabled"
						th:unless="${pageInfo.hasNextPage}"><span
						class="page-link">»</span></li>
				</ul>
			</nav>
			
        </div>
        
        
      </div>
    </div>
 
            
	<form id="frm" method="post">
		<input type="hidden" id="classNo" name="classNo">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	</form>
    
    <script type="text/javascript">
    let cPrice = document.getElementsByClassName("cPrice")
    for (let i = 0; i < cPrice.length; i++){
    	cPrice[i].innerText=cPrice[i].innerText.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")
    }

	function gopage(p) {
		location.href = '/iClassList.do?pageNum=' + p;
	}
	
    $("#classList").on("click",".classInfo",function(){
    	let no =  event.target.nextElementSibling.innerHTML
    	frm.action ="iClassSelectOne.do"
    	frm.classNo.value = no
    	frm.submit()
    })
	    
    function jobSearch(p,jobCd) {
    	console.log(jobCd)
    	console.log(p)
		$.ajax({
			url : "ajaxJobSearch.do",
			type : "post",
	 		beforeSend:function(xhr){
				xhr.setRequestHeader("AJAX", true);
			    xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken);
			}, 
			data : {'jobCd' : jobCd,"pageNum":p},
			dataType : "json",
			success : function(result){
				console.log(result)
				if(result.list.length > 0) {
					makeClassList(result.list);
					makePaging(result,jobCd)
				}else {
					alert("검색한 결과가 없습니다.");
				}
			},
			error : function(err) {
				console.log(err)
			}
		})
	} 

	function makeClassList(data) {
		$('#classList').html("");
		$.each(data, function(index, item){
			var row = '<br><div id="searchClassList" style="width:370px;margin:30px;"> <div class="col mb-5"><div class="card h-100">'
                +'<img src="@{/download(fileName=${/classimg/'+item.attachDir+'})}"  height="200px;" />'
                +'<div class="card-body p-4"><div class="text-center">'
                +'<h5 class="fw-bolder" style="font-weight: bolder;">'+item.title+'</h5>'
                +'<div><img src="images/dt.png" width="20px;"></img>  '
                +'<span class="caption badge bg-warning">'+item.term+'</span><br>'
                +'<span class="">주요기능 </span>'
                +'<span class="card-title" style="font-weight: bold;">'+item.cdName+'</span><br>'
                +'<span class="">정원 </span>'
                +'<span class="card-title" style="font-weight: bold;">'+item.psncpa+'명</span><br>'
                +'<span class="card-title" style="font-weight: bold;">'+item.price+'원</span><br>'
                +'</div></div></div>'
                +'<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">'
                +'<div class="text-center classInfo">'
                +'<a class="btn btn-outline-dark mt-auto" href="#">더보기</a>'
		 		+'<div style="display: none">'+item.classNo+'</div>'
                +'</div></div></div></div></div>'
				
				$('#classList').append(row);
				
		});
	}
	
	function makePaging(res,jobCd){
		$("#pagingNav").html("");
		
		ph ='<nav aria-label="Page navigation example">'
		    +'<ul class="pagination pagination-info  justify-content-center">'
		 if(res.isFirstPage==true){  
			ph += '<li class="page-item disabled"><span class="page-link">«</span></li>'
		 }
		 else{
	    	ph += `<li class="page-item"><a class="page-link" href="javascript:makePaging(${res.prePage},'${jobCd}')" rel="prev">«</a></li>`
	    }

		for(page of res.navigatepageNums){
			ph += `<li class="page-item (${res.pageNum} eq ${page}) ? active: ''}" ></li>`
			if(res.pageNum == page){
				ph += `<span style='background-color:#00CFDD; color:white;' class='page-link'>${page}</span>`
			}else{
				ph+=`<a class='page-link' href='javascript:makePaging(${page},"${jobCd}")'>${page}</a>`
			}
			ph += "</li>"
		}
	
		if(res.hasNextPage ==true){
			ph += ` <li class="page-item"><a class="page-link" href="javascript:makePaging(${res.nextPage},'${jobCd}')" rel="next">»</a></li>`
		}else{
			ph += '<li class="page-item disabled"><span class="page-link">»</span></li></ul></nav>'
		}
		
		$("#pagingNav").append(ph);
	}
    
    </script>
    
</body>
</html>
