<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="js/jquery-3.6.0.min.js"></script>
<style>
.table {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
}

.row {
	margin-top: 50px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#insertBtn {
	float: right;
	margin-right: 50px;
}

#boardName{
	margin-top : 20px;
	padding-top : 25px;
	padding-bottom : 25px;
}
</style>
</head>
<body>
<!-- 맨 상단에 3개 고정할 수 있는지???? -->
	<div class="row" layout:fragment="content">
		<div class="col-12">
			<div class="card my-4">
				<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
					<!-- <div id="boardName" class="alert alert-light-primary color-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg> 자유게시판</div> -->
					<div id="boardName" class="alert alert-primary">
                            <h4 class="alert-heading">Q&A</h4>
                        </div>
				</div>
				<div class="card-body px-0 pb-2">
					<div class="table-responsive p-0">
						<table class="table align-items-center mb-0">
							<thead>
								<tr>
									<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7" style="display: none;">글번호</th>
									<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7 ps-2">글제목</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">작성자</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">작성일자</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">조회수</th>
								</tr>
							</thead>
							<tbody id="csList">
								<tr th:each="cs : ${pageInfo.list}">
									<td style="display: none;"><p class="text-md text-secondary mb-0"
											th:text="${cs.csNo}">글번호</p></td>
									<td><p class="text-md text-secondary mb-0 title"
											th:text="${cs.title}">글제목</p></td>
									<td><p class="text-md text-secondary mb-0"
											th:text="${cs.nick}">작성자</p></td>
									<td><p class="text-md text-secondary mb-0"
											th:text="${cs.dt}">작성일자</p></td>
									<td><p class="text-md text-secondary mb-0"
											th:text="${cs.hit}">조회수</p></td>
								</tr>
							</tbody>
						</table>
						<br>
						<!-- 권한이 ROLE_ADMIN이면 -->
						<div>
							<button id="insertBtn" class="btn btn-primary btn-md mb-0">글쓰기</button>
						</div>
						<br>
					</div>
					<!-- 페이지네이션 -->
					<nav aria-label="Page navigation example">
						<ul class="pagination pagination-primary  justify-content-center">
							<li class="page-item disabled"
								th:if="${pageInfo.isIsFirstPage()}"><span class="page-link">«</span></li>
							<li class="page-item"
								th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
								class="page-link"
								th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
								rel="prev">«</a></li>
							<li
								th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
								th:each="page:${pageInfo.navigatepageNums}"><span
								class="page-link" th:if="${pageInfo.pageNum eq page}"
								th:text="${page}"></span> <a class="page-link"
								th:unless="${pageInfo.pageNum eq page}"
								th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
									}}</a></li>
							<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
								class="page-link"
								th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
								rel="next">»</a></li>
							<li class="page-item disabled"
								th:unless="${pageInfo.hasNextPage}"><span class="page-link">»</span></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<script>
			function gopage(p) {
				location.href = '/noticeList.do?pageNum=' + p;
			}

			$("#csList").on("click", ".title",  function(e){
				let csNo = $(e.target).closest("tr").children().children().html();
				console.log(csNo); //단건조회로 넘기기
				location.href="csSelect.do?csNo="+csNo;
			})
			
			$("#insertBtn").on("click", function(e) {
				location.href = "/qnaInsertForm.do";
			})
			
		</script>
	</div>
</body>
</html>