<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/layout}"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

	.card-header {
		margin-top: 10%;
	}
	
	#error .error-title {
     font-size: xx-large; 
	}
	
	
	#error{
	 width: 80em;
	 height: 40em;
	 margin-left: 11%;
	}
	
	.error-title {
		margin-top: 11%;
	}
	
</style>
</head>
<body>
<div layout:fragment="content">

		<div id="error">
<div class="container text-center pt-32" th:each="mem: ${members}">
    <h1 class='error-title' th:text="${mem.memberId}+'님 이미 가이드를 신청하셨습니다'">500</h1>
    <p th:each="gui: ${guides}" th:if="${gui.stateCd == '1'}">Guide신청이 승인대기중입니다.</p>
    <div th:each="gui: ${guides}" th:if="${gui.stateCd == '3'}" >
    <p>Guide신청이 승인거부되었습니다.</p>
    <button type="button" class="btn btn-primary py-2 px-3">다시 신청하기</button>
    </div>
    <a href="myPage">Go Mypage</a>
</div>
    </div>
		</div>
		
</body>
</html>