<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Form Layout - Voler Admin Dashboard</title>

<link rel="stylesheet" href="assets/css/bootstrap.css">

<link rel="stylesheet"
	href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet" href="assets/css/app.css">
<link rel="shortcut icon" href="assets/images/favicon.svg"
	type="image/x-icon">
<style>
#testDiv {
	width: 700px;
	margin: 0 auto;
}
</style>
</head>
<body layout:fragment="content">
	<div class="text-center">
		<h1 class="display-5 mb-5">Start Guide</h1>
	</div>
	<div class="col-md-6 col-12" id="testDiv">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Guide 신청폼</h4>
			</div>
			<div class="card-content">
				<div class="card-body">
					<form class="form form-vertical" action="guideInsert.do"
						method="post" onsubmit="return message()"
						enctype="multipart/form-data">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}">
						<div class="form-body">
							<div class="row" th:each="gui: ${guides}">
								<div class="col-12">
									<div class="form-group">
										<label>아이디</label> <input type="text" id="guideId"
											class="form-control" th:value=${gui.memberId}
											readonly="readonly" name="guideId" placeholder="Id">
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<label>이름</label> <input type="email" id="name"
											class="form-control" name="name" th:value=${gui.name}
											readonly="readonly" placeholder="Name">
									</div>
								</div>
								<div class="col-12">
									<div class="form-group mb-3">
										<label class="form-label">소개(설명)</label>
										<textarea class="form-control" id="dc" rows="3" name="dc"
											placeholder="introduce yourself"></textarea>
									</div>
								</div>
								<div class="col-md-4">
									<label>경력</label>

								</div>
								<div class="col-md-12 form-group ">
									<select class="form-select" id="career" name="career">
										<option selected value="">-- 경력 선택 --</option>
										<option th:each="career : ${careerCdList}"
											th:value="${career.cdNo}" th:utext="${career.cdName}"></option>
									</select>
								</div>

								<div class="col-md-4">
									<label>직무</label>
								</div>
								<div class="col-md-12 form-group">
									<select class="form-select" id="duty" name="duty">
										<option selected value="">-- 직무 선택 --</option>
										<option th:each="dut : ${dutyCdList}" th:value="${dut.cdNo}"
											th:utext="${dut.cdName}"></option>
									</select>
								</div>

								<div class="col-12">
									<div class="form-group">
										<label>재직증명서</label> <input type="file" id="file"
											class="form-control" name="file">
									</div>
								</div>

								<div class="col-12 d-flex justify-content-end">
									<button type="submit" class="btn btn-primary mr-1 mb-1">제출하기</button>
									<button type="reset" class="btn btn-light-secondary mr-1 mb-1">취소</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function message() {

			if ($("#dc").val() == "") {
				alert('소개(설명) 입력해주세요.');
				$("#dc").focus();
				return false;
			}

			if ($("#dc").val() != "") {

				var count = /^[\w\Wㄱ-ㅎㅏ-ㅣ가-힣]{40,100}$/;

				/* if (count.test($("#dc").val()) == false) {
					alert("리뷰는 40자 이상 100자 이하으로 작성가능합니다.");
					$("#dc").focus();
					return false;
				} */

			}

			if ($("#career").val() == "") {
				alert('경력을 선택해주세요.');
				$("#carrer").focus();
				return false;
			}

			if ($("#duty").val() == "") {
				alert('직무를 선택해주세요.');
				$("#duty").focus();
				return false;
			}

			if ($("#file").val() == "") {
				alert('재직증명서를 첨부해주세요.');
				return false;
			}

			alert("가이드신청이 완료되었습니다.");
			return true;
		}
	</script>

	<script src="assets/js/feather-icons/feather.min.js"></script>
	<script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="assets/js/app.js"></script>

	<script src="assets/js/main.js"></script>


</body>
</html>