<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8" />
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>My Class</title>
<script src="js/jquery-3.6.0.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Untree.co" />
<meta name="description" content="" />
<meta name="keywords" content="bootstrap, bootstrap5" />
<style>
    .tns-horizontal.tns-subpixel>.tns-item {
     vertical-align: bottom;
    }
    .property-item .property-content {
       margin-top: 0px;
    }
    .img-fluid {
    max-width: none;
     height: 200px; 
	}
	 .cEnnc { 
	   filter: grayscale(100%);
	   }
	.ment {
		height: 150px;
	}
		.table{
		text-align: center;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	
	.table td img{
		max-width: 100%;
	}
	.alert {
	    position: relative;
	    padding: 2rem 2rem;
	    margin-bottom: 1rem;
	    border: none solid transparent;
	    border-radius: 0.25rem;
	    font-size: 1.6rem;
	}
</style>
    
</head>
<body>
<div layout:fragment="content">
	<div class="card">
		<input type="hidden" id="memberId" th:value="${#authentication.principal.member.memberId}" /> 
		<div class="alert alert-light-primary color-primary">My Class</div>
			<div class="card-body">
				<div class="row">
					<!-- 결제한 class가 없을때 -->
					<div class="row" th:if="${#lists.isEmpty(classList)}">
						<table class="table">
							<tr>
								<td><h3 class='error-title'>진행중인 Class가 없습니다.</h3><br><h4>새로운 class를 신청해주세요.</h4></td>
							</tr>
							<tr>
								<td>Go Mypage</td>
							</tr>
						</table>
					</div>

					<!-- 결제한 Class가 있을 때 -->
					<div class="row" th:unless="${#lists.isEmpty(classList)}">
						<div th:each="cList : ${classList}">
							<!-- 활성화중인 클래스일때 -->
              				<div th:if="${cList.ennc == '활성화'}">
              					<table border="1" class="table table-borderless" style="width: 400px;">
              						<tbody>
              							<tr>
              								<td colspan="2">
              									<a href="#" class="img"><img th:src="@{*{cList.attachDir}}" alt="Image" class="img-fluid" /></a>
              								</td>
              							</tr>
              							<tr>
              								<td th:text="${cList.title}"></td>
              								<td><span class="caption badge bg-warning" th:text="${cList.term}"></span></td>
              							</tr>
              							<tr>
              								<th>주요기능</th>
              								<td th:text="${cList.cdName}"></td>
              							</tr>
              							<tr>
              								<th>정원</th>
              								<td th:text="|${cList.psncpa}명|"></td>
              							</tr>
              							<tr>
              								<td colspan="2"><button style="width: 100px;" class="btn btn-primary py-2 px-3 classInfo classChat">링크</button></td>
              								<td style="display: none"><div th:text="${cList.classNo}"></div></td>
              							</tr>
              						</tbody>
              					</table>
							</div>
       						<!-- 비활성화된 클래스일 때 -->
       						<div th:if="${cList.ennc == '비활성화'}">
       							<table border="1" class="table table-borderless" style="width: 400px;">
              						<tbody>
	              						<tr>
	              							<td colspan="2">
	              								<img th:src="@{*{cList.attachDir}}" alt="Image" class="img-fluid cEnnc"  />
	              							</td>
              							</tr>
              							<tr>
              								<td th:text="${cList.title}"></td>
              							</tr>
              							<tr>
              								<td><span class="">진행완료된 수업입니다.<br>수업에 대한 리뷰와 수료증을 발급 받으 실 수 있습니다. </span></td>
              							</tr>
              							<tr>
              								<td></td>
              							</tr>
              							<tr>
              								<td>
              								<form class="token" action="mcReview" method="post">
						                		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
						                      	<input name="guideId" id="guideId" th:value="${cList.guideId}" type="hidden">
						                      	<input name="no" class="no" id="no" th:value="${cList.classNo}" type="hidden">
						                      	<button type="button" class="btn btn-primary py-2 px-3 classInfo reviewBtn">리뷰</button>
						                      	<button type="button" class="btn btn-primary py-2 px-3 " id="certificate" th:each="att : ${attend}" th:if="${att.classNo == cList.classNo} and ${att.complete == 1}">수료증</button>
					                		</form>
					              			<div id="classNo" th:text="${cList.classNo}" style="display: none"></div>
              								</td>
              							</tr>
              						</tbody>
              					</table>
       						</div>
       						
              			</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	
		let guideId = $("#guideId").val();
		let token = $("meta[name='_csrf']").attr("content");
		let header = $("meta[name='_csrf_header']").attr("content");
		
		// 수료여부에따른 수료증버튼
		
	    
	    //리뷰버튼 상태체크
	    $(document).on("click", ".reviewBtn", function(e) {
	    	/* 수정하기 */
	    	let cNum = $(e.target).prev().html();
	    	let frm = $(".token");
	    	// console.log($(e.target));
	    	
			 $.ajax({
				url : "/classReviewSelect.do",
				type : "get",
				data : {'no' : cNum},
				beforeSend :function(xhr) {
					xhr.setRequestHeader("AJAX", true);
			    	xhr.setRequestHeader("X-CSRF-TOKEN", token);
				},
				success : function(data) {
					console.log("출력" + data);
					
					 if(data.reviewNo != null) {
					   alert("이미 리뷰를 작성한 class입니다.");
					   console.log($(e.target));
					} else {
					//	$(e.target).one("click", submit);
						frm.submit();
					}
				}
				
				})
			 
	    })
	    
	    //수료증
	    $("#certificate").on("click", function(e){
	    	/* 수정하기 */
	    	let classNo = $(e.target).parent().next().html();
	    	let memberId = $("#memberId").val(); //수강자 이름(현재 로그인한 사람)
	    	location.href="/certificate.do?classNo=" + classNo + "&&memberId=" + memberId;
	    })
	    
	    //강의장 링크연결
	    $(".classChat").on("click", function(e){
	    	let classNo = $(e.target).parent().next().children(0).html();
	    	location.href="/classChat.do?classNo="+classNo;
	    })
	</script>
</div>
</body>
</html>