<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Untree.co" />
<link rel="shortcut icon" href="favicon.png" />

<meta name="description" content="" />
<meta name="keywords" content="bootstrap, bootstrap5" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
	rel="stylesheet" />

<link rel="stylesheet" href="bootstrap/property/fonts/icomoon/style.css" />
<link rel="stylesheet"
	href="bootstrap/property/fonts/flaticon/font/flaticon.css" />

<link rel="stylesheet" href="bootstrap/property/css/tiny-slider.css" />
<link rel="stylesheet" href="bootstrap/property/css/aos.css" />
<link rel="stylesheet" href="bootstrap/property/css/style.css" />

<title>Property &mdash; Free Bootstrap 5 Website Template by
	Untree.co</title>

<style type="text/css">
.property-item .property-content {
	margin-top: 0px;
}

.d-flex {
	display: -webkit-box !important;
}

.property-item .property-content .specs .caption {
	font-size: 15px;
}

.tns-horizontal.tns-subpixel>.tns-item {
	vertical-align: bottom;
}
.card-header {
		margin-top: 10%;
	}
	
	#error .error-title {
     font-size: xx-large; 
	}
	
	/* @media (min-width: 1200px)
	h1, .h1 {
     font-size: 2.25rem; 
	} */
	
	#error{
	 width: 120em;
	 height: 20em;
	}
	
	.error-title {
		margin-top: 1%;
	}
	
	.Title {
		height: 100px;
	}
	
	.conCard{
		text-align: center;
	}
	
	ul {
		margin-left: auto;
		margin-right: auto;
	}

</style>
</head>
<body layout:fragment="content">
	<!-- About Start -->
	<div class="text-center">
		<div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
		<h1 class="display-5 mb-5">My Page</h1>
	</div>
	<!-- Projects Start -->
	<div class="container-xxl py-5">
		<div class="container">

			<div class="section">
				<div class="container">
					<div class="row mb-5 align-items-center">
						<div class="col-lg-6">
							<h2 class="font-weight-bold text-primary heading">1:1 상담</h2>
						</div>
					</div>
					
					<!-- 진행중인 상담이 없을 때 -->
					<div class="row" th:if="${#lists.isEmpty(consultList)}">
						<div>
							<div class="container text-center pt-32" >
								<h1 class='error-title'>진행중인 1:1상담이 없습니다.</h1>
								<p>새로운 상담을 신청해주세요.</p>
								<a href="myPage">Go Mypage</a>
							</div>
						</div>
					</div>

					<!-- 진행중인 상담이 있을 때 -->
					<div class="row">
						<div class="col-12" th:unless="${#lists.isEmpty(consultList)}">
							<div class="property-slider-wrap">
							
								<div class="property-slider">
									<div class="card col-xs-12 col-sm-6 col-md-5 col-lg-3 cCard" th:each="con : ${consultList}">
										
										<!-- 상담이 활성화일때 -->
										<!-- .item -->
										<div class="property-item"  th:if="${con.ennc == '활성화'}">
											<div class="property-content conCard">
												<div class="city mb-2 Title">
													<span th:text="${con.title}" class="cTitle">Web개발 고민</span>
												</div>
												<div>

													<div class="specs d-flex mb-4 spanM">
														<ul class="list-group list-group-flush conBody">
					    									<li class="list-group-item" th:text="'가이드  / '+${con.guideId}"></li>
					   										 <li class="list-group-item" th:text="'상담일  / '+${con.conday}"></li>
					   										 <li class="list-group-item" th:text="'상담 시작시간  / '+${con.stime}"></li>
					 									 </ul>
													</div>
													<span>
														<button class="btn btn-primary py-2 px-3 consultChat">채팅방</button>
													</span>
													<span>
													<a href="conReview"class="btn btn-primary py-2 px-1">리뷰</a>
													</span>
													 <div th:text="${con.consultNo}" style="display: none"></div>
												</div>
											</div>
										</div>
										
										<!-- 상담이 비활성화일 때 -->
										<div class="property-item"  th:if="${con.ennc == '비활성화'}">
											<div class="property-content conCard">
												<div class="city mb-2 Title">
													<span th:text="${con.title}" class="cTitle">Web개발 고민</span>
												</div>
												<div>
													<div class="specs d-flex mb-4 spanM">
														<ul class="list-group list-group-flush conBody">
					    									<li class="list-group-item">비활성화된 상담입니다.</li>
					 									 </ul>
													</div>
					 									 <h6>가이드의 요청에 의해 비활성화중입니다.<br> 문의할 점이 있으시면<br> Q&A센터로 문의해주시기바랍니다.</h6>
													<br>
													<span>
													<a href="qnaList.do"class="btn btn-primary py-2 px-1">Q&A</a>
													</span>
												</div>
											</div>
										</div>
									</div>
									
									<!-- .item -->
								</div>
								
								
								


								<div id="property-nav" class="controls" tabindex="0"
									aria-label="Carousel Navigation">
									<span class="prev" data-controls="prev"
										aria-controls="property" tabindex="-1">Prev</span> <span
										class="next" data-controls="next" aria-controls="property"
										tabindex="-1">Next</span>
								</div>
							</div>
						</div>
					</div>
					<br> <br>

				</div>
				<script>
					//채팅방 연결
					$(".consultChat").on("click", function(e){
				    	let consultNo = $(e.target).parent().next().next().html();
				    	console.log(consultNo);
				    	location.href="/consultChat.do?consultNo="+consultNo;
				    })
				</script>
			</div>

			<script src="bootstrap/property/js/bootstrap.bundle.min.js"></script>
			<script src="bootstrap/property/js/tiny-slider.js"></script>
			<script src="bootstrap/property/js/aos.js"></script>
			<script src="bootstrap/property/js/navbar.js"></script>
			<script src="bootstrap/property/js/counter.js"></script>
			<script src="bootstrap/property/js/custom.js"></script>

		</div>
	</div>
	<!-- Projects End -->



</body>
</html>