<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Untree.co" />
<meta name="description" content="" />
<meta name="keywords" content="bootstrap, bootstrap5" />
<title>User MyConsult</title>
<style>
.card {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

li{
height: 45px;
}

.img-fluid {
	max-width: none;
	height: 150px;
}

.table td img {
	max-width: 100%;
}

.alert {
	position: relative;
	padding: 2rem 2rem;
	margin-bottom: 1rem;
	border: none solid transparent;
	border-radius: 0.25rem;
	font-size: 1.6rem;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="card">
			<input type="hidden" id="memberId"
				th:value="${#authentication.principal.member.memberId}" />
			<div class="alert alert-light-primary color-primary">My Consult</div>
			<div class="card-body">
			
				<!-- 결제한 상담이 없을 때 -->
				<div class="row" th:if="${#lists.isEmpty(pageInfo.list)}">
					<table class="table">
						<tr>
							<td><h3 class='error-title'>진행중인 상담이 없습니다.</h3>
								<br>
							<h4>새로운 상담을 신청해주세요.</h4></td>
						</tr>
						<tr>
							<td><a href="/myPage">Go Mypage</a></td>
						</tr>
					</table>
				</div>
				
				<!-- 결제한 상담이 있을 때 -->
				<div class="row" th:unless="${#lists.isEmpty(pageInfo.list)}">
					<div th:each="con : ${pageInfo.list}" style="width: 380px;">
					 <!-- 상담이 진행중일 때 -->
							<div class="card" th:if="${con.st == '진행중'}">
								<div class="card-content">
									<div class="card-body">
										<h4 class="card-title" th:text="${con.title}">Card With
											Header And Footer</h4>
										<p class="card-text">
											상담시간입니다.<br>
	              							아래 채팅창을 눌러 가이드와 상담을 하실 수 있습니다.
										</p>
									</div>
									<!-- <img th:src="@{/download(fileName=${'/Thumbnail/'+cList.attachDir})}"
										alt="Image" class="img-fluid" /> -->
									<img src="bootstrap/voler/assets/images/consult.png"
										class="img-fluid" />
									<ul class="list-group list-group-flush">
										<li class="list-group-item" th:text="${con.st}">Cras
											justo odio</li>
										<li class="list-group-item" th:text="'가이드  / '+${con.guideId}">Vestibulum
											at eros</li>
										<li class="list-group-item"
											th:text="'상담일, 시작시간 /'+${#strings.substring(con.conday,0,10)}+', '+${con.stime}">Dapibus
											ac facilisis in</li>
									</ul>
								</div>
								<div class="card-footer d-flex justify-content-between">
								<input type="hidden" id="classNo" th:value="${con.consultNo}">
								<button class="btn btn-primary py-2 px-3 consultChat">채팅방</button>
								</div>
							</div>
					 
					 
						<!-- 상담이 진행전일 때 -->
						<div class="card" th:if="${con.st == '진행전'}">
								<div class="card-content">
									<div class="card-body">
										<h4 class="card-title" th:text="${con.title}">Card With
											Header And Footer</h4>
										<p class="card-text">
											아직 상담시간이 되지 않았습니다.<br>
	              							문의 할 점이 있으시면 아래로 문의 부탁드립니다.
										</p>
									</div>
									<!-- <img th:src="@{/download(fileName=${'/Thumbnail/'+cList.attachDir})}"
										alt="Image" class="img-fluid" /> -->
									<img src="bootstrap/voler/assets/images/consult.png"
										class="img-fluid" />
									<ul class="list-group list-group-flush">
										<li class="list-group-item" th:text="${con.st}">Cras
											justo odio</li>
										<li class="list-group-item" th:text="'가이드  / '+${con.guideId}">Vestibulum
											at eros</li>
										<li class="list-group-item"
											th:text="'상담일, 시작시간 /'+${#strings.substring(con.conday,0,10)}+', '+${con.stime}">Dapibus
											ac facilisis in</li>
									</ul>
								</div>
								<div class="card-footer d-flex justify-content-between">
								<input type="hidden" id="classNo" th:value="${con.consultNo}">
								<button class="btn btn-primary py-2 px-3 qnaList">Q&A</button>
								</div>
							</div>
						
						
						<!-- 상담이 개설전일 때 -->
						<div class="card" th:if="${con.st == '개설전'}">
								<div class="card-content">
									<div class="card-body">
										<h4 class="card-title" th:text="${con.title}">Card With
											Header And Footer</h4>
										<p class="card-text">
											아직 상담일자가 되지 않았습니다.<br>
	              							문의 할 점이 있으시면 아래로 문의 부탁드립니다.
										</p>
									</div>
									<!-- <img th:src="@{/download(fileName=${'/Thumbnail/'+cList.attachDir})}"
										alt="Image" class="img-fluid" /> -->
									<img src="bootstrap/voler/assets/images/consult.png"
										class="img-fluid" />
									<ul class="list-group list-group-flush">
										<li class="list-group-item" th:text="${con.st}">Cras
											justo odio</li>
										<li class="list-group-item" th:text="'가이드  / '+${con.guideId}">Vestibulum
											at eros</li>
										<li class="list-group-item"
											th:text="'상담일, 시작시간 /'+${#strings.substring(con.conday,0,10)}+', '+${con.stime}">Dapibus
											ac facilisis in</li>
									</ul>
								</div>
								<div class="card-footer d-flex justify-content-between">
								<input type="hidden" id="classNo" th:value="${con.consultNo}">
								<button class="btn btn-primary py-2 px-3 qnaList">Q&A</button>
								</div>
							</div>
						
						
						<!-- 상담이 종료되었을 때 -->
						<div class="card" th:if="${con.st == '종료'}">
								<div class="card-content">
									<div class="card-body">
										<h4 class="card-title" th:text="${con.title}">Card With
											Header And Footer</h4>
										<p class="card-text">
											종료된 상담입니다.<br>
	              							다시 상담내용을 보고 싶다면 아래 버튼을 눌러주세요. 
										</p>
									</div>
									<!-- <img th:src="@{/download(fileName=${'/Thumbnail/'+cList.attachDir})}"
										alt="Image" class="img-fluid" /> -->
									<img src="bootstrap/voler/assets/images/consult.png"
										class="img-fluid" />
									<ul class="list-group list-group-flush">
										<li class="list-group-item" th:text="${con.st}">Cras
											justo odio</li>
										<li class="list-group-item" th:text="'가이드  / '+${con.guideId}">Vestibulum
											at eros</li>
										<li class="list-group-item" th:text="'상담일, 시작시간 /'+${#strings.substring(con.conday,0,10)}+', '+${con.stime}">
										Dapibus ac facilisis in</li>
									</ul>
								</div>
								<div class="card-footer d-flex justify-content-between">
								<input type="hidden" id="classNo" th:value="${con.consultNo}">
								<button class="btn btn-primary py-2 px-3 consultChat">상담내용</button>
								<button class="btn btn-primary py-2 px-3 consultReview">리뷰</button>
								</div>
							</div>
						
					</div>
				</div>
			</div>
			
			<!-- 페이지네이션 -->
			<nav aria-label="Page navigation example">
				<ul class="pagination pagination-info  justify-content-center">
					<li class="page-item disabled"
						th:if="${pageInfo.isIsFirstPage()}"><span
						class="page-link">«</span></li>
					<li class="page-item"
						th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
						class="page-link"
						th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
						rel="prev">«</a></li>
					<li th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
						th:each="page:${pageInfo.navigatepageNums}"><span
						class="page-link" th:if="${pageInfo.pageNum eq page}"
						th:text="${page}"></span> <a class="page-link"
						th:unless="${pageInfo.pageNum eq page}"
						th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page}}</a></li>
					<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
						class="page-link"
						th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
						rel="next">»</a></li>
					<li class="page-item disabled"
						th:unless="${pageInfo.hasNextPage}"><span
						class="page-link">»</span></li>
				</ul>
			</nav>
			
		</div>
		<script>
		
			// 페이징 처리
			function gopage(p) {
			location.href = '/mConsult?pageNum=' + p;
			}
		
			//채팅방 연결
			$(".consultChat").on("click", function(e) {
				let consultNo = $(e.target).prev().val();
				console.log(consultNo);
				let memberId = $("#memberId").val();
				//console.log(memberId);
				location.href="/consultChat.do?consultNo="+consultNo;
			})
			
			$(".consultReview").on("click", function(e){
				location.href="/conReview";
			})

			$(".qnaList").on("click", function(e) {
				location.href = "/qnaList.do";
			})
		</script>
	</div>

</body>
</html>