<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Layout - Voler Admin Dashboard</title>
    
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    
    <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
<style>

#testDiv{
	width:700px;
	margin:0 auto;
}
 
</style>
</head>
<body layout:fragment="content">
<div class="text-center">
        <h1 class="display-5 mb-5">Class Review</h1>
    </div>
<div class="col-md-6 col-12" id="testDiv">
                <div class="card">
                    <div class="card-header">
                    <h4 class="card-title">Guide의 Class에 대한 리뷰를 작성해주세요.</h4>
                    </div>
                    <div class="card-content">
                    <div class="card-body">
                        <form class="form form-vertical">
                        <div class="form-body">
                            <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                <label for="first-name-vertical">작성자 아아디</label>
                                <input type="text" id="first-name-vertical" class="form-control" name="fname"
                                    placeholder="Id">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                <label for="email-id-vertical">작성자 닉네임</label>
                                <input type="email" id="email-id-vertical" class="form-control" name="email-id"
                                    placeholder="NickName">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                               <label for="email-id-vertical">별점 /</label>
                                ⭐⭐⭐⭐⭐ 
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">리뷰내용</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="introduce yourself"></textarea>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="form-group">
                                <label for="email-id-vertical">작성일자</label>
                                <input type="date" id="email-id-vertical" class="form-control" name="email-id">
                                </div>
                            </div>
                            
                            
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary mr-1 mb-1">Submit</button>
                                <button type="reset" class="btn btn-light-secondary mr-1 mb-1">Reset</button>
                            </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    </div>
                </div>
                </div>
                
    <script type="text/javascript">
    
    
    </script>            
    <script src="assets/js/feather-icons/feather.min.js"></script>
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/app.js"></script>
    
    <script src="assets/js/main.js"></script>
    
</body>
</html>