<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
 <meta charset="utf-8">
    <title>Securex - CCTV Camera Website Template</title>
    <script src="js/jquery-3.6.0.min.js"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
<style>
	.modal-body {
		padding: 10%;
	}
	.modal {
		width: 100%;
	}
	.table{
		text-align: center;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	
	.table td img{
		max-width: 100%;
	}
	.alert {
	    position: relative;
	    padding: 2rem 2rem;
	    margin-bottom: 1rem;
	    border: none solid transparent;
	    border-radius: 0.25rem;
	    font-size: 1.6rem;
	}
</style>
</head>
<body>
<div layout:fragment="content">
	<div class="card">
			<input type="hidden" id="memberId" th:value="${#authentication.principal.member.memberId}" /> 
						<div class="alert alert-light-primary color-primary">마이페이지</div>
						<div class="card-body">
							<div class="row">
								<table class="table table-bordered">
									<tr>
										<!-- 사진 수정하기 -->
										<td colspan="1"><img style="width: 200px; height: 200px;" src="images/icon/guide.png"></td>
										<td colspan="3">
											<h1 class=" mb-4">Follower</h1>
											<div class="ms-4">
												<a data-toggle="modal" data-target="#exampleModalScrollable"> 
			                                    	<img src="images/icon/follow.png" style="width: 50px; height: 50px; cursor:pointer;" alt="Icon">
			                                    </a>
			                                    <!-- follow modal -->
		                 						<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
		                    							aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
								                    <div class="modal-dialog modal-dialog-scrollable" role="document">
								                        <div class="modal-content">
									                        <div class="modal-header">
									                            <h5 class="modal-title" id="exampleModalScrollableTitle"> Follow </h5>
									                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									                            <i data-feather="x"></i>
									                            </button>
									                        </div>
									                        <div class="modal-body" style="margin: 0px;text-align: center;">
									                    		<table class='form-group' >                   
									                    			<thead>
									                        			<tr>
												                            <th>USER ID</th>
												                            <th>NICK NAME</th>
												                            <th>DUTY</th>
												                            <th>UNFOLLOW</th>
									                       				</tr>
									                    			</thead> 
									                    			<tbody id="followBody">
									                    			</tbody>
									                    		</table>
									                        </div>
									                        <div class="modal-footer">
									                            <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">
									                            <i class="bx bx-x d-block d-sm-none"></i>
									                            <span class="d-none d-sm-block">Close</span>
									                            </button>                       
									                        </div>
								                        </div>
								                    </div>
		                    					</div>
		                    					<div class="btn-square" id="fcount" style="width: 64px; height: 64px; display: inline-block;"></div>
		                                    </div>
										</td>
									</tr>
								</table>
								<!-- 목록 -->
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>My Consult</td>
											<th>My Class</th>
											<th>My Writer</th>
											<th>Start Guide</th>
										</tr>
									</thead>
									<tr>
										<td><img class="img-fluid" src="images/icon/consult.png" style="width: 150px; height: 150px;" alt="Icon"></td>
										<td><img class="img-fluid" src="images/icon/class.png" style="width: 150px; height: 150px;" alt="Icon"></td>
										<td><img class="img-fluid" src="images/icon/edit.png" style="width: 150px; height: 150px;"></td>
										<td><img class="img-fluid" src="images/icon/userList.png" style="width: 150px; height: 150px;" alt="Icon"></td>
									</tr>
									<tr>
										<td>상담중인 내역을 보는 곳입니다.</td>
										<td>진행중인 클래스를 보는 곳입니다.</td>
										<td>작성한 게시물을 보는 곳입니다.</td>
										<td>가이드를 신청하는 곳입니다.</td>
									</tr>
									<tr>
										<td><button id="myConsult" style="width: 150px;" class="btn btn-sm btn-primary">Consult</button></td>
										<td><button id="myClass" style="width: 150px;" class="btn btn-sm btn-primary">Class</button></td>
										<td><button id="mywriter" style="width: 150px;" class="btn btn-sm btn-primary">My Writer</button></td>
										<td><button id="gapply" style="width: 150px;" class="btn btn-sm btn-primary">Start Guide</button></td>
									</tr>
								</table>
							</div>
						</div>
						
						<div class="text-center">
                			<a class="btn" href="/pwChkForm.do">회원수정</a>
           	 			</div><br>
             		<!--Disabled Backdrop Modal -->
           	 			<!--  회원정보 수정 쪽으로 회원 탈퇴 이동 (하은) 
             		<a class="btn block" data-toggle="modal" data-backdrop="false" data-target="#backdrop">회원탈퇴</a>
                  
                  <div class="modal fade text-left" id="backdrop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
	                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
	                    
	                        <div class="modal-content">
		                        <div class="modal-header">
		                            <h4 class="modal-title" id="myModalLabel4">회원 탈퇴</h4>
		                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                            <i data-feather="x"></i>
		                            </button>
			                    </div>
		                        <div class="modal-body">
		                            <p>
			                            가입된 회원정보 모두 삭제 됩니다. 작성하신 게시물은 삭제되지 않습니다.
										탈퇴 후 같은 계정으로 재가입시 기존에 가지고 있던 적립금은 복원되지 않습니다.
										회원탈퇴를 진행하시겠습니까?
		                            </p>
		                        </div>
		                        <div class="modal-footer">
		                            <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
		                            <i class="bx bx-x d-block d-sm-none"></i>
		                            <span class="d-none d-sm-block">취소</span>
		                            </button>
		                            <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
		                            <i class="bx bx-check d-block d-sm-none"></i>
		                            <span class="d-none d-sm-block">탈퇴하기</span>
		                            </button>
		                        </div>
                          </div>
                          
                    </div>
                  </div>-->
                    <input type="hidden"  id="memberId" th:value="${#authentication.principal.member.memberId}">
	</div>
	    <script type="text/javascript">
    
        let memberId = $("#memberId").val();   
        
        //상담
       	$("#myConsult").on("click", function(){
       		location.href = "/mConsult?";
       	})
        
        //클래스
        $("#myClass").on("click", function(){
       		location.href = "/mClass?";
       	})
       	
        // 내가 쓴글 
          $("#mywriter").on("click", function() {
        	location.href = "/myWriter?"
        })
        
        // 가이드 신청 폼
        $("#gapply").on("click", function() {
        	location.href = "/gApply?";
        })
        
        // 팔로우 리스트 띄우기
        function followList() {
        	$.ajax({
        		url : "/followList.do",
        		type : "get",
        		data : {'memberId' : memberId},
        		beforeSend : function(xhr) {
        			xhr.setRequestHeader("AJAX", true);
			    	xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken);
        		},
        		success : function(data) {
        		//	      console.log(data.length);
        			    $("#fcount").append(makeH(data));
            	     data.forEach(element=>{
        				$("#followBody").append(makeTr(element));
        		//		 console.log(element);
            		})  
        		}
        	})
        }
        
             function makeTr(data) {
        		let tr = $("<tr>").append($("<td>").html(data.guideId))
        						  .append($("<td>").html(data.nick))
        						  .append($("<td>").html(data.cdName))
        						  .append($("<td>").append($("<div>").append($("<button>").addClass("btn").addClass("deletF").addClass("btn-outline-primary").html("unfo"))))
       	 		return tr;
        }  

             function makeH(data) {
         		let h2 = $("<h2>").addClass("mb-1").html(data.length)
        	 		return h2;
         } 
             
             // 언팔로우
            $(document).on("click",".deletF", function(e) {
        	   let deleteF = $(e.target).closest("tr").children(0).html();
        	   console.log(deleteF);
        	   console.log(memberId);
        	   $.ajax({
        		   url : "/followDelete.do",
        		   type : "get",
        		   data : {'guideId' : deleteF, 'memberId' : memberId},
        		   beforeSend : function(xhr) {
        			   xhr.setRequestHeader("AJAX", true);
					   xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken);
        		   },
        		   success : function(data) {
        			   console.log(data);
        			   if(data == 1) {
        				   $("#followBody").empty();
        				   $("#fcount").empty();
        				   followList();
        				   
        			   }
        		   }
        	   })
           })  
    	  
               	
    	$(document).ready(function(){    
				followList(); //페이지 로딩시 follow목록, follow수 출력
			});
    </script>
</div>

</body>
</html>