<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navs - Voler Admin Dashboard</title>
    
    <link rel="stylesheet" href="bootstrap/voler/assets/css/bootstrap.css">
    
    <link rel="stylesheet" href="bootstrap/voler/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="bootstrap/voler/assets/css/app.css">
    <link rel="shortcut icon" href="bootstrap/voler/assets/images/favicon.svg" type="image/x-icon">
    <script src="js/jquery-3.6.0.min.js"></script>
<link rel="apple-touch-icon" sizes="76x76"
	href="bootstrap/material/assets/img/apple-icon.png">
<link rel="icon" type="image/png"
	href="bootstrap/material/assets/img/favicon.png">
<title>스터디게시판</title>
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
<!-- Nucleo Icons -->
<link href="bootstrap/material/assets/css/nucleo-icons.css"
	rel="stylesheet" />
<link href="bootstrap/material/assets/css/nucleo-svg.css"
	rel="stylesheet" />
<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js"
	crossorigin="anonymous"></script>
<!-- Material Icons -->
<link
	href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
	rel="stylesheet">
<!-- CSS Files -->
<link id="pagestyle"
	href="bootstrap/material/assets/css/material-dashboard.css?v=3.0.0"
	rel="stylesheet" />

    <style>
   #center {
	margin:0 auto;
	}
	
	.form-select {
    width: auto;
    }
    .table {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
}

.row {
	margin-top: 50px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#insertBtn{
	float: right;
	margin-right: 50px;
}
    </style>
</head>
<body layout:fragment="content">
<div class="text-center">
        <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
        <h1 class="display-5 mb-5">My Page</h1>
    </div>
  <div class="row" id="center">
                    <div >
                        <h5 class="card-title">내가 쓴 게시물</h5>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                                    aria-selected="true">스터디</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                                    aria-selected="false">자유게시판</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                                    aria-selected="false">Q&A</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active"  id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="card-body px-0 pb-2">
					<div class="table-responsive p-0">
						<table class="table align-items-center mb-0">
							<thead>
								<tr>
									<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7">글번호</th>
									<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7 ps-2">글제목</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">작성자</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">작성일자</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">조회수</th>
								</tr>
							</thead>
							<tbody id="studyList">
								<tr th:each="study : ${pageInfo.list}" th:if="${study.ctgry == '스터디' }">
									<td><p class="text-md text-secondary mb-0"  th:text="${study.comNo}">글번호</p></td>
									<td><p class="text-md text-secondary mb-0" th:text="${study.title}">글제목</p></td>
									<td><p class="text-md text-secondary mb-0" th:text="${study.memberId}">작성자</p></td>
									<td><p class="text-md text-secondary mb-0" th:text="${study.dt}">작성일자</p></td>
									<td><p class="text-md text-secondary mb-0" th:text="${study.hit}">조회수</p></td>
								</tr>
							</tbody>
						</table>
					</div>
						<!-- 페이지네이션 -->
						<nav aria-label="Page navigation example">
							<ul class="pagination pagination-info  justify-content-center">
								<li class="page-item disabled"
									th:if="${pageInfo.isIsFirstPage()}"><span
									class="page-link">«</span></li>
								<li class="page-item"
									th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
									rel="prev">«</a></li>
								<li
									th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
									th:each="page:${pageInfo.navigatepageNums}"><span
									class="page-link" th:if="${pageInfo.pageNum eq page}"
									th:text="${page}"></span> <a class="page-link"
									th:unless="${pageInfo.pageNum eq page}"
									th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
										}}</a></li>
								<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
									rel="next">»</a></li>
								<li class="page-item disabled"
									th:unless="${pageInfo.hasNextPage}"><span
									class="page-link">»</span></li>
							</ul>
						</nav>
				</div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                 <div class="card-body px-0 pb-2">
					<div class="table-responsive p-0">
						<table class="table align-items-center mb-0">
							<thead>
								<tr>
									<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7">글번호</th>
									<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7 ps-2">글제목</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">작성자</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">작성일자</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">조회수</th>
								</tr>
							</thead>
							<tbody id="freeList">
								<tr th:each="study : ${pageInfo.list}">
									<td><p class="text-md text-secondary mb-0" th:if="${study.ctgry == '자유게시판' }" th:text="${study.comNo}">글번호</p></td>
									<td><p class="text-md text-secondary mb-0" th:if="${study.ctgry == '자유게시판' }" th:text="${study.title}">글제목</p></td>
									<td><p class="text-md text-secondary mb-0" th:if="${study.ctgry == '자유게시판' }" th:text="${study.memberId}">작성자</p></td>
									<td><p class="text-md text-secondary mb-0" th:if="${study.ctgry == '자유게시판' }" th:text="${study.dt}">작성일자</p></td>
									<td><p class="text-md text-secondary mb-0" th:if="${study.ctgry == '자유게시판' }" th:text="${study.hit}">조회수</p></td>
								</tr>
							</tbody>
						</table>
					</div>
						<!-- 페이지네이션 -->
						<nav aria-label="Page navigation example">
							<ul class="pagination pagination-info  justify-content-center">
								<li class="page-item disabled"
									th:if="${pageInfo.isIsFirstPage()}"><span
									class="page-link">«</span></li>
								<li class="page-item"
									th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
									rel="prev">«</a></li>
								<li
									th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
									th:each="page:${pageInfo.navigatepageNums}"><span
									class="page-link" th:if="${pageInfo.pageNum eq page}"
									th:text="${page}"></span> <a class="page-link"
									th:unless="${pageInfo.pageNum eq page}"
									th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
										}}</a></li>
								<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
									rel="next">»</a></li>
								<li class="page-item disabled"
									th:unless="${pageInfo.hasNextPage}"><span
									class="page-link">»</span></li>
							</ul>
						</nav>
				</div>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <p class='my-2'>Q&A게시판에 내가 작성한 게시글이없습니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                	
                function gopage(p) {
				location.href = '/myWriter?pageNum=' + p;
				}
                
            	$("#studyList").on(
    					"click",
    					function(e) {
    						let comNo = $(e.target).closest("tr").children(1)
    								.children(1).html();
    						location.href = "/selectCommunity.do?comNo=" + comNo;
    					})
    					
    			$("#freeList").on(
					"click",
					function(e) {
						let comNo = $(e.target).closest("tr").children(1)
								.children(1).html();
						location.href = "/selectFree.do?comNo=" + comNo;
					})	
    					
    					
                </script>
                    
    
    <!-- 페이징 처리 -->
    <script src="bootstrap/voler/assets/js/feather-icons/feather.min.js"></script>
 
	<script src="bootstrap/voler/assets/vendors/simple-datatables/simple-datatables.js"></script>
	<script src="bootstrap/voler/assets/js/vendors.js"></script>
	

</body>
</html>