<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navs - Voler Admin Dashboard</title>
    
<title>스터디게시판</title>


    <style>
   #center {
	margin:0 auto;
	}
	
	.form-select {
    width: auto;
    }
    .table {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
}

.row {
	margin-top: 50px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#insertBtn{
	float: right;
	margin-right: 50px;
}
    </style>
</head>
<body layout:fragment="content">
<div class="text-center">
        <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
        <h1 class="display-5 mb-5">My Page</h1>
    </div>
  <div class="row" id="center">
                    <div >
                        <h5 class="card-title">내가 쓴 게시물</h5>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                                    aria-selected="true">스터디</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                                    aria-selected="false">자유게시판</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                                    aria-selected="false">Q&A</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                        
                        <!-- 스터디게시판 -->
                            <div class="tab-pane fade show active"  id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="card-body px-0 pb-2">
					<div class="table-responsive p-0" th:if="${#lists.isEmpty(pageInfo.list)}">
						<p>스터디게시판에 작성한 게시글이 없습니다.</p>						
					</div>
					
					<div class="table-responsive p-0" th:unless="${#lists.isEmpty(pageInfo.list)}">
						<table class="table align-items-center mb-0">
							<thead>
								<tr>
									<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7">글번호</th>
									<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7 ps-2">글제목</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">작성자</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">작성일자</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">조회수</th>
								</tr>
							</thead>
							<tbody id="studyList">
								<tr th:each="study : ${pageInfo.list}" >
									<td><p class="text-md text-secondary mb-0"  th:text="${study.comNo}">글번호</p></td>
									<td><p class="text-md text-secondary mb-0" th:text="${study.title}">글제목</p></td>
									<td><p class="text-md text-secondary mb-0" th:text="${study.memberId}">작성자</p></td>
									<td><p class="text-md text-secondary mb-0" th:text="${study.dt}">작성일자</p></td>
									<td><p class="text-md text-secondary mb-0" th:text="${study.hit}">조회수</p></td>
								</tr>
							</tbody>
							
						</table>
					</div><br>
						<!-- 페이지네이션 -->
						<nav aria-label="Page navigation example">
							<ul class="pagination pagination-info  justify-content-center">
								<li class="page-item disabled"
									th:if="${pageInfo.isIsFirstPage()}"><span
									class="page-link">«</span></li>
								<li class="page-item"
									th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
									rel="prev">«</a></li>
								<li
									th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
									th:each="page:${pageInfo.navigatepageNums}"><span
									class="page-link" th:if="${pageInfo.pageNum eq page}"
									th:text="${page}"></span> <a class="page-link"
									th:unless="${pageInfo.pageNum eq page}"
									th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
										}}</a></li>
								<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
									rel="next">»</a></li>
								<li class="page-item disabled"
									th:unless="${pageInfo.hasNextPage}"><span
									class="page-link">»</span></li>
							</ul>
						</nav>
				</div>
                            </div>
                            
                            <!-- 자유게시판 -->
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                 <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0" th:if="${#lists.isEmpty(pagefo.list)}">
								<p>자유게시판에 작성한 게시글이 없습니다.</p>						
						    </div>
                                 
					<div class="table-responsive p-0" th:unless="${#lists.isEmpty(pagefo.list)}">
						<table class="table align-items-center mb-0">
							<thead>
								<tr>
									<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7">글번호</th>
									<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7 ps-2">글제목</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">작성자</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">작성일자</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">조회수</th>
								</tr>
							</thead>
							<tbody id="freeList">
								<tr th:each="study : ${pagefo.list}" >
									<td><p class="text-md text-secondary mb-0" th:text="${study.comNo}">글번호</p></td>
									<td><p class="text-md text-secondary mb-0" th:text="${study.title}">글제목</p></td>
									<td><p class="text-md text-secondary mb-0" th:text="${study.memberId}">작성자</p></td>
									<td><p class="text-md text-secondary mb-0" th:text="${study.dt}">작성일자</p></td>
									<td><p class="text-md text-secondary mb-0" th:text="${study.hit}">조회수</p></td>
								</tr>
							</tbody>
						</table>
					</div><br>
						<!-- 페이지네이션 -->
						<nav aria-label="Page navigation example">
							<ul class="pagination pagination-info  justify-content-center">
								<li class="page-item disabled"
									th:if="${pagefo.isIsFirstPage()}"><span
									class="page-link">«</span></li>
								<li class="page-item"
									th:if="${!pagefo.isIsFirstPage() && pagefo.getList().size() > 0}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pagefo.getPrePage()}]])|"
									rel="prev">«</a></li>
								<li
									th:class="|page-item ${(pagefo.pageNum eq page) ? 'active': ''} |"
									th:each="page:${pagefo.navigatepageNums}"><span
									class="page-link" th:if="${pagefo.pageNum eq page}"
									th:text="${page}"></span> <a class="page-link"
									th:unless="${pagefo.pageNum eq page}"
									th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
										}}</a></li>
								<li class="page-item" th:if="${pagefo.hasNextPage}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pagefo.getNextPage()}]])|"
									rel="next">»</a></li>
								<li class="page-item disabled"
									th:unless="${pagefo.hasNextPage}"><span
									class="page-link">»</span></li>
							</ul>
						</nav>
				</div>
                            </div>
                            
                            <!-- Q&A 게시판 -->
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                 <div class="card-body px-0 pb-2">
                              <div class="table-responsive p-0" th:if="${#lists.isEmpty(pageOutfo.list)}">
								<p>Q&A게시판에 작성한 게시글이 없습니다.</p>						
						      </div>
                                 
					<div class="table-responsive p-0" th:unless="${#lists.isEmpty(pageOutfo.list)}">
						<table class="table align-items-center mb-0">
							<thead>
								<tr>
									<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7">글번호</th>
									<th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7 ps-2">글제목</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">작성자</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">작성일자</th>
									<th class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">조회수</th>
								</tr>
							</thead>
							<tbody id="csList">
								<tr th:each="cs : ${pageOutfo.list}">
									<td><p class="text-md text-secondary mb-0" th:text="${cs.csNo}">글번호</p></td>
									<td><p class="text-md text-secondary mb-0 title" th:text="${cs.title}">글제목</p></td>
									<td><p class="text-md text-secondary mb-0" th:text="${cs.memberId}">작성자</p></td>
									<td><p class="text-md text-secondary mb-0" th:text="${cs.dt}">작성일자</p></td>
									<td><p class="text-md text-secondary mb-0" th:text="${cs.hit}">조회수</p></td>
								</tr>
							</tbody>
						</table>
					</div><br>
						<!-- 페이지네이션 -->
						<nav aria-label="Page navigation example">
							<ul class="pagination pagination-info  justify-content-center">
								<li class="page-item disabled"
									th:if="${pageOutfo.isIsFirstPage()}"><span
									class="page-link">«</span></li>
								<li class="page-item"
									th:if="${!pageOutfo.isIsFirstPage() && pageOutfo.getList().size() > 0}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageOutfo.getPrePage()}]])|"
									rel="prev">«</a></li>
								<li
									th:class="|page-item ${(pageOutfo.pageNum eq page) ? 'active': ''} |"
									th:each="page:${pageOutfo.navigatepageNums}"><span
									class="page-link" th:if="${pageOutfo.pageNum eq page}"
									th:text="${page}"></span> <a class="page-link"
									th:unless="${pageOutfo.pageNum eq page}"
									th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
										}}</a></li>
								<li class="page-item" th:if="${pageOutfo.hasNextPage}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageOutfo.getNextPage()}]])|"
									rel="next">»</a></li>
								<li class="page-item disabled"
									th:unless="${pageOutfo.hasNextPage}"><span
									class="page-link">»</span></li>
							</ul>
						</nav>
				</div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                	
                function gopage(p) {
				location.href = '/myWriter?pageNum=' + p;
				}
                
            	$("#studyList").on(
    					"click",
    					function(e) {
    						let comNo = $(e.target).closest("tr").children(1)
    								.children(1).html();
    						console.log(comNo);
    						location.href = "/selectCommunity.do?comNo=" + comNo;
    					})
    					
    			$("#freeList").on(
					"click",
					function(e) {
						let comNo = $(e.target).closest("tr").children(1)
								.children(1).html();
						console.log(comNo);
						location.href = "/selectFree.do?comNo=" + comNo;
					})	
    					

				$("#csList").on("click", ".title",  function(e){
					let csNo = $(e.target).closest("tr").children().children().html();
					console.log(csNo); //단건조회로 넘기기
					location.href="csSelect.do?csNo="+csNo;
				})		
				
                </script>
                    
    
    <!-- 페이징 처리 -->

</body>
</html>