<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.itrip.prj.guide.mapper.GuideMapper">

<select id="guideSelectList" >
	
</select>

<!-- 가이드 마이페이지 들어갈때, 가이드 상담 신청할때 단건조회 [박은지]-->
<select id="guideSelect" resultType="co.itrip.prj.guide.service.GuideVO">
	 select g.guide_id
		,g.career
		,g.dc
		,g.duty
		,g.attach
		,g.attach_dir
		,g.state_cd
		,g.dt
		,star
              ,c.cd_name
              ,case  when g.career= '1' then '신입(1년 이하)'
                  when g.career= '2' then '주니어(1년 ~ 3년)'
                  when g.career= '3' then '미들(4년 ~ 8년)'
                  when g.career= '4' then '시니어(9년 이상)'
                  when g.career= '5' then 'Lead레벨(15년 이상)'
               else ' '
           end as care
		from guide g, cmmncd c 
		where g.duty = c.cd_no
              and c.cd_ini='D'
              and guide_id = #{guideId}
</select>

<!-- 유저 가이드 신청 [권소정] -->
<insert id="guideInsert" parameterType="co.itrip.prj.guide.service.GuideVO">
	INSERT INTO GUIDE VALUES(#{guideId},#{career},#{dc},#{duty},#{attach},#{attachDir},'S1',sysdate,0)
</insert>

<!-- 가이드 정보수정 [박은지] -->
<update id="guideUpdate"> 
	update guide
	<set>
		<if test="career != null ">career = #{career},</if>
		<if test="dc != null">dc = #{dc},</if>
		<if test="duty != null">duty = #{duty}</if>
	</set>
	where guide_id = #{guideId}
</update>

<delete id="guideDelete"></delete>
</mapper>