<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.itrip.prj.guide.mapper.GuideMapper">


<!-- 가이드 정보 수정 페이지 [박은지]-->
<select id="guideSelect" resultType="co.itrip.prj.guide.service.GuideVO">
	 SELECT G.GUIDE_ID
		,G.CAREER
		,G.DC
		,G.DUTY
		,G.ATTACH
		,G.ATTACH_DIR
		,G.STATE_CD
		,G.DT
		,STAR
             ,C.CD_NAME
             ,CASE  WHEN G.CAREER= '1' THEN '신입(1년 이하)'
                 WHEN G.CAREER= '2' THEN '주니어(1년 ~ 3년)'
                 WHEN G.CAREER= '3' THEN '미들(4년 ~ 8년)'
                 WHEN G.CAREER= '4' THEN '시니어(9년 이상)'
                 WHEN G.CAREER= '5' THEN 'Lead레벨(15년 이상)'
              ELSE ' '
           END AS CARE
		FROM GUIDE G, CMMNCD C 
		WHERE G.DUTY = C.CD_NO
              AND C.CD_INI='D'
              AND GUIDE_ID = #{guideId}
</select>

<!-- 가이드마이페이지에 내가 등록한 클래스 리스트 [박은지] -->
<select id='myIClassList' resultType="co.itrip.prj.iclass.service.ClassVO">
     SELECT C.* , DT.MINDT, DT.MAXDT, 
     				CASE WHEN  SYSDATE BETWEEN TO_DATE(MINDT, 'yyyy-mm-dd') AND TO_DATE(MAXDT, 'yyyy-mm-dd') THEN '진행중'
                    <![CDATA[WHEN  SYSDATE < TO_DATE(MINDT, 'yyyy-mm-dd') THEN '개설전']]> <!--  Query안에 사용되고 있는 부등호가 문자열이라는 것을 의미 -->
                    ELSE '종료'
                    END ST
        FROM CLASS C , ( SELECT CLASS_NO, MIN(TERM) MINDT , MAX(TERM) MAXDT 
                            FROM CLASS_DT
                            GROUP BY CLASS_NO) DT
        WHERE C.CLASS_NO = DT.CLASS_NO
        AND C.CONFM_CD = '2'
        AND C.GUIDE_ID= #{guideId}
</select>

<!-- 클래스 수강생 리스트 [박은지] -->
<select id="userList" resultType="co.itrip.prj.iclass.service.ClassVO">
		SELECT C.TITLE, P.MEMBER_ID, P.SETLEDE
		FROM CLASS C, PAYFORM P
		WHERE C.CLASS_NO = P.NO
		AND UPPER(P.CATEGORY) = 'CLASS'
		AND C.GUIDE_ID = #{guideId}
</select> 




<!-- 가이드 정보수정 처리 [박은지] -->
<update id="guideUpdate"> 
	UPDATE GUIDE
	<set>
		<if test="career != null ">CAREER = #{career},</if>
		<if test="dc != null">DC = #{dc},</if>
		<if test="duty != null">DUTY = #{duty}</if>
	</set>
	WHERE GUIDE_ID = #{guideId}
</update>


<!-- ========================================================================= -->

<!-- 유저 가이드 신청 [권소정] -->
<insert id="guideInsert" parameterType="co.itrip.prj.guide.service.GuideVO">
	INSERT INTO GUIDE VALUES(#{guideId},#{career},#{dc},#{duty},#{attach},#{attachDir},'1',sysdate,0)
</insert>



<delete id="guideDelete">
	delete from guide where guide_id=#{guideId}
</delete>

</mapper>
