<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.itrip.prj.guide.mapper.GuideMapper">

<select id="guideSelectList" >
	
</select>

<select id="guideSelect" >

</select>

<insert id="guideInsert" parameterType="co.itrip.prj.guide.service.GuideVO">
	INSERT INTO GUIDE VALUES(#{guideId, jdbcType=VARCHAR},#{career, jdbcType=VARCHAR},#{dc, jdbcType=VARCHAR},#{duty, jdbcType=VARCHAR},#{attach, jdbcType=VARCHAR},#{attachDir, jdbcType=VARCHAR},'S1',sysdate,0)
</insert>

<update id="guideUpdate"></update>

<delete id="guideDelete"></delete>
</mapper>